{% extends "core/home.html" %}
{% load static %}
{% block scripts %}

    <script type="text/javascript" src="{% static "core/js/like-dislike.js" %}"></script>

{% endblock %}
{% block title %} Форум | {{ category }} — CIS-HAXBALL {% endblock %}

{% block postlist %}
    <div class="tw:card tw:mt-2 tw:bg-base-100 tw:rounded-4xl">
        <div class="tw:card-body tw:rounded-t-4xl tw:gap-0 tw:py-4">
            <h3 class="tw:text-center tw:mb-0">
                <i class="fa fa-list-alt tw:text-primary tw:mr-1" aria-hidden="true"></i>{{ category }}
            </h3>
            {% if user.is_authenticated and not category.is_official %}
                <a href="{% url 'core:new_post' category.slug %}" class="tw:text-lg">
                    <i class="fa fa-pencil tw:text-warning tw:mr-1" aria-hidden="true"></i>Создать пост
                </a>
            {% endif %}
            <div class="tw:divider tw:my-0!"></div>

            {% for post in posts %}
                {% include "core/include/post_important_in_list.html" with post=post %}
            {% endfor %}
        </div>

        {% if category.posts_in_category.all.count > 6 %}
            <div class="tw:flex tw:justify-center tw:rounded-b-4xl tw:bg-base-200 tw:border-t tw:border-gray-300">
                {% include "core/include/pagination.html" with page=posts %}
            </div>
        {% endif %}
    </div>
{% endblock %}