{% load static %}
{% load tournament_extras %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "tournament/include/player_stats_summary.css" %}">
{% endblock %}

{% partialdef player-stats %}
  <div class="tw:flex tw:items-center">
    {% if player.id in time_played_by_player %}<div class="player-stats">({{ time_played_by_player|get:player.id }})</div>{% endif %}
    <div class="tw:flex tw:items-center tw:gap-1 tw:pl-1 tw:text-base">
      <img class="tw:m-1"
           src="{{ player.player_nation.flag.url }}"
           width="24"
           height="24"
           title="{{ player.player_nation.country }}">
      {% if player.name %}
        <a class="tw:link tw:link-hover tw:text-base-content/90 tw:font-semibold tw:mr-1"
           href="{{ player.name.user_profile.get_absolute_url }}">{{ player }}</a>
      {% else %}
        <span class="tw:text-base-content/80 tw:mr-1">{{ player }}</span>
      {% endif %}
    </div>
    <div class="tw:text-left tw:pl-0 tw:font-weight-bold">
      <span class="player-stats tw:ml-1">
        {% if player.id in clean_sheets_by_player %}
          <div class="tw:inline-flex tw:h-[20px]">
            <img class="player-stats-icon" src="{% static 'img/ico/clean_sheet1.png' %}" title="Сухой тайм">
            {% if clean_sheets_by_player|get:player.id > 1 %}
              <span class="player-stats-count">x{{ clean_sheets_by_player|get:player.id }}</span>
            {% endif %}
          </div>
        {% endif %}
        {% if player.id in goals_by_player %}
          <div class="tw:inline-flex tw:h-[20px]">
            <img class="player-stats-icon" src="{% static 'img/ico/ball_2.png' %}" title="Гол">
            {% if goals_by_player|get:player.id > 1 %}<span class="player-stats-count">x{{ goals_by_player|get:player.id }}</span>{% endif %}
          </div>
        {% endif %}
        {% if player.id in assists_by_player %}
          <div class="tw:inline-flex tw:h-[20px]">
            <img class="player-stats-icon" src="{% static 'img/ico/boot_ass_2.png' %}" title="Голевая передача">
            {% if assists_by_player|get:player.id > 1 %}<span class="player-stats-count">x{{ assists_by_player|get:player.id }}</span>{% endif %}
          </div>
        {% endif %}
      </span>
    </div>
  </div>
{% endpartialdef %}

<div class="tw:flex tw:justify-center">
  <div class="tw:flex tw:flex-col tw:gap-4">
    {% for player in players %}
      {% with player=player %}
        {% partial player-stats %}
      {% endwith %}
    {% endfor %}

    {% if subs|length > 0 %}
      <div class="tw:divider tw:my-1">Замены</div>
      {% for sub in subs %}
        {% with player=sub %}
          {% partial player-stats %}
        {% endwith %}
      {% endfor %}
    {% endif %}
  </div>
</div>
