{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load tournament_extras %}


<style>
    .table td, .table th {
        padding: 0.5rem;
    }
    .table .number {
        font-family: 'Quicksand', sans-serif;
        font-size: 12pt;
    }

    .table .text {
        font-family: 'Montserrat', serif;
    }

    td img {
        width: 26px;
        height: 26px;
    }

    .number {
        font-family: 'Quicksand', sans-serif;
        font-size: 12pt;
    }
</style>

<div class="tw:card tw:px-2 tw:bg-base-100 tw:rounded-b-lg">
    <div class="tw:tabs tw:tabs-lg tw:tabs-border tw:gap-x-2 tw:bg-base-100 tw:p-0! tw:rounded-b-lg">
        <input type="radio" name="player-stats-tabs" class="tw:tab tw:px-3! tw:shadow-none!" aria-label="Общее" checked />
        <div class="tw:tab-content tw:pt-2 tw:border-0">
            <div id="general-stats-panel" role="tabpanel" aria-labelledby="general-stats-tab">
                <table class="table tw:table tw:table-zebra tw:**:[tr]:border-[#dee2e6]!">
                    <thead>
                        <tr>
                            <th scope="col" class="tw:text-base tw:text-base-content tw:font-bold">Сезон</th>
                            <th scope="col" class="tw:text-base tw:text-base-content tw:font-bold">Команда</th>
                            <th scope="col" class="tw:text-base tw:text-base-content tw:font-bold">Турнир</th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/jersey.PNG" %}"
                                    title="Матчей сыграно">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/ball-alt.PNG" %}"
                                    title="Забито">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/boots-alt-alt.PNG" %}"
                                    title="Голевые передачи">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/ball-alt.PNG" %}"
                                    title="Забито" width="16" height="16">
                                +
                                <img
                                    src="{% static "img/ico/statistic/boots-alt-alt.PNG" %}"
                                    title="Голевые передачи" width="16" height="16">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/gloves-alt2.PNG" %}"
                                    title="Сухие таймы">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/sub-out-alt.PNG" %}"
                                    title="Заменён">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/sub-in-alt.PNG" %}"
                                    title="Вышел на замену">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img src="{% static "img/ico/statistic/dont-do.PNG" %}"
                                     title="Автоголы">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/yellow-card.PNG" %}"
                                    title="Жёлтые карточки">
                            </th>
                            <th scope="col" class="tw:text-center!"><img
                                src="{% static "img/ico/statistic/red-card.PNG" %}"
                                title="Красные карточки">
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for season, team_stats in stats|sorted_by_season %}
                            <tr>
                                <td class="tw:text-base tw:font-bold" rowspan="{{ stats|player_stats_rows_count:season}}">{{ season }}</td>

                                {% for team, league_stats in team_stats|dd_items %}
                                    <td rowspan="{{ league_stats|length }}" class="text">
                                        <img src="{{ team.logo.url }}" alt="{{ team.title }}"
                                             class="tw:mr-1 tw:align-bottom!">
                                        <a class="tw:link tw:link-hover tw:link-primary tw:font-semibold tw:text-base" href="{{ team.get_absolute_url }}">{{ team.short_title }}</a>

                                    </td>
                                    {% for league, stats in league_stats|sorted_by_league %}
                                        <td class="tw:font-semibold" style="font-size: 11pt;">
                                            <a href="{{ league.get_absolute_url }}" class="tw:link tw:link-hover tw:link-primary tw:font-semibold tw:text-base">{{ league.title }}</a>
                                        </td>
                                        {% for _, single_stat in stats|dd_items %}
                                            <td class="tw:text-center number">{{ single_stat }}</td>
                                        {% endfor %}
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                        {% endfor %}

                        <tr>
                            <th colspan="3" class="tw:text-center">
                            </th>
                            {% for single_stat in overall_stats %}
                                <td class="tw:text-center tw:font-bold number">{{ single_stat|floatformat:0 }}</td>
                            {% endfor %}
                        </tr>

                    </tbody>
                </table>

                <table class="table tw:table tw:table-zebra tw:**:[tr]:border-[#dee2e6]!">
                    <thead>
                        <tr class="text">
                            <th scope="col" class="tw:text-base tw:text-base-content tw:font-bold">Сезон</th>
                            <th scope="col" class="tw:text-base tw:text-base-content tw:font-bold">Команда</th>
                            <th scope="col" class="tw:text-base tw:text-base-content tw:font-bold">Турнир</th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/jersey.PNG" %}"
                                    title="Матчей сыграно">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/ball-alt.PNG" %}"
                                    title="Забито (в среднем за матч)">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/boots-alt-alt.PNG" %}"
                                    title="Голевые передачи (в среднем за матч)">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/ball-alt.PNG" %}"
                                    title="Забито" width="16" height="16">
                                +
                                <img
                                    src="{% static "img/ico/statistic/boots-alt-alt.PNG" %}"
                                    title="Голевые передачи" width="16" height="16">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/gloves-alt2.PNG" %}"
                                    title="Сухие таймы (в среднем за матч)">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/sub-out-alt.PNG" %}"
                                    title="Заменён (в среднем за матч)">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/sub-in-alt.PNG" %}"
                                    title="Вышел на замену (в среднем за матч)">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img src="{% static "img/ico/statistic/dont-do.PNG" %}"
                                     title="Автоголы (в среднем за матч)">
                            </th>
                            <th scope="col" class="tw:text-center!">
                                <img
                                    src="{% static "img/ico/statistic/yellow-card.PNG" %}"
                                    title="Жёлтые карточки (в среднем за матч)">
                            </th>
                            <th scope="col" class="tw:text-center!"><img
                                src="{% static "img/ico/statistic/red-card.PNG" %}"
                                title="Красные карточки (в среднем за матч)">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for season, team_stats in extra_stats|sorted_by_season %}
                            <tr>
                                <td class="tw:text-base tw:font-bold" rowspan="{{ extra_stats|player_stats_rows_count:season }}">{{ season }}</td>

                                {% for team, league_stats in team_stats|dd_items %}
                                    <td rowspan="{{ league_stats|length }}" class="text">
                                        <img src="{{ team.logo.url }}" alt="{{ team.title }}"
                                             class="tw:mr-1 tw:align-bottom!">
                                        <a class="tw:link tw:link-hover tw:link-primary tw:font-semibold tw:text-base" href="{{ team.get_absolute_url }}">{{ team.short_title }}</a>
                                    </td>
                                    {% for league, stats in league_stats|sorted_by_league %}
                                        <td class="tw:font-semibold" style="font-size: 11pt;">
                                            <a href="{{ league.get_absolute_url }}" class="tw:link tw:link-hover tw:link-primary tw:font-semibold tw:text-base">{{ league.title }}</a>
                                        </td>
                                        {% for _, single_stat in stats|dd_items %}
                                            <td class="tw:text-center number">
                                                {% if forloop.counter == 1 or single_stat == 0 %}
                                                    {{ single_stat|floatformat:0 }}
                                                {% else %}
                                                    {{ single_stat|floatformat:2 }}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        </tr>
                                    {% endfor %}
                                {% endfor %}

                        {% endfor %}

                        <tr>
                            <th colspan="3"></th>
                            {% for single_stat in overall_extra_stats %}
                                <td class="tw:text-center tw:font-bold number">
                                    {% if forloop.counter == 1 or single_stat == 0 %}
                                        {{ single_stat|floatformat:0 }}
                                    {% else %}
                                        {{ single_stat|floatformat:2 }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <input type="radio" name="player-stats-tabs" class="tw:tab tw:px-3! tw:shadow-none!" aria-label="Топ" />
        <div class="tw:tab-content tw:pt-2 tw:pb-2 tw:border-0">
            <div id="avg-stats-panel" role="tabpanel" aria-labelledby="avg-stats-tab">
                <table class="tw:table tw:table-zebra tw:**:[tr]:border-[#dee2e6]!">
                    <tbody class="tw:text-base">
                        <tr>
                            {% with match=other_stats.first_match %}
                                <th scope="row" class="tw:w-1/3">
                                    Первый матч
                                </th>
                                <td class="tw:text-left">
                                    {% if match %}
                                        <img src="{{match.team_home.logo.url}}" width=20 height=20>
                                        {{ match.team_home.title }}
                                        <a href="{{match.get_absolute_url}}" class="tw:link tw:link-hover tw:link-primary tw:font-semibold">
                                            {{ match.score_home }}:{{ match.score_guest }}
                                        </a>
                                        {{ match.team_guest.title }}
                                        <img src="{{match.team_guest.logo.url}}" width=20 height=20>
                                        ({{ match.league.championship }})
                                    {% else %}
                                        —
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>

                        <tr>
                            {% with goal=other_stats.fastest_goal match=other_stats.fastest_goal.match %}
                                <th scope="row" class="tw:w-1/3">
                                    Самый быстрый гол
                                </th>
                                <td class="tw:text-left">
                                    {% if goal %}
                                        {{ goal|goal_time }} -
                                        <img src="{{match.team_home.logo.url}}" width=20 height=20>
                                        {{ match.team_home.title }}
                                        <a href="{{match.get_absolute_url}}" class="tw:link tw:link-hover tw:link-primary tw:font-semibold">
                                            {{ match.score_home }}:{{ match.score_guest }}
                                        </a>
                                        {{ match.team_guest.title }}
                                        <img src="{{match.team_guest.logo.url}}" width=20 height=20>
                                        ({{ match.league }})
                                    {% else %}
                                        —
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>

                        <tr>
                            {% with goal=other_stats.latest_goal match=other_stats.latest_goal.match %}
                                <th scope="row" class="tw:w-1/3">
                                    Самый поздний гол
                                </th>
                                <td class="tw:text-left">
                                    {% if goal %}
                                        {{ goal|goal_time }} -
                                        <img src="{{match.team_home.logo.url}}" width=20 height=20>
                                        {{ match.team_home.title }}
                                        <a href="{{match.get_absolute_url}}" class="tw:link tw:link-hover tw:link-primary tw:font-semibold">
                                            {{ match.score_home }}:{{ match.score_guest }}
                                        </a>
                                        {{ match.team_guest.title }}
                                        <img src="{{match.team_guest.logo.url}}" width=20 height=20>
                                        ({{ match.league }})
                                    {% else %}
                                        —
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>

                        <tr>
                            {% with match=other_stats.most_goals_in_match %}
                                <th scope="row" class="tw:w-1/3">
                                    Больше всего голов за матч
                                </th>
                                <td class="tw:text-left">
                                    {% if match %}
                                        {{ match.goals }} -
                                        <img src="{{match.team_home.logo.url}}" width=20 height=20>
                                        {{ match.team_home.title }}
                                        <a href="{{match.get_absolute_url}}" class="tw:link tw:link-hover tw:link-primary tw:font-semibold">
                                            {{ match.score_home }}:{{ match.score_guest }}
                                        </a>
                                        {{ match.team_guest.title }}
                                        <img src="{{match.team_guest.logo.url}}" width=20 height=20>
                                        ({{ match.league }})
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>

                        <tr>
                            {% with match=other_stats.most_assists_in_match %}
                                <th scope="row" class="tw:w-1/3">
                                    Больше всего голевых передач за матч
                                </th>
                                <td class="tw:text-left">
                                    {% if match %}
                                        {{ match.assists }} -
                                        <img src="{{match.team_home.logo.url}}" width=20 height=20>
                                        {{ match.team_home.title }}
                                        <a href="{{match.get_absolute_url}}" class="tw:link tw:link-hover tw:link-primary tw:font-semibold">
                                            {{ match.score_home }}:{{ match.score_guest }}
                                        </a>
                                        {{ match.team_guest.title }}
                                        <img src="{{match.team_guest.logo.url}}" width=20 height=20>
                                        ({{ match.league }})
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>

                        <tr>
                            {% with match=other_stats.most_goals_assists_in_match %}
                                <th scope="row" class="tw:w-1/3">
                                    Больше всего результативных действий за матч
                                </th>
                                <td class="tw:text-left">
                                    {% if match %}
                                        {{ match.actions }} -
                                        <img src="{{match.team_home.logo.url}}" width=20 height=20>
                                        {{ match.team_home.title }}
                                        <a href="{{match.get_absolute_url}}" class="tw:link tw:link-hover tw:link-primary tw:font-semibold">
                                            {{ match.score_home }}:{{ match.score_guest }}
                                        </a>
                                        {{ match.team_guest.title }}
                                        <img src="{{match.team_guest.logo.url}}" width=20 height=20>
                                        ({{ match.league }})
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>

                        <tr>
                            {% with season=other_stats.most_goals_in_season %}
                                <th scope="row" class="tw:w-1/3">
                                    Больше всего голов за сезон
                                </th>
                                <td class="tw:text-left">
                                    {% if season %}
                                        {{ season.goals }} ({{ season }})
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>

                        <tr>
                            {% with season=other_stats.most_assists_in_season %}
                                <th scope="row" class="tw:w-1/3">
                                    Больше всего голевых передач за сезон
                                </th>
                                <td class="tw:text-left">
                                    {% if season %}
                                        {{ season.assists }} ({{ season }})
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>

                        <tr>
                            {% with season=other_stats.most_goals_assists_in_season %}
                                <th scope="row" class="tw:w-1/3">
                                    Больше всего результативных действий за сезон
                                </th>
                                <td class="tw:text-left">
                                    {% if season %}
                                        {{ season.actions }} ({{ season }})
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>

                        <tr>
                            {% with season=other_stats.most_cs_in_season %}
                                <th scope="row" class="tw:w-1/3">
                                    Больше всего "сухарей" за сезон
                                </th>
                                <td class="tw:text-left">
                                    {% if season %}
                                        {{ season.cs }} ({{ season }})
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <input type="radio" name="player-stats-tabs" class="tw:tab tw:px-3! tw:shadow-none!" aria-label="Дашборд"
               hx-trigger="click once"
               hx-get="{% url 'tournament:player_stats_charts' user.id %}"
               hx-target="#charts-panel"
        />
        <div class="tw:tab-content tw:pt-2 tw:border-0">
            <div id="charts-panel" role="tabpanel" aria-labelledby="charts-tab">
                <div class="tw:flex tw:flex-col tw:items-center tw:justify-center tw:border-0" style="min-height: 450px; background: transparent">
                    <img src="{% static 'img/svg-loaders/audio.svg' %}" class="tw:w-24 tw:h-24 tw:mb-3">
                    <h3 class="tw:text-center">Загружаем статистику...</h3>
                </div>
            </div>
        </div>

        <div class="tw:flex tw:ml-auto">
            <a class="tw:mt-auto tw:mr-3 tw:btn tw:btn-primary tw:bg-primary! tw:text-primary-content!"
               href="{% url 'tournament:compare_players' %}?player1={{ user.user_player.id }}" target="_blank">
                Сравнить
            </a>
        </div>
    </div>
</div>
