<div class="tw:card tw:pt-1 tw:pb-2 tw:border-0">
  <div class="tw:bg-base-100 tw:border-base-300 tw:collapse tw:collapse-arrow tw:border">
    <input type="checkbox" class="tw:peer" checked />
    <div class="tw:collapse-title tw:text-center tw:bg-primary tw:text-primary-content">Сводка</div>

    <div class="tw:collapse-content">
      <div class="tw:grid tw:grid-cols-3">
        {% for chart in matches_charts.recap_charts %}<div class="chart col">{{ chart|safe }}</div>{% endfor %}

        {% for chart in goals_assists_charts.recap_charts %}<div class="chart col">{{ chart|safe }}</div>{% endfor %}

        {% for chart in cs_charts.recap_charts %}<div class="chart col">{{ chart|safe }}</div>{% endfor %}

        {% for chart in cards_charts.recap_charts %}<div class="chart col">{{ chart|safe }}</div>{% endfor %}
      </div>
    </div>
  </div>
</div>
