{% load static %}
{% load tournament_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'tournament/tournament/cup_bracket.css' %}">

{% partialdef pair-team %}
    <div class="pair-{{ position }} team {% if team == series_result.winner %}series-winner{% elif team == series_result.loser %}series-loser{% endif %}">
        <span class="image">
            <img src="{{ team.logo.url }}" alt="{{ team.title }}" width="24" height="24">
        </span>
        <span class="name">
            <a href="{{ team.get_absolute_url }}">{{ team.short_title }}</a>
        </span>
        {% for match in matches %}
            {% if match.is_played %}
                <span class="score {% if team|is_match_winner:match %}match-winner{% endif %}">
                    {{ team|team_score_in_match:match }}
                </span>
            {% endif %}
        {% endfor %}
    </div>
{% endpartialdef %}

{% partialdef pair-team-stub %}
    <div class="pair-{{ position }} team">
        {% if team %}
            <span class="image">
                <img src="{{ team.logo.url }}" alt="{{ team.title }}" width="24" height="24">
            </span>
            <span class="name">
                <a href="{{ team.get_absolute_url }}">{{ team.short_title }}</a>
            </span>
        {% elif team_placeholder %}
            <span class="name">{{ team_placeholder }}</span>
        {% endif %}
    </div>
{% endpartialdef %}

<script type="text/javascript" src="{% static 'scripts/dragToScroll.js' %}"></script>


{% if bracket is not None %}
    <h5>
        {% if bracket == bracket_types.UPPER %}
            Верхняя сетка
        {% else %}
            Нижняя сетка
        {% endif %}
    </h5>
{% endif %}

<div class="draggable-container tw:px-1 tw:pt-1 tw:pb-2 tw:overflow-x-auto">
    <div class="tw:flex tw:flex-nowrap tw:justify-start tw:mx-0">
        {% for tour, slots in slots_by_tour %}
            <div class="tw:flex tw:flex-col tw:px-[15px]" style="{% if stage.show_bracket_slot_labels %}min-width:235px;{% else %}min-width:210px;{% endif %} max-width: 300px">
                <div class="tw:my-1">
                    {% with tours_count=tours|length %}
                        <h5>{{ tour|round_name:tours_count }}</h5>
                    {% endwith %}
                </div>

                <div class="tw:flex tw:flex-col tw:justify-around tw:h-full tw:px-0">
                    {% with show_connector=tour|show_connector:tours connector_line_height=tour|connector_line_height:tours %}
                        {% for slot in slots %}
                            <div class="pair-container tw:flex tw:items-center">
                                {% if slot.pair or slot.stub or not forloop.parentloop.first %}
                                    {% if slot.label and stage.show_bracket_slot_labels %}
                                        <div class="pair-label tw:text-center tw:mr-1">
                                            {{ slot.label }}
                                        </div>
                                    {% endif %}
                                    <div class="pair">
                                        {% if slot.pair %}
                                            {% get_series_result slot.pair slot.matches as series_result %}
                                            {% with position='top' team=slot.pair.0 matches=slot.matches series_result=series_result %}
                                                {% partial pair-team %}
                                            {% endwith %}

                                            {% with position='bottom' team=slot.pair.1 matches=slot.matches series_result=series_result %}
                                                {% partial pair-team %}
                                            {% endwith %}
                                        {% elif slot.stub %}
                                            {% with position='top' team=slot.stub.top_team team_placeholder=slot.stub.top_team_placeholder %}
                                                {% partial pair-team-stub %}
                                            {% endwith %}

                                            {% with position='bottom' team=slot.stub.bottom_team team_placeholder=slot.stub.bottom_team_placeholder %}
                                                {% partial pair-team-stub %}
                                            {% endwith %}
                                        {% elif not forloop.parentloop.first %}
                                            <div class="pair-top team"></div>
                                            <div class="pair-bottom team"></div>
                                        {% endif %}

                                        {% if show_connector %}
                                            {% if slot.pair or slot.stub or not forloop.parentloop.first %}
                                                <div class="pair-connector" style="--line-height: {{ connector_line_height }}px">
                                                    <div class="line line-one"></div>
                                                    <div class="line line-two"></div>
                                                    <div class="line line-three"></div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>

        {% endfor %}
    </div>
</div>