{% load static %}
{% load tournament_extras %}
{% load utils %}


{% partialdef statistics-card %}
    <div class="card" style="border-radius: 25px;">
        <div class="card-header"
             style="background: linear-gradient(to right, rgba(193, 243, 229, 0.7), rgba(91, 142, 241, 0.32)); border-radius: 25px 25px 0 0;">
            <h5 class="mb-0 font-weight-bold" style="height: 28px;">
                {{ title }}
                <img
                    src="{% static icon_url %}"
                    width="{% if icon_width %}{{ icon_width }}{% else %}24{% endif %}"
                    height="{% if icon_height %}{{ icon_height }}{% else %}24{% endif %}"
                    title="{{ icon_title }}">
            </h5>
        </div>

        <div class="card-body p-0" style="position: relative; height: 515px; overflow: auto; border-radius: 0 0 25px 25px;">

            <table class="table table-hover mb-0">
                <tbody>
                    {% for player in players %}
                        <tr>
                            <td width="24px" class="pl-2 pr-0">
                                <span class="h6">{{ forloop.counter }}</span>
                            </td>

                            <td width="16%" class="px-1">
                                {% if league.championship.is_active %}
                                    {% if player.team %}
                                        <img src="{{ player.team.logo.url }}" width="25px" height="25px">
                                    {% else %}
                                        <img src="{% static "img/ico/free_player.png" %}"  width="25px" height="25px">
                                    {% endif %}
                                {% else %}
                                    <img src="{% media player.last_team_logo %}" width="25px" height="25px">
                                {% endif %}
                            </td>

                            <td class="text-left pl-0">
                                {% if player.name %}
                                    <a class="text-dark h6" href="{{ player.name.user_profile.get_absolute_url }}">
                                        {{ player.nickname }}
                                    </a>
                                {% else %}
                                    <span class="text-secondary h6">{{ player.nickname }}</span>
                                {% endif %}
                            </td>

                            <td width="16%">

                                <span class="font-weight-bold h6">
                                    {% if stat_type == 'avg' %}
                                        {{ player.count|floatformat:2 }}
                                    {% else %}
                                        {{ player.count }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endpartialdef %}

<div class="container-fluid px-0">
    <div class="p-0" style="bottom: 0;">
        <ul class="nav nav-tabs" id="tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="general-stats-tab" href="#general-stats-panel" data-toggle="tab"
                   role="tab" aria-controls="general-stats-panel" aria-selected="true">
                    Общая
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="avg-stats-tab" href="#avg-stats-panel" data-toggle="tab"
                   role="tab" aria-controls="avg-stats-panel" aria-selected="false">
                    В среднем за матч
                </a>
            </li>
        </ul>
    </div>


    <div class="tab-content" id="content">
        <div class="tab-pane fade active show" id="general-stats-panel" role="tabpanel" aria-labelledby="general-stats-tab">
            <div class="row mx-0 mt-2 mb-2">
                <div class="col-4 px-1">
                    {% with players=league|top_goalscorers title='Бомбардиры' icon_url='img/ico/ball_2.png' icon_title='Забито' %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>

                <div class="col-4 px-1">
                    {% with players=league|top_assistants title='Ассистенты' icon_url='img/ico/boot_ass_2.png' icon_title='Голевые передачи' icon_width=28 icon_height=28 %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>

                <div class="col-4 px-1">
                    {% with players=league|top_clean_sheets title='Сухие таймы' icon_url='img/ico/clean_sheet1.png' icon_title='Сухие таймы' %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>
            </div>

            <div class="row mx-0 mb-1">
                <div class="col-4 px-1">
                    {% with players=league|top_goals_assists title='Результат. действия' icon_url='img/ico/goal_assist.png' icon_title='Голы + передачи' icon_width=66 icon_height=28 %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>

                <div class="col-4 px-1">
                    {% with players=league|top_yellow_cards title='Желтые карточки' icon_url='img/ico/yellow_card.png' icon_title='ЖК' %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>

                <div class="col-4 px-1">
                    {% with players=league|top_red_cards title='Красные карточки' icon_url='img/ico/red_card.png' icon_title='КК' %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="avg-stats-panel" role="tabpanel" aria-labelledby="avg-stats-tab">
            <div class="row mx-0 mt-2 mb-2">
                <div class="col-4 px-1">
                    {% with players=league|top_goalscorers_per_match stat_type='avg' title='Бомбардиры' icon_url='img/ico/ball_2.png' icon_title='Забито' %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>

                <div class="col-4 px-1">
                    {% with players=league|top_assistants_per_match stat_type='avg' title='Ассистенты' icon_url='img/ico/boot_ass_2.png' icon_title='Голевые передачи' icon_width=28 icon_height=28 %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>

                <div class="col-4 px-1">
                    {% with players=league|top_clean_sheets_per_match stat_type='avg' title='Сухие таймы' icon_url='img/ico/clean_sheet1.png' icon_title='Сухие таймы' %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>
            </div>

            <div class="row mx-0 mb-1">
                <div class="col-4 px-1">
                    {% with players=league|top_goals_assists_per_match stat_type='avg' title='Результат. действия' icon_url='img/ico/goal_assist.png' icon_title='Голы + передачи' icon_width=66 icon_height=28 %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>

                <div class="col-4 px-1">
                    {% with players=league|top_yellow_cards_per_match stat_type='avg' title='Желтые карточки' icon_url='img/ico/yellow_card.png' icon_title='ЖК' %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>

                <div class="col-4 px-1">
                    {% with players=league|top_red_cards_per_match stat_type='avg' title='Красные карточки' icon_url='img/ico/red_card.png' icon_title='КК' %}
                        {% partial statistics-card %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>