{% load mathfilters %}
{% load tournament_extras %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');

    .team-rows {
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        font-weight: 400;
    }
</style>

<table class="tw:table team-table-league tw:**:[td]:py-2">
    <thead class="tw:text-neutral tw:text-base tw:font-semibold">
        <tr class="tw:text-center">
            <th scope="col" class="tw:pl-2">#</th>
            <th scope="col" class="tw:text-left!">Команда</th>
            <th scope="col">И</th>
            <th scope="col">В</th>
            <th scope="col">Н</th>
            <th scope="col">П</th>
            <th scope="col">ЗМ</th>
            <th scope="col">ПМ</th>
            <th scope="col">РМ</th>
            <th scope="col">O</th>
            {% if has_penalties %}
                <th scope="col">Штр</th>
            {% endif %}
            <th scope="col">Форма</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}

            <tr class="team-rows tw:text-center"
                {% if stage.type == 'REG' %}
                    {% if forloop.counter == 1 and forloop.counter <= stage.awarded_count %}bgcolor="#ffd700"{% endif %}
                    {% if forloop.counter == 2 and forloop.counter <= stage.awarded_count %}bgcolor="silver"{% endif %}
                    {% if forloop.counter == 3 and forloop.counter <= stage.awarded_count %}bgcolor="#ffa81c"{% endif %}
                {% endif %}
            >
                <th scope="row" width="4%" class="tw:pl-1">
                    <div class="tw:flex">
                        {% if forloop.counter <= stage.promoted_count %}
                            <span class="tw:mr-2 tw:my-n1 tw:w-1 tw:bg-green-500"></span>
                        {% elif forloop.counter <= stage.promoted_count|add:stage.promoted_extra_count %}
                            <span class="tw:mr-2 tw:my-n1 tw:w-1 tw:bg-yellow-300"></span>
                        {% elif forloop.counter > teams|length|sub:stage.relegated_count %}
                            <span class="tw:mr-2 tw:my-n1 tw:w-1 tw:bg-red-500"></span>
                        {% else %}
                            <span class="tw:mr-2 tw:my-n1 tw:w-1"></span>
                        {% endif %}
                        {{ forloop.counter }}
                    </div>

                </th>

                <td class="tw:text-left tw:px-0 tw:w-1/3">
                    <a class="tw:text-base-content/90! tw:text-lg tw:font-semibold" href="{{ team.0.get_absolute_url }}">
                        <img
                            src="{{ team.0.logo.url }}" alt="{{ team.0.title }}" width="28" height="28"
                            class="tw:mr-2">{% if team.0.title|length < 20 %}{{ team.0.title }}{% else %}{{ team.0.short_title }}{% endif %}
                    </a>
                </td>
                <td width="6%">{{ team.1 }}</td>
                <td width="6%">{{ team.2 }}</td>
                <td width="6%">{{ team.3 }}</td>
                <td width="6%">{{ team.4 }}</td>
                <td width="6%">{{ team.5 }}</td>
                <td width="6%">{{ team.6 }}</td>
                <td width="6%" {% if team.7 > 0 %} class="tw:text-success"
                    {% elif team.7 < 0 %}class="tw:text-error"{% endif %}>{{ team.7 }}</td>
                <td width="6%" class="tw:font-semibold">{{ team.8 }}</td>
                {% if has_penalties %}
                    <td width="3%" class="tw:text-center">
                        <span class="tw:text-error">
                            {% if team.10 != 0 %}
                                -{{ team.10 }}
                            {% endif %}
                        </span>
                    </td>
                {% endif %}
                <td class="tw:p-1" width="13%">{% for result in team.9 %}
                    <a href="{{ result.0.get_absolute_url }}"
                       class="fa fa-circle tw:hover:text-lg/2! tw:no-underline! {% if result.1 == 1 %} tw:text-success! {% elif result.1 == -1 %} tw:text-error! {% elif result.1 == 0 %} tw:text-gray-400! {% endif %}"
                       title="{{ result.0.numb_tour|tour_name }}&#013;{{ result.0.team_home.title }} {{ result.0.score_home }} : {{ result.0.score_guest }} {{ result.0.team_guest.title }}">
                    </a>
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>