{% load static %}
{% load i18n %}

<table class="tw:table tw:**:[tr]:border-[#dee2e6]! tw:font-bold tw:text-center"
       {% if team.color_table != '#FFFFFF' %}bgcolor="{{ team.color_table }}"{% endif %}>
    <thead>
        <tr>
            <th scope="col" class="tw:text-left! tw:text-base-content">
                <span class="tw:text-base">{% trans "Игрок" %}</span>
            </th>
            <th scope="col">
                <img src="{% static "img/ico/matches_icon.png" %}" height="20" width="20" title="{% trans "Вышел на поле" %}">
            </th>
            <th scope="col">
                <img src="{% static "img/ico/ball_2.png" %}" height="20" width="20" title="{% trans "Забито" %}">
            </th>
            <th scope="col">
                <img src="{% static "img/ico/boot_ass_2.png" %}" height="24" width="24" title="{% trans "Голевые передачи" %}">
            </th>
            <th scope="col">
                <img src="{% static "img/ico/clean_sheet1.png" %}" height="20" width="20" title="{% trans "Сухие таймы" %}">
            </th>
            <th scope="col">
                <div class="tw:h-[75%]">
                    <i class="fa fa-arrow-down tw:text-error" title="{% trans "Заменён" %}"
                       aria-hidden="true"
                       style="font-size: 21px">
                    </i>
                </div>
            </th>
            <th scope="col">
                <div class="tw:h-[75%]">
                    <i class="fa fa-arrow-up tw:text-success" title="{% trans "Вышел на замену" %}"
                       aria-hidden="true"
                       style="font-size: 21px">
                    </i>
                </div>
            </th>
            <th scope="col">
                <img src="{% static "img/ico/statistic/dont-do.PNG" %}" height="20" width="20" title="{% trans "Автоголы" %}">
            </th>
            <th scope="col">
                <img src="{% static "img/ico/statistic/yellow-card.PNG" %}" height="20" width="20" title="{% trans "Жёлтые карточки" %}">
            </th>
            <th scope="col">
                <img src="{% static "img/ico/statistic/red-card.PNG" %}" height="20" width="20" title="{% trans "Красные карточки" %}">
            </th>
        </tr>
    </thead>
    <tbody>
        {% for player in team_squad %}
            <tr>
                <td class="tw:text-left">
                    <div class="tw:flex tw:items-center tw:gap-1.5">
                        {% if player.name %}
                            <img src="{{ player.player_nation.flag.url }}" width="24"
                                 height="24"
                                 title="{{ player.player_nation.country }}">
                            <a class="tw:link tw:link-hover tw:text-base-content/90 tw:align-middle"
                               href="{{ player.name.user_profile.get_absolute_url }}">{{ player }}</a>
                        {% else %}
                            <img src="{{ player.player_nation.flag.url }}" width="24"
                                 height="24"
                                 title="{{ player.player_nation.country }}">
                            <span class="tw:text-base-content/80 tw:align-middle">
                                {{ player }}
                            </span>
                        {% endif %}
                    </div>
                </td>

                <td>{{ player.matches_c }}</td>
                <td>{{ player.goals_c }}</td>
                <td>{{ player.assists_c }}</td>
                <td>{{ player.cs_c }}</td>
                <td>{{ player.subs_out_c }}</td>
                <td>{{ player.subs_in_c }}</td>
                <td>{{ player.ogs_c }}</td>
                <td>{{ player.yellow_cards_c }}</td>
                <td>{{ player.red_cards_c }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>