{% load static %}
{% load tournament_extras %}

<table class="table table-borderless">
    {% if stage and show_stages %}
        <thead>
            <tr>
                <th scope="colgroup" colspan="5"
                    class="{% if forloop.first %}pb-0{% else %}py-0{% endif %}">
                    <h5 class="text-center mt-1">{{ stage.get_type_display }}</h5>
                </th>
            </tr>
        </thead>
    {% endif %}

    <tbody>
        {% for match in matches %}
            <tr>
                <td class="text-center h6 p0" style="width: 10%;">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        {% if stage.is_playoff %}
                            {% if stage.is_double_elimination %}
                                <img src="{% if match.numb_tour.bracket == 1 %}{% static 'img/ico/upper-bracket.png' %}{% else %}{% static 'img/ico/lower-bracket.png' %}{% endif %}"
                                     title="{{ match.numb_tour.get_bracket_display }}"
                                     width="28" class="mr-1">
                            {% endif %}
                            <span>
                                {% with tours_by_bracket=stage.tours|bracket_tours:match.numb_tour.bracket %}
                                    {% with tours_count=tours_by_bracket|length %}
                                        {{ match.numb_tour|round_name:tours_count }}
                                    {% endwith %}
                                {% endwith %}
                            </span>
                        {% else %}
                            Тур {{ match.numb_tour.number }}
                        {% endif %}
                    </div>
                </td>
                <td class="text-right" style="width: 35%;">
                    {% if team == match.team_home %}
                        <span class="text-dark font-weight-bold h6">{{ match.team_home.title }}</span>
                    {% else %}
                        <a class="text-dark"
                           href="{{ match.team_home.get_absolute_url }}">
                            {{ match.team_home.title }}</a>
                    {% endif %}
                </td>
                <td class="text-center" style="width: 10%;">
                    {% if not match.is_played %}

                        <a href="{{ match.get_absolute_url }}"><span
                            class="h6">vs</span>
                        </a>
                    {% else %}
                        <a href="{{ match.get_absolute_url }}"
                           class="h6">{{ match.score_home }}
                            : {{ match.score_guest }}</a>
                    {% endif %}
                </td>
                <td class="text-left" style="width: 35%;">
                    {% if team == match.team_guest %}
                        <span class="text-dark font-weight-bold h6">{{ match.team_guest.title }}</span>
                    {% else %}
                        <a class="text-dark"
                           href="{{ match.team_guest.get_absolute_url }}"
                           class="h6">{{ match.team_guest.title }}</a>
                    {% endif %}
                </td>
                <td style="width: 10%;">

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>