{% extends "core.html" %}
{% load static %}
{% load tournament_extras %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "tournament/teams/team_page.css" %}">

    <style>
        .table-stat td {
            padding: .3rem;
        }

        .event-time {
            font-family: "JetBrains Mono", Arial, monospace;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "core/js/like-dislike.js" %}"></script>
{% endblock %}

{% block title %}Чемпионат | {{ match }} — CIS-HAXBALL {% endblock %}

{% block profile_of_user %}
    <div class="tw:card tw:mt-2 tw:bg-base-100 tw:rounded-lg">
        <div class="tw:w-full tw:flex tw:flex-col tw:justify-center tw:align-center tw:bg-base-300 tw:rounded-t-lg tw:py-2 tw:border-b tw:border-b-neutral-300">
            <h5 class="tw:text-center">
                <a class="tw:link tw:link-hover tw:link-primary" href="{{ match.league.get_absolute_url }}">{{ match.league }}</a>
            </h5>

            <h5 class="tw:text-center">
                {% if match.league.is_multistage_league and match.stage.is_playoff %}
                    {{ match.stage.stage_name }} -
                {% endif %}
                {% if match.stage.is_playoff %}
                    {% if match.stage.is_double_elimination %}
                        {{ match.numb_tour.get_bracket_display }},
                    {% endif %}
                    {{ match.numb_tour|cup_round_name }}
                {% else  %}
                    {% if match.stage.is_group_stage %}
                        {{ match.group }} -
                    {% endif %}
                    {{ match.numb_tour|tour_name }}
                {% endif %}
            </h5>

            <div class="tw:flex">

                <div class="tw:w-5/12 tw:text-center">
                    <a class="tw:link tw:link-hover tw:text-base-content/90 tw:text-lg tw:font-semibold"
                       href="{{ match.team_home.get_absolute_url }}">{{ match.team_home.title }}</a>
                </div>

                <div class="tw:w-2/12"></div>

                <div class="tw:w-5/12 tw:text-center">
                    <a class="tw:link tw:link-hover tw:text-base-content/90 tw:text-lg tw:font-semibold"
                       href="{{ match.team_guest.get_absolute_url }}">{{ match.team_guest.title }}</a>
                </div>
            </div>
        </div>

        <div class="tw:card-body tw:px-0 tw:pt-4 tw:py-0 tw:text-center">
            <div class="tw:flex">
                <div class="tw:w-5/12">
                    <img src="{{ match.team_home.logo.url }}" alt="{{ match.team_home.title }}" width="60%">
                </div>

                <div class="tw:w-2/12 tw:flex tw:justify-center tw:items-center">
                    <div class="tw:text-lg">
                        {% if match.is_played %}
                            <h3 class="tw:font-bold! tw:text-[3rem]!">
                                {{ match.score_home }} : {{ match.score_guest }}
                            </h3>
                            {% if match.is_tech_defeat %}
                                <h3 class="tw:text-2xl!">
                                    <!-- MatchResult.MUTUAL_TECH_DEFEAT -->
                                    {% if match.result.value == 'MTD' %} Обоюдное {% endif %} ТП
                                </h3>
                            {% endif %}
                            <h3 class="tw:mt-3 tw:text-2xl! tw:opacity-75">{{ match.match_date|date:"d.m.y" }}</h3>
                        {% else %}
                            <h3 class="tw:font-semibold! tw:text-[3rem]!">vs</h3>
                        {% endif %}
                    </div>
                </div>

                <div class="tw:w-5/12">
                    <img src="{{ match.team_guest.logo.url }}" alt="{{ match.team_guest.title }}" width="60%">
                </div>
            </div>

            <div class="tw:flex tw:flex-col">
                <div class="tw:w-full tw:flex tw:justify-center">
                    <div>
                        <p>
                            <button class="tw:btn tw:btn-primary tw:rounded!" type="button" data-toggle="collapse"
                                    data-target="#matches-history-recap" aria-expanded="false"
                                    aria-controls="matches-history-recap" {% if no_history %}disabled{% endif %}
                            >
                                {% if no_history %}Команды ранее не встречались{% else %}История встреч{% endif %}
                            </button>
                        </p>
                    </div>
                </div>
                <div class="collapse tw:w-full tw:px-4 tw:mb-2" id="matches-history-recap">
                    <div class="tw:flex tw:mb-2">
                        <div class="tw:flex tw:w-full tw:gap-1" style="height: 35px;">
                            {% if win_home_percentage > 0 %}
                                <div class="tw:bg-success tw:text-success-content tw:flex tw:justify-center tw:items-center"
                                     style="width: {{ win_home_percentage }}%">
                                    <div>
                                        <img src="{{ match.team_home.logo.url }}" alt="{{ match.team_home.title }}"
                                             width="25px">
                                        {{ win_home_percentage }}% ({{ win_home }})
                                    </div>
                                </div>
                            {% endif %}
                            {% if draws_percentage > 0 %}
                                <div class="tw:bg-neutral-500 tw:text-neutral-content tw:flex tw:justify-center tw:items-center"
                                     style="width: {{ draws_percentage }}%">

                                    <div>
                                        <img src="{% static 'img/ico/equals_icon.png' %}" alt="equals"
                                             width="25px">
                                        {{ draws_percentage }}% ({{ draws }})
                                    </div>
                                </div>
                            {% endif %}
                            {% if win_guest_percentage > 0 %}
                                <div class="tw:bg-primary tw:text-primary-content tw:flex tw:justify-center tw:items-center"
                                     style="width: {{ win_guest_percentage }}%">

                                    <div>
                                        <img src="{{ match.team_guest.logo.url }}" alt="{{ match.team_guest.title }}"
                                             width="25px">
                                        {{ win_guest_percentage }}% ({{ win_guest }})
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tw:flex">
                        <div class="tw:w-1/3 tw:flex tw:items-center">
                            <div class="tw:flex tw:flex-col">
                                <h6 class="tw:mb-0">Матчи</h6>
                                <h4 class="tw:text-warning">{{ all_matches_between.count }}</h4>
                                <h6>
                                    Самый результативный матч:
                                    <a href="{{ the_most_score.get_absolute_url }}" class="tw:link tw:link-hover tw:link-primary">
                                        <img
                                            src="{{ the_most_score.team_home.logo.url }}"
                                            alt="{{ the_most_score.team_home.title }}"
                                            width="20px">
                                        {{ the_most_score.score_home }}-{{ the_most_score.score_guest }}
                                        <img
                                            src="{{ the_most_score.team_guest.logo.url }}"
                                            alt="{{ the_most_score.team_guest.title }}" width="20px">
                                    </a>
                                </h6>
                            </div>
                        </div>
                        <div class="tw:w-2/3">
                            <table class="tw:table tw:text-center tw:**:[tr]:border-0 table-stat">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><img src="{{ match.team_home.logo.url }}" alt="{{ match.team_home.title }}" width="30px"></th>
                                        <th><img src="{{ match.team_guest.logo.url }}" alt="{{ match.team_guest.title }}" width="30px"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Побед</td>
                                        <td class="font-weight-bold">{{ win_home }}</td>
                                        <td class="font-weight-bold">{{ win_guest }}</td>
                                    </tr>
                                    <tr>
                                        <td>Забитых мячей</td>
                                        <td class="font-weight-bold">{{ score_home_all }}</td>
                                        <td class="font-weight-bold">{{ score_guest_all }}</td>
                                    </tr>
                                    <tr>
                                        <td>В среднем за матч</td>
                                        <td class="font-weight-bold">{{ score_home_average }}</td>
                                        <td class="font-weight-bold">{{ score_guest_average }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            {% if match.is_played %}
                <div class="tw:tabs tw:tabs-lift tw:rounded-b-lg tw:mb-3" role="tablist">
                    <input type="radio" name="match-tabs"
                           class="tw:tab tw:w-1/3 tw:font-semibold tw:border-neutral-200!"
                           aria-label="Общая сводка"
                           checked
                    />
                    <div class="tw:tab-content tw:bg-base-100 tw:pt-2" role="tabpanel">
                        <div id="match-recap" role="tabpanel" aria-labelledby="match-recap-tab">
                            <h5>Cоставы</h5>
                            <div class="tw:flex tw:w-full">
                                <div class="tw:w-5/12 tw:flex tw:flex-col tw:items-center tw:pl-4">
                                    {% include "tournament/partials/players_stats_summary.html" with players=match.team_home_start.all subs=team_home_substitutes %}
                                </div>

                                <div class="tw:w-2/12"></div>

                                <div class="tw:w-5/12 tw:flex tw:flex-col tw:items-center tw:pr-4">
                                    {% include "tournament/partials/players_stats_summary.html" with players=match.team_guest_start.all subs=team_guest_substitutes %}
                                </div>
                            </div>

                            {% comment %}
                                Показывать секцию с карточками и дисквалификациями только после 11 сезона,
                                ранее информация о них содержалась в комментариях инспекторов под матчами 
                            {% endcomment %}
                            {% if match.league.championship.number > 14 %}
                                <h5>Нарушения</h5>
                                <div class="tw:px-6 tw:text-base">
                                    {% if cards|length > 0 %}
                                        <ul class="tw:text-left">
                                            {% for card in cards %}
                                                <li>
                                                    {{ card.author }} ({{ card.team }}) - <b>{{ card|card_name }}</b> {{ card.card_reason }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <span class="tw:text-base">Нарушений не зафиксировано</span>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if match.disqualifications.count > 0 %}
                                <h5>Дисквалификации</h5>
                                <div class="tw:px-6 tw:text-base">
                                    <ul class="tw:text-left">
                                        {% for disqualification in match.disqualifications.all %}
                                            <li>
                                                {{ disqualification.player.nickname }} ({{ disqualification.team }}) дисквалифицирован на {{ disqualification.tours.all|join:", " }}.
                                                Причина: {{ disqualification.reason }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <input type="radio" name="match-tabs"
                           class="tw:tab tw:w-1/3 tw:font-semibold tw:border-neutral-200!"
                           aria-label="Протокол"
                    />
                    <div class="tw:tab-content tw:bg-base-100 tw:pt-2" role="tabpanel">
                        <div id="match-details" role="tabpanel" aria-labelledby="match-details-tab">
                            {% with events_by_time=match|events_sorted %}
                                <div class="tw:flex tw:flex-col tw:gap-2">
                                    <h4>1 тайм</h4>
                                    {% include "tournament/include/match_events.html" with events=events_by_time.first_time %}

                                    <h4>2 тайм</h4>
                                    {% include "tournament/include/match_events.html" with events=events_by_time.second_time %}

                                    {% if events_by_time.extra_time|length > 0 %}
                                        <h4>Доп. время</h4>
                                        {% include "tournament/include/match_events.html" with events=events_by_time.extra_time %}
                                    {% endif %}
                                </div>
                            {% endwith %}
                        </div>
                    </div>

                    <input type="radio" name="match-tabs"
                           class="tw:tab tw:w-1/3 tw:font-semibold tw:border-neutral-200!"
                           aria-label="Информация"
                    />
                    <div class="tw:tab-content tw:bg-base-100 tw:pt-2" role="tabpanel">
                        <div id="match-info" role="tabpanel" aria-labelledby="match-info-tab">
                            <div class="tw:flex tw:flex-col tw:items-center">
                                <h6>
                                    {% if not match.replay_link_second %}
                                        <a class="tw:link tw:link-hover tw:link-primary" href="{{ match.replay_link }}">Реплей</a>
                                    {% else %}
                                        <a class="tw:link tw:link-hover tw:link-primary" href="{{ match.replay_link }}">Реплей 1</a><br>
                                        <a class="tw:link tw:link-hover tw:link-primary" href="{{ match.replay_link_second }}">Реплей 2</a>
                                    {% endif %}
                                </h6>
                                <h6>
                                    Инспектор: {{ match.inspector }}
                                </h6>
                                {% if match.comment %}
                                    <h6>Комментарий:</h6>
                                    <p>{{ match.comment|linebreaks }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block comments %}
    {% include 'core/comment/comments.html' with object=match comments=comments %}
{% endblock %}
