{% load static %}
{% load i18n %}

{% for agent in agents %}
    <tr
        {% if forloop.last and agents.number < agents.paginator.num_pages %}
            hx-get="{% url 'tournament:free_agents' %}?page={{ agents.number|add:1 }}"
            hx-trigger="intersect once"
            hx-target="this"
            hx-swap="afterend"
            hx-indicator="#scroll-indicator"
        {% endif %}
    >
        <td scope="row" class="tw:pl-2 tw:pr-1">
            <div class="tw:flex tw:items-center">
                <div class="tw:avatar tw:mr-2">
                    <div class="tw:w-[30px] tw:rounded-full">
                        <img src="{{ agent.player.user_profile.avatar.url }}" class="tw:rounded-full"
                             alt="{{ agent.player.username }}">
                    </div>
                </div>
                <a href="{{ agent.player.user_profile.get_absolute_url }}" class="tw:link tw:link-hover tw:link-primary tw:font-semibold">{{ agent.player.username }}</a>
            </div>
        </td>

        <td class="tw:text-center">
            {{ agent.position_main }}
        </td>

        <td class="tw:text-center">
            <div class="tw:flex tw:justify-center tw:gap-2">
                {% if agent.player.user_profile.vk %}
                    <a href="{{ agent.player.user_profile.vk }}" target="_blank" class="tw:link tw:link-hover tw:link-primary">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                {% endif %}

                {% if agent.player.user_profile.discord %}
                    <span title="{{ agent.player.user_profile.discord }}" onclick="myFunction(this)" style="cursor: pointer">
                        <i class="fa fa-discord" aria-hidden="true"></i>
                    </span>
                {% endif %}

                {% if agent.player.user_profile.telegram %}
                    <a href="{{ agent.player.user_profile.telegram }}" target="_blank" class="tw:link tw:link-hover tw:link-primary">
                        <i class="fa fa-telegram" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
        </td>

        <td class="tw:text-center">
            {{ agent.description }}
        </td>

        <td class="tw:text-center">
            {{ agent.created_at|date:"d.m.Y H:i" }}
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="tw:text-center tw:py-4">
            {% trans "Нет свободных агентов" %}
        </td>
    </tr>
{% endfor %}