{% load static %}

{% for card in cards %}
    {% if forloop.last and cards.number < cards.paginator.num_pages %}
        <tr hx-get="{% url 'tournament:cards' %}?page={{ cards.number|add:1 }}"
            hx-trigger="intersect once"
            hx-target="this"
            hx-swap="afterend"
            hx-include="#filter-form"
            hx-indicator="#scroll-indicator">
    {% else %}
        <tr>
    {% endif %}
    <td>
        <div style="font-size: 13px;">
            {{ card.match.league.championship.short_title }}
        </div>
    </td>

    <td class="pl-2 pr-1">
        <div class="media">
            <img src="{{ card.team.logo.url }}" class="align-self-start mr-1"
                 alt="{{ card.team.title }}" width="20" height="20">
            <div class="media-body">
                <h6 class="mt-0" style="font-size: 13px">
                    <a href="{{ card.team.get_absolute_url }}">{{ card.team.title }}</a>
                </h6>
            </div>
        </div>
    </td>

    <td class="pl-2 pr-1">
        <div class="media">
            <img src="{{ card.author.name.user_profile.avatar.url }}" class="align-self-start mr-1"
                 alt="{{ card.author.nickname }}" width="20" height="20" style="border-radius: 100%; background-position: center center; background-repeat: no-repeat;">
            <div class="media-body">
                <h6 class="mt-0" style="font-size: 13px">
                    <a href="{{ card.author.name.user_profile.get_absolute_url }}">{{ card.author.nickname }}</a>
                </h6>
            </div>
        </div>
    </td>

    <td class="pl-2 pr-1">
        <div class="media">
            <img src="{{ card.match.team_home.logo.url }}" class="align-self-start mr-1"
                 alt="{{ card.match.team_home }}" width="20" height="20">
            <h6 class="mt-0" style="font-size: 13px">
                <a href="{{card.match.get_absolute_url}}">{{card.match.team_home.short_title}}-{{card.match.team_guest.short_title}}</a>
            </h6>
            <img src="{{ card.match.team_guest.logo.url }}" class="ml-1"
                 alt="{{ card.match.team_guest }}" width="20" height="20">
        </div>
    </td>

    <td>
        <div style="font-size: 13px;">
            {% if card.event == 'YEL' %}
                <img src="{% static 'img/ico/statistic/yellow-card.PNG' %}" width=24 title="ЖК" alt="ЖК">
            {% else %}
                <img src="{% static 'img/ico/statistic/red-card.PNG' %}" width=24 title="КК" alt="КК">
            {% endif %}
        </div>
    </td>

    <td>
        <div style="font-size: 13px; text-align: left;">
            {% if card.card_reason %}
                {{ card.card_reason }}
            {% else %}
                Не указана
            {% endif %}
        </div>
    </td>

    <td class="pl-2 pr-1">
        {% if card.match.inspector %}
            <div class="media">
                <img src="{{ card.match.inspector.user_profile.avatar.url }}" class="align-self-start mr-1"
                     alt="{{ card.match.inspector.username }}" width="20" height="20" style="border-radius: 100%; background-position: center center; background-repeat: no-repeat;">
                <div class="media-body">
                    <h6 class="mt-0" style="font-size: 13px">
                        <a href="{{ card.inspector.name.user_profile.get_absolute_url }}">{{ card.match.inspector.username }}</a>
                    </h6>
                </div>
            </div>
        {% else %}
            —
        {% endif %}
    </td>

    </tr>
{% endfor %}