{% load cache %}
{% load static %}
{% load widget_tweaks %}
{% load tournament_extras %}

<div id="players" class="tw:flex tw:flex-col tw:gap-y-3 tw:p-2">
  <form id="players-filter-form"
        class="tw:flex tw:flex-wrap tw:items-center tw:mt-1 tw:gap-2"
        hx-get="{% url 'tournament:players_hall_of_fame' %}"
        hx-trigger="submit"
        hx-target="#players-content"
        hx-swap="innerHTML"
        hx-disabled-elt="find button">
    <div class="tw:flex tw:flex-wrap tw:items-center">
      <label class="tw:label tw:text-base-content tw:font-bold">{{ players_filter.form.season.label }}</label>
      {% render_field players_filter.form.season|add_class:'tw:select' %}
    </div>

    <div class="tw:flex tw:flex-wrap tw:items-center">
      <label class="tw:label tw:text-base-content tw:font-bold">{{ players_filter.form.tournament.label }}</label>
      {% render_field players_filter.form.tournament|add_class:'tw:select' %}
    </div>

    <div class="tw:flex tw:flex-wrap tw:items-center">
      <label class="tw:label tw:text-base-content tw:font-bold">{{ players_filter.form.nation.label }}</label>
      {% render_field players_filter.form.nation|add_class:'tw:select' %}
    </div>

    <div class="tw:flex tw:mt-auto">
      <button class="tw:btn tw:btn-primary">Применить фильтр</button>
      <img class="htmx-indicator tw:ml-2 tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
    </div>
  </form>

  <div id="players-content">
    {% partialdef players-content inline %}
      {% cache 3600 players_hall_of_fame players_filter.form.season.value players_filter.form.tournament.value players_filter.form.nation.value %}
        <div class="tw:flex tw:flex-col tw:gap-y-2">
          <div class="tw:grid tw:grid-cols-3 tw:gap-x-2">
            {% with title='Бомбардиры' icon_url='img/ico/ball_2.png' players=players_tops.goals stat='goals' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}

            {% with title='Ассистенты' icon_url='img/ico/boot_ass_2.png' players=players_tops.assists stat='assists' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}

            {% with title='Сухие таймы' icon_url='img/ico/clean_sheet1.png' players=players_tops.clean_sheets stat='clean_sheets' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}
          </div>

          <div class="tw:grid tw:grid-cols-3 tw:gap-x-2">
            {% with title='Матчи' icon_url='img/ico/matches_icon.png' players=players_tops.matches stat='matches' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}

            {% with title='Победы' icon_url='img/ico/statistic/win.png' icon_width=22 icon_height=22 players=players_tops.wins stat='wins' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}

            {% with title='Процент побед' icon_url='img/ico/statistic/winrate.png' icon_width=38 icon_height=22 players=players_tops.winrates stat='winrates' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}
          </div>

          <div class="tw:grid tw:grid-cols-3 tw:gap-x-2">
            {% with title='Вышел на поле' icon_cls='fa fa-arrow-up tw:text-success' players=players_tops.subs_in stat='subs_in' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}

            {% with title='Ушел с поля' icon_cls='fa fa-arrow-down tw:text-error' players=players_tops.subs_out stat='subs_out' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}

            {% with title='Автоголы' icon_url='img/ico/ball_2_og.png' players=players_tops.own_goals stat='own_goals' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}
          </div>

          <div class="tw:grid tw:grid-cols-3 tw:gap-x-2">
            {% with title='Желтые карточки' icon_url='img/ico/yellow_card.png' players=players_tops.yellow_cards stat='yellow_cards' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}

            {% with title='Красные карточки' icon_url='img/ico/red_card.png' players=players_tops.red_cards stat='red_cards' %}
              {% include 'tournament/hall_of_fame/partials/players_top.html' %}
            {% endwith %}
          </div>
        </div>
      {% endcache %}
    {% endpartialdef %}
  </div>
</div>
