.polymorphic-add-choice {
  position: relative;
  clear: left;

  /* CHANGED ORIGINAL FILE */
  /* ADDED */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* END OF CHANGE */
}

/* CHANGED ORIGINAL FILE */
/* ADDED */
polymorphic-add-choice a {
  float: none;
  max-width: fit-content;
}

.polymorphic-add-choice ul {
  display: flex;
  flex-direction: column;
}
/* END OF CHANGE */

.polymorphic-add-choice a:focus {
  text-decoration: none;
}

/* CHANGED ORIGINAL FILE */
/* REMOVED */
/* .polymorphic-type-menu {
  position: absolute;
  top: 2.2em;
  left: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  background-color: #fff;
  z-index: 1000;
} */
/* END OF CHANGE */

.polymorphic-type-menu ul {
  padding: 2px;
  margin: 0;
}

.polymorphic-type-menu li {
  list-style: none inside none;
  padding: 4px;
}

.inline-related.empty-form {
  /* needed for grapelli, which uses grp-empty-form */
  display: none;
}
