{% extends "core.html" %}
{% load static %}
{% load tournament_extras %}
{% load widget_tweaks %}
{% load i18n %}

{% block scripts %}
    <script>
        function myFunction(Element) {
            navigator.clipboard.writeText(Element.title);
            alert("{% trans "Скопировано" %} " + Element.title);
        }
    </script>
{% endblock %}
{% block title %}{% trans "Чемпионат | Свободные агенты" %} — CIS-HAXBALL{% endblock %}
{% block profile_of_user %}
    {% partialdef content-container inline=True %}
        <div id="content-container">
            <div class="tw:card tw:bg-base-100 tw:mt-2 tw:rounded-lg">
                <div class="tw:w-full tw:flex tw:justify-center tw:align-center tw:bg-base-300 tw:rounded-t-lg tw:py-2 tw:border-b tw:border-gray-300">
                    <h2 class="tw:card-title">
                        <i class="fa fa-search-plus tw:text-success" aria-hidden="true"></i>
                        {% trans "Поиск команды/игроков" %}
                    </h2>
                </div>

                {% include 'alerts.html' %}

                {% if user.is_authenticated %}
                    {% if not user|user_in_agents and user|can_add_entry %}
                        <form method="POST" class="tw:flex tw:flex-wrap tw:items-center tw:mt-2 tw:mb-1 tw:mx-2"
                              hx-post="{% url 'tournament:free_agents' %}"
                              hx-trigger="submit"
                              hx-target="#content-container"
                              hx-swap="outerHTML"
                              hx-disabled-elt="find button">

                            <div class="tw:flex tw:w-full">
                                <div class="tw:w-1/4 tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                                    <label for="pos_main" class="tw:label tw:text-base-content tw:font-bold">{% trans "Позиция" %}</label>
                                    <select id="pos_main" name="position_main" class="tw:select" >
                                        <option selected value="Любая">{% trans "Любая" %}</option>
                                        <option value="Нападающий">{% trans "Нападающий" %}</option>
                                        <option value="Опорник">{% trans "Опорник" %}</option>
                                        <option value="Вратарь">{% trans "Вратарь" %}</option>
                                        <option value="Верхний нападающий">{% trans "Верхний нападающий" %}</option>
                                        <option value="Нижний нападающий">{% trans "Нижний нападающий" %}</option>
                                        <option value="Нападающий/опорник">{% trans "Нападающий/Опорник" %}</option>
                                        <option value="Нападающий/вратарь">{% trans "Нападающий/Вратарь" %}</option>
                                        <option value="Задняя линия">{% trans "Задняя линия" %}</option>
                                    </select>
                                </div>

                                <div class="tw:w-3/4 tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                                    <label for="description" class="tw:label tw:text-base-content tw:font-bold">{% trans "Краткий комментарий" %}</label>
                                    <input id="description" name="description" type="text" class="tw:input tw:w-full" >
                                </div>
                            </div>

                            <div class="tw:flex tw:mt-auto tw:mb-2">
                                <button type="submit" class="tw:btn tw:btn-success tw:items-center">
                                    <i class="fa fa-plus" aria-hidden="true"></i>{% trans "Оставить заявку" %}
                                </button>
                                <img id="free-agents-actions-indicator" class="htmx-indicator tw:ml-2 tw:w-6"
                                     src="{% static 'img/svg-loaders/bars.svg' %}">
                            </div>
                        </form>
                    {% elif user|user_in_agents %}
                        <div hx-indicator="#free-agents-actions-indicator" class="tw:inline-flex tw:justify-start tw:my-2 tw:mx-2">
                            <form class="tw:mr-1"
                                  hx-post="{% url 'tournament:remove_entry' user.user_free_agent.id %}"
                                  hx-trigger="submit"
                                  hx-target="#content-container"
                                  hx-swap="outerHTML"
                                  hx-disabled-elt="find button">
                                <button type="submit" class="tw:btn tw:btn-error tw:items-center">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    {% trans "Снять заявку" %}
                                </button>
                            </form>

                            <form hx-post="{% url 'tournament:update_entry' user.user_free_agent.id %}"
                                  hx-trigger="submit"
                                  hx-target="#content-container"
                                  hx-swap="outerHTML"
                                  hx-disabled-elt="find button">
                                <button type="submit" class="tw:btn tw:btn-success tw:items-center"
                                        {% if not user|can_add_entry %}
                                            disabled
                                            title="{% trans "Сможете через" %} {{ user|date_can|timeuntil }}"
                                            style="cursor: pointer"
                                        {% endif %}
                                >
                                    <i class="fa fa-arrow-up" aria-hidden="true"
                                       {% if not user|can_add_entry %}
                                           onclick="alert('{% trans "Вы не можете поднять заявку, т.к. только недавно создали или подняли заявку" %}' +
                                                    '{% trans "Следущее обновление возможно через" %} {{ user|date_can|timeuntil }}. {% trans "Если вы снимете" %} ' +
                                                    '{% trans "свою заявку, то создать новую будет возможно через это же время." %}');"
                                       {% endif %}>
                                    </i>
                                    {% trans "Поднять заявку" %}
                                </button>

                                <img id="free-agents-actions-indicator" class="htmx-indicator tw:ml-2 tw:w-6"
                                     src="{% static 'img/svg-loaders/bars.svg' %}">
                            </form>
                        </div>
                    {% else %}
                        <div role="alert" class="tw:m-1 tw:alert tw:alert-warning tw:gap-2">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span>{% trans "Вы сможете оставить заявку повторно через" %} {{ user|date_can|timeuntil }}</span>
                        </div>
                    {% endif %}
                {% endif %}

                <div class="tw:w-full tw:p-0 tw:mx-0">
                    <div class="tw:h-[755px] tw:overflow-y-auto tw:rounded-b-lg">
                        <table class="tw:table tw:table-zebra tw:table-pin-rows">
                            <thead class="tw:thead tw:text-center">
                                <tr class="tw:bg-base-300!">
                                    <th scope="col" class="tw:text-left!">{% trans "Игрок" %}</th>
                                    <th scope="col">{% trans "Позиция" %}</th>
                                    <th scope="col">{% trans "Контакты" %}</th>
                                    <th scope="col">{% trans "Комментарий" %}</th>
                                    <th scope="col">{% trans "Дата" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% include 'tournament/free_agents/partials/free_agents_list.html' %}
                            </tbody>
                        </table>
                        <img id="scroll-indicator" class="htmx-indicator tw:ml-2 tw:mb-1 tw:w-6 tw:absolute tw:bottom-0 tw:left-1/2"
                             src="{% static 'img/svg-loaders/bars.svg' %}">
                    </div>
                </div>
            </div>
        </div>
    {% endpartialdef content-container %}

{% endblock %}