{% extends "core.html" %}

{% load static %}

{% block title %}Администрация{% endblock %}

{% block scripts %}
  <script>
    function myFunction(Element) {
      navigator.clipboard.writeText(Element.title);
      alert("Скопировано " + Element.title);
    }
  </script>
{% endblock %}

{% block main_content %}
  <div class="tw:card tw:bg-base-100 tw:rounded-lg">
    <div class="tw:w-full tw:flex tw:justify-center tw:align-center tw:bg-base-300 tw:rounded-t-lg tw:py-2 tw:border-b tw:border-b-neutral-300">
      <h2 class="tw:card-title tw:items-end">
        <i class="fa fa-user-circle tw:text-info" aria-hidden="true"></i>
        Администрация
      </h2>
    </div>

    <div class="tw:card-body tw:py-2">
      <table class="tw:table tw:text-center">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Контакты</th>
            <th scope="col">Должность</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <th scope="row">
                {% for icon in user.user_profile.user_icon.all %}
                  {% if icon %}<img src="{{ icon.image.url }}" width="20px" height="20px" title="{{ icon.description }}">{% endif %}
                {% endfor %}
              </th>
              <td class="tw:text-left tw:text-xl tw:font-semibold">
                <a href="{{ user.user_profile.get_absolute_url }}" class="tw:link tw:link-hover tw:font-semibold">{{ user.username }}</a>
              </td>
              <td>
                {% if user.user_profile.vk %}
                  <a href="https://vk.com/{{ user.user_profile.vk }}" target="_blank">
                    <img src="{% static "img/ico/vk_1.png" %}" height="30" width="30" title="{{ user.user_profile.vk }}">
                  </a>
                {% endif %}
                {% if user.user_profile.discord %}
                  <img src='{% static "img/ico/discord_1.png" %}'
                       onclick="myFunction(this)"
                       width="30"
                       height="30"
                       title="{{ user.user_profile.discord }}"
                       class="tw:cursor-pointer">
                {% endif %}
                {% if user.user_profile.telegram %}
                  <a href="https://t.me/{{ user.user_profile.telegram }}" target="_blank">
                    <img src="{% static "img/ico/tg_1.png" %}" height="30" width="30" title="{{ user.user_profile.telegram }}">
                  </a>
                {% endif %}
                {% if not user.user_profile.vk and not user.user_profile.discord and not user.user_profile.telegram %}
                  <i class="fa fa-minus tw:text-error tw:text-center" aria-hidden="true"></i>
                {% endif %}
              </td>
              <td>{{ user.groups.all|join:", " }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
