{% extends "core.html" %}

{% load static %}
{% load user_tags %}

{% block title %}{{ post.title }} — CIS-HAXBALL{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "ckeditor/ckeditor/plugins/spoiler/spoiler.css" %}">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/plugins/spoiler/spoiler.js" %}"></script>
  {# Аякс-скрипт проставления лайков-дизлайков к постам #}
  <script type="text/javascript" src="{% static "core/js/like-dislike.js" %}"></script>
{% endblock %}

{% block post %}
  <style>
    :where(.post-body) {
      font-family: ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji Limited", "Apple Color Emoji",
                   "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

      a {
        color: var(--color-primary);

        @media (hover: hover) {
          &:hover {
            color: color-mix(in oklab, var(--color-primary) 80%, #000);
          }
        }
      }

      img {
        max-width: 100%;
      }
    }

    div.spoiler {
      div.spoiler-title {
        background: var(--color-base-300);
        color: var(--color-base-content);
      }

      div.spoiler-content {
        background: var(--color-base-200);
        color: var(--color-base-content);
      }
    }
  </style>

  <div class="tw:card tw:bg-base-100 tw:rounded-lg">
    <div class="tw:w-full tw:bg-base-300 tw:rounded-t-lg tw:px-4 tw:py-3 tw:border-b tw:border-b-neutral-300">
      <div class="tw:flex tw:flex-col">
        <h4 class="tw:card-title tw:w-full tw:justify-between tw:items-center">
          <span>
            {{ post.title }}
            {% if post.author == user or user.is_superuser %}
              <a href="{% url 'core:post_edit' post.slug post.id %}" class="tw:text-warning! tw:text-base tw:text-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            {% endif %}
          </span>
          {% if post.category %}
            <span class="tw:text-right">
              <span class="tw:italic tw:text-xl">В разделе</span>
              <a href="{{ post.category.get_absolute_url }}" class="tw:link tw:link-primary tw:font-semibold">{{ post.category.title }}</a>
            </span>
          {% else %}
            <span></span>
          {% endif %}
        </h4>

        <div class="tw:flex tw:items-center tw:gap-x-1.25 tw:text-sm tw:text-base-content/70">
          <span>
            <i class="fa fa-calendar tw:text-primary" aria-hidden="true"></i>
            {{ post.publish|date:"SHORT_DATE_FORMAT" }}
          </span>
          <span>
            <i class="fa fa-clock-o tw:text-primary" aria-hidden="true"></i>
            {{ post.publish|time:"H:i" }}
          </span>
          <span>
            <i class="fa fa-user tw:text-primary" aria-hidden="true"></i>
            <a class="tw:link tw:link-hover tw:text-base-content/90" href="{{ post.author.user_profile.get_absolute_url }}">{{ post.author }}</a>
          </span>
        </div>
      </div>
    </div>

    <div class="tw:flex tw:flex-col tw:p-4">
      <div class="post-body tw:prose tw:max-w-none tw:text-base-content tw:prose-img:my-2">{{ post.body|safe }}</div>
    </div>

    <div class="tw:inline-flex tw:justify-between tw:rounded-b-lg tw:bg-base-300 tw:px-4 tw:py-2 tw:border-t tw:border-t-neutral-300">
      <div class="tw:flex tw:items-center tw:gap-3 tw:text-sm tw:text-base-content/60">
        <span class="tw:inline-flex tw:items-center tw:gap-1">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          {{ post.comments.count }}
        </span>
        <span class="tw:inline-flex tw:items-center tw:gap-1">
          <i class="fa fa-eye" aria-hidden="true"></i>
          {{ post.views }}
        </span>
      </div>

      <div class="tw:inline-flex tw:items-center tw:gap-1">{% include 'core/include/like_dislike_panel.html' %}</div>
    </div>
  </div>
{% endblock %}

{% block comments %}
  {% include 'core/comment/comments.html' with object=post comments=comments %}
{% endblock %}
