{% extends "core.html" %}

{% block title %}
    {{ post.title }} — CIS-HAXBALL
{% endblock %}
{% load static %}
{% load user_tags %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/core.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ckeditor/ckeditor/plugins/spoiler/spoiler.css" %}">

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/plugins/spoiler/spoiler.js" %}"></script>
    <!-- Аякс-скрипт проставления лайков-дизлайков к постам -->
    <script type="text/javascript" src="{% static "core/js/like-dislike.js" %}"></script>
{% endblock %}
{% block post %}
    <div class="tw:card tw:bg-base-100 tw:rounded-lg tw:mt-2">
        <div class="tw:w-full tw:bg-base-300 tw:rounded-t-lg tw:px-4 tw:py-3 tw:border-b tw:border-b-neutral-300">
            <div class="tw:flex tw:flex-col">
                <h4 class="tw:card-title tw:w-full tw:justify-between tw:items-center">
                    <span>
                        {{ post.title }}
                        {% if post.author == user or user.is_superuser %}
                            <a href="{% url 'core:post_edit' post.slug post.id %}"
                               class="tw:text-warning! tw:text-base tw:text-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        {% endif %}
                    </span>
                    {% if post.category %}
                        <span class="tw:text-right"><span class="tw:italic tw:text-lg">В разделе</span>
                            <a href="{{ post.category.get_absolute_url }}"
                               class="tw:font-semibold">{{ post.category.title }}</a>
                        </span>
                    {% else %}
                        <span></span>
                    {% endif %}
                </h4>

                <small class="tw:flex tw:items-center tw:gap-x-1 tw:text-neutral-500">
                    <div>
                        <img src="{% static "img/ico/calendar_1.png" %}" height="21" width="21"> {{ post.publish|date:"SHORT_DATE_FORMAT" }}
                    </div>
                    <div>
                        <img src="{% static "img/ico/clock_1.png" %}" height="19" width="19"> {{ post.publish|time:"H:i" }}
                    </div>
                    <div>
                        <img src="{% static "img/ico/user_1.png" %}" height="19" width="19">
                        <a href="{{ post.author.user_profile.get_absolute_url }}">{{ post.author }}</a>
                    </div>
                </small>
            </div>
        </div>

        <div class="tw:flex tw:flex-col tw:p-4">
            {{ post.body|safe }}
        </div>
        <div class="tw:inline-flex tw:justify-between tw:rounded-b-lg tw:bg-base-300 tw:px-4 tw:py-2 tw:border-t tw:border-t-neutral-300">
            <span class="tw:text-base-content/70"> Комментариев: {{ post.comments.count }} </span>

            <div class="tw:inline-flex tw:items-center tw:gap-1">
                {% include 'core/include/like_dislike_panel.html' %}

                <span class="action-icons tw:ml-1">
                    <a href="#addcomment" class="tw:hover:text-[#1976d2]!"
                       {% if user.is_authenticated %}
                           onclick="addComment('','')"
                       {% else %}
                           onclick="login_modal.showModal()"
                       {% endif %}
                    >
                        <i class="fa fa-reply"></i>
                    </a>
                </span>
            </div>

        </div>

    </div>
{% endblock %}

{% block comments %}
    {% include 'core/comment/comments.html' with object=post comments=comments %}
{% endblock %}


