{% block title %}
    {{ post.title }}
{% endblock %}
{% load static %}
{% load user_tags %}


<div class="mt-3" id="edit-comment-form-container">
    <div class="card mb-2 py-2 px-1" style="border-radius: 20px">
        <div class="ml-1">
            <h5 class="mb-1">Изменить комменатарий</h5>
            <form id="edit-comment-form"
                  hx-target="#edit-comment-form-container"
                  hx-swap="outerHTML"
                  hx-indicator="#edit-comment-indicator"
                  hx-disabled-elt="#edit-comment-form button">

                {{ comment_form.media }}
                <div class="form-group mt-2 ml-1">
                    {{ comment_form.edit_body }}
                </div>

                <div align="right">
                    <img id="edit-comment-indicator" class="htmx-indicator mr-2"
                         src="{% static 'svg-loaders/bars.svg' %}" height="24">

                    <button class="btn btn-secondary mr-2" hx-get="{% url 'core:comment' comment.id %}">
                        Отменить
                    </button>

                    <button type="submit" class="btn btn-primary mr-2"
                            hx-post="{% url 'core:edit_comment' comment.id %}"
                            hx-on::config-request="event.detail.parameters['edit_body'] = CKEDITOR.instances['id_edit_body'].getData();"
                            hx-on::before-request="document.getElementById('cke_id_edit_body').style.filter = 'blur(1px)';">
                        Отправить
                    </button>
                </div>
            </form>


        </div>

    </div>
</div>
