{% block title %}{{ post.title }}{% endblock %}
{% load static %}
{% load user_tags %}

<div class="tw:mt-3 tw:mb-2 tw:p-3" id="edit-comment-form-container">
  <h5 class="tw:mb-1">Изменить комменатарий</h5>
  <form id="edit-comment-form"
        hx-target="#edit-comment-form-container"
        hx-swap="outerHTML"
        hx-indicator="#edit-comment-indicator"
        hx-disabled-elt="#edit-comment-form button">

    {{ comment_form.media }}

    <div class="tw:[&_.word-count]:text-sm">{{ comment_form.edit_body }}</div>

    <div class="tw:flex tw:justify-end tw:mt-auto">
      <img id="edit-comment-indicator" class="htmx-indicator tw:mr-2 tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">

      <button type="reset"
              class="tw:btn tw:btn-soft tw:mr-2!"
              @click="editingComment = false"
              hx-get="{% url 'core:comment' comment.id %}">Отменить</button>

      <button type="submit"
              class="tw:btn tw:btn-primary"
              @click="editingComment = false"
              hx-post="{% url 'core:edit_comment' comment.id %}">Отправить</button>
    </div>
  </form>
</div>
