{% load static %}
{% load user_tags %}
{% load django_vite %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}{% endblock %}
    </title>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(97769152, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
      });
    </script>
    <noscript>
      <div>
        <img src="https://mc.yandex.ru/watch/97769152" style="position:absolute; left:-9999px;" alt="" />
      </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    {% vite_hmr_client %}
    {% vite_asset 'main.js' %}

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://cdn-uicons.flaticon.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css">

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/base.css" %}">
    <link rel="shortcut icon" href="{% static "img/logo_try.png" %}" type="image/x-icon">
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">

    <style>
      @font-face {
        font-family: "Noto Color Emoji Limited";
        unicode-range: U+1F1E6-1F1FF;
        src: url(https://fonts.gstatic.com/s/notocoloremoji/v34/Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabsE4tq3luCC7p-aXxcn.0.woff2) format('woff2');
      }

      [x-cloak] {
        display: none !important;
      }

      summary {
        display: block !important;
      }
    </style>

    {% comment %} CKEditor frontend compatibility styles {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static "ckeditor5/css/content.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ckeditor5/css/mentions.css" %}">

    {% block styles %}{% endblock %}

    <script type="text/javascript" src="{% static "jquery/jquery-3.5.1.min.js" %}"></script>
    <script defer type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script defer type="text/javascript" src="{% static "htmx/htmx.min.js" %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/htmx-ext-alpine-morph@2.0.0/alpine-morph.js"></script>
    <script defer src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
    <script type="text/javascript" src="{% static "scripts/searchNavigation.js" %}"></script>
    <script defer type="text/javascript" src="{% static "ckeditor5/js/mentions.js" %}"></script>
    <script defer type="text/javascript" src="{% static "ckeditor5/js/extensions.js" %}"></script>

    {% block scripts %}{% endblock %}
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="tw:min-h-screen tw:bg-body">
    <script type="text/javascript" src="{% static "scripts/themeController.js" %}"></script>

    {% block content %}{% endblock %}
  </body>
</html>
