{% extends "base.html" %}

{% load static %}
{% load cache %}
{% load account %}
{% load i18n %}
{% load user_tags %}
{% load polls_extras %}

{% block title %}Добро пожаловать на CIS-HAXBALL!{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/include/popup_likes_styles.css' %}">
{% endblock %}

{% block content %}
  {% include "core/include/navbar.html" %}

  <div class="tw:mx-auto tw:max-w-[1600px] tw:p-2 tw:flex tw:flex-wrap">
    <aside class="tw:w-1/2 tw:order-2 tw:mt-2 tw:xl:w-1/6 tw:xl:mt-0 tw:xl:order-1 tw:lg:w-1/4 tw:space-y-2 tw:pr-1">
      {% polls_list 2 user %}

      {% include 'core/include/preseason_stream_banner.html' %}

      {% include 'core/include/tg_banner.html' %}

      {% include 'core/include/fantasy_banner.html' %}

      {% include 'core/include/predictions_banner.html' %}

      {% if project_settings.SHOW_FREE_AGENTS_BANNER %}
        {% include 'core/include/free_agents_banner.html' %}
      {% endif %}

      {% if project_settings.SHOW_PLAYERS_RATING_BANNER %}
        {% include 'core/include/sidebar_for_players_rating.html' %}
      {% endif %}

      {% include 'core/include/sidebar_for_media.html' %}

      {% include 'core/include/sidebar_for_lives.html' %}

      {% include 'core/include/sidebar_for_videos.html' %}

      {% show_last_transfers %}
    </aside>

    <main class="tw:w-full tw:order-1 tw:xl:w-2/3 tw:xl:order-2 tw:xl:px-1">
      {% block main_content %}{% endblock %}

      {# Блок для отображение профиля пользователя #}
      {% block profile_of_user %}{% endblock %}

      {# Блок для отображение одного поста, пост-детейл #}
      {% block post %}{% endblock %}

      {# Блок для списка постов #}
      {% block postlist %}{% endblock %}

      {# Блок для отображение списка комментариев #}
      {% block comments %}{% endblock %}
    </main>

    <aside class="tw:w-1/2 tw:order-3 tw:mt-2 tw:xl:w-1/6 tw:xl:mt-0 tw:lg:w-1/4 tw:space-y-2 tw:pl-1">
      {% include 'core/include/sidebar_for_online_users.html' %}

      {% block sidebar_last_activity %}
        {% show_last_activity 12 %}
      {% endblock %}

      {% block sidebar_top_comments %}
        {% show_top_comments 5 %}
      {% endblock %}
    </aside>
  </div>

  {% include 'core/include/login_modal.html' %}
  {% include 'core/include/logout_modal.html' %}

{% endblock %}
