{% load static %}

<div class="tw:p-3 tw:prose tw:max-w-none">
  <h4>Как это работает</h4>
  <p>
    Вам необходимо собрать команду из 6 игроков.
    <br>
    Каждый игрок будет приносить очки - <strong>Fantasy Points (FP)</strong> - во время выступления в матчах лиги.
    <br>
    Задача - набрать как можно больше очков за время сезона и обойти других участников.
  </p>

  <h5>Команда</h5>
  <p>
    <ul>
      <li>
        Команда должна состоять ровно из 6 игроков - 4 в основном составе и 2 на скамейке. Формация основного состава всегда 1-1-2 (1 вратарь, 1 опорник, 2 нападающих).
        Запасные игроки должны быть выбраны на разные позиции.
      </li>
      <li>Основной состав приносит полные очки, игроки на скамейке — 50% очков</li>
      <li>
        Команда ограничена бюджетом, который выражается в миллионах (M) единиц условной валюты. Стоимость всех игроков вашей команды не может превышать заданный бюджет.
        <br>
        Доступный лимит зависит от лиги:
        <ul style="list-style-type: circle;">
          <li>
            <strong>Высшая лига</strong> — 110 M
          </li>
          <li>
            <strong>Первая лига</strong> — 65 M
          </li>
          <li>
            <strong>Вторая лига</strong> — 40 M
          </li>
        </ul>
      </li>
      <li>Состав может содержать не более 2 игроков из одной и той же команды лиги</li>
      <li>Весь состав (6 игроков) должен быть представлен игроками как минимум из 4 разных команд</li>
      <li>Основной состав (4 игрока) должен быть представлен игроками как минимум из 3 разных команд</li>
      <li>Оба нападающих основного состава должны быть из разных команд</li>
      <li>Помимо самих игроков, Вы должны выбрать капитана. Капитан приносит в 2 раза больше очков. Капитана можно менять каждый тур.</li>
      <li>
        Состав команды сохраняется между турами. Перемещать игроков между основным составом и скамейкой можно без ограничений (в рамках заданных позиций).
      </li>
      <li>
        Возможность выбрать состав открывается за 3 дня до начала тура. Вы можете изменять состав сколько угодно раз до 18:00 дня начала тура
      </li>
      <li>Выбор состава необходимо делать для каждого тура отдельно, даже если Вы не хотите вносить никаких изменений</li>
      <li>
        В некоторых случаях у игроков в течение сезона может быть изменена позиция. Изменения такого характера будут происходить между турами.
        В случае наличия такого игрока в Вашей команде при выборе состава на следующий тур Вы увидите предупреждение, а игрока нужно будет поместить на актуальную позицию или заменить
      </li>
    </ul>
  </p>

  <h5>Трансферы</h5>
  <p>
    <ul>
      <li>
        Для того, чтобы изменить набор игроков вашей команды, необходимо осуществить трансфер. Трансфером считается замена игрока из вашей команды на игрока, которого не было в составе.
      </li>
      <li>
        Перед каждым туром участнику начисляется 2 бесплатных трансфера. Дополнительно можно сделать до 2 трансферов сверх лимита, но на каждый такой трансфер налагается штраф в размере 15 FP.
        <br>
        Неиспользованные трансферы не переносятся на следующий тур.
      </li>
      <li>Между кругами количество трансферов не ограничено.</li>
      <li>
        Игроки, которые перешли в команду другой лиги вне трансферного окна, становятся недоступными в рамках лиги, которую они покинули.
        В случае наличия таких игроков в Вашей команде, их необходимо заменить. Замена недоступного игрока не расходует лимит трансферов.
      </li>
    </ul>
  </p>

  <h5 id="boosters">Бустеры</h5>
  <p>
    При выборе состава участники имеют возможность использовать бустеры, которые позволяют избежать некоторых ограничений и открывают дополнительные возможности.
    Каждый из бустеров может быть использован только один раз за турнир, при этом одновременно может быть применен только один бустер.
    Бустеры можно использовать в любом из туров за исключением первого тура каждого круга.
  </p>

  <h6 class="tw:mb-3!">Виды бустеров</h6>
  <div class="tw:pl-1">
    <span class="tw:inline-flex tw:gap-1 tw:text-base tw:font-semibold">
      <img src="{% static "img/ico/fantasy/joker.svg" %}" alt="Джокер" class="tw:my-0! tw:size-6">
      Джокер
    </span>
    <ul class="tw:mt-0 tw:list-disc">
      <li>Неограниченное количество трансферов в текущем туре</li>
      <li>В следующем туре состав сохраняется (точно так же, как и без использования бустера)</li>
    </ul>

    <span class="tw:inline-flex tw:gap-1 tw:text-base tw:font-semibold">
      <img src="{% static "img/ico/fantasy/limitless.svg" %}" alt="Безлимит" class="tw:my-0! tw:size-6">
      Безлимит
    </span>
    <ul class="tw:mt-0 tw:list-disc">
      <li>Неограниченное количество трансферов в текущем туре</li>
      <li>Неограниченный бюджет в текущем туре</li>
      <li>
        В следующем туре состав сбрасывается до состояния перед использованием бустера (т.е если бустер был применен в туре N, то состав в туре N+1 будет основываться на составе, выбранном в туре N-1)
      </li>
    </ul>
  </div>

  <h5>Стоимость игроков</h5>
  <p>
    Стоимость игроков зависит от рейтинга и распределяется равномерно в рамках диапазона, соответствующего уровню игрока:
    <ul>
      <li>
        <strong>S</strong> — 30-40 M
      </li>
      <li>
        <strong>A</strong> — 19-29 M
      </li>
      <li>
        <strong>B+</strong> — 13-18 M
      </li>
      <li>
        <strong>B</strong> — 8.5-12.5 M
      </li>
      <li>
        <strong>C</strong> — 5-8.2 M
      </li>
      <li>
        <strong>D</strong> — 2.5-4.8 M
      </li>
      <li>
        <strong>E</strong> — 1-2.4 M
      </li>
      <li>Игрокам без рейтинга стоимость назначается индивидуально</li>
    </ul>
  </p>

  <h5>Начисление очков</h5>
  <p>
    Каждый игрок проносит очки во время выступления в матче. Количество очков зависит от перфоманса игрока в матче и складывается из следующих компонентов:
    <ul>
      <li>Голы: ST – 3 FP, DM – 4 FP, GK – 6 FP</li>
      <li>Ассисты: ST – 2 FP, DM – 3 FP, GK – 4 FP</li>
      <li>
        Сухие таймы:
        <ul style="list-style-type: circle;">
          <li>ST – 3 FP</li>
          <li>DM – 10 FP</li>
          <li>GK – 20 FP</li>
        </ul>
      </li>
      <li>
        Время, проведенное на поле:
        <ul style="list-style-type: circle;">
          <li>00:01-03:59 – 1 FP</li>
          <li>04:00-11:59 – 2 FP</li>
          <li>12:00+ – 3 FP</li>
        </ul>
      </li>
      <li>
        Голы, пропущенные командой во время пребывания игрока на поле:
        <ul style="list-style-type: circle;">
          <li>1-2: ST – 0 FP, DM – -1 FP, GK – -1 FP</li>
          <li>3-5: ST – -1 FP, DM – -2 FP, GK – -2 FP</li>
          <li>6-10: ST – -2 FP, DM – -3 FP, GK – -4 FP</li>
          <li>11-15: ST – -3 FP, DM – -5 FP, GK – -6 FP</li>
          <li>16+: ST – -5 FP, DM – -8 FP, GK – -10 FP</li>
        </ul>
      </li>
    </ul>
    <h6>Мультипликаторы</h6>
    <ul>
      <li>Капитан: x2 FP</li>
      <li>Игроки на скамейке: x0.5 FP</li>
    </ul>
  </p>

  <div class="tw:divider"></div>

  <h5 id="rules-updates" class="tw:mb-4!" x-intersect="updateLastSeenVersion()">История изменений</h5>

  <div x-data="{version: 3}" class="tw:pl-2">
    <div class="tw:flex tw:items-center tw:gap-2">
      <h6 class="tw:mb-0!">v1.3 (08.03.26)</h6>
      <span x-show="lastSeenRulesVersion < version" class="tw:status tw:status-warning"></span>
    </div>
    <p>
      <ul>
        <li>
          Изменены ограничения на состав команды:
          <ul style="list-style-type: circle;">
            <li>Весь состав должен быть представлен игроками как минимум из 4 разных команд</li>
            <li>Основной состав должен быть представлен игроками как минимум из 3 разных команд</li>
            <li>Оба нападающих основного состава должны быть из разных команд</li>
          </ul>
          <li>Замена игрока, покинувшего лигу вне трансферного окна, теперь не расходует лимит трансферов.</li>
        </ul>
      </p>
    </div>

    <div x-data="{version: 2}" class="tw:pl-2">
      <div class="tw:flex tw:items-center tw:gap-2">
        <h6 class="tw:mb-0!">v1.2 (14.10.25)</h6>
        <span x-show="lastSeenRulesVersion < version" class="tw:status tw:status-warning"></span>
      </div>
      <p>
        <ul>
          <li>
            Добавлен раздел правил, содержащий информацию о <a href="#boosters" class="tw:link">бустерах</a> и их использовании
          </li>
        </ul>
      </p>
    </div>

    <div x-data="{version: 1}" class="tw:pl-2">
      <div class="tw:flex tw:items-center tw:gap-2">
        <h6 class="tw:mb-0!">v1.1 (26.09.25)</h6>
        <span x-show="lastSeenRulesVersion < version" class="tw:status tw:status-warning"></span>
      </div>
      <p>
        <ul>
          <li>
            В некоторых случаях у игроков в течение сезона может быть изменена позиция. Изменения такого характера будут происходить между турами.
            В случае наличия такого игрока в Вашей команде при выборе состава на следующий тур Вы увидите предупреждение, а игрока нужно будет поместить на актуальную позицию или заменить
          </li>
        </ul>
      </p>
    </div>
  </div>
