<div class="tw:p-3 tw:prose tw:max-w-none">
  <h5>Как это работает</h5>
  <p>
    <ul>
      <li>Возможность выбрать состав открывается за 3 дня до начала тура</li>
      <li>Вы можете изменять состав сколько угодно раз до 18:00 дня начала тура</li>
      <li>Основной состав приносит полные очки, игроки на скамейке — 50% очков</li>
      <li>Капитан приносит в 2 раза больше очков</li>
      <li>
        Состав сохраняется между турами; перед каждым туром можно сделать до 2 трансферов. Трансфером считается замена игрока из вашей команды на игрока, которого не было в составе
      </li>
      <li>
        Начисление очков:
        <ul>
          <li>Голы: ST – 3, DM – 5, GK – 8</li>
          <li>Передачи: ST – 2, DM – 3, GK – 5</li>
          <li>Сухие таймы: 15 очков за каждый сухой тайм</li>
          <li>
            Очки за время на поле:
            <ul>
              <li>00:01-03:59 – 1 очко</li>
              <li>04:00-11:59 – 2 очка</li>
              <li>12:00+ – 3 очка</li>
            </ul>
          </li>
          <li>
            Штраф за пропущенные голы во время пребывания на поле:
            <ul>
              <li>1–2 пропущенных: -2 очка</li>
              <li>3–5 пропущенных: -3 очка</li>
              <li>6–10 пропущенных: -5 очков</li>
              <li>11–15 пропущенных: -7 очков</li>
              <li>16+ пропущенных: -10 очков</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </p>

  <h5>Ограничения по составу</h5>
  <p>
    <ul>
      <li>В составе не может быть более 2 игроков одной команды</li>
      <li>Состав состоит из 6 игроков: 4 в основе (GK, DM, ST, ST) и 2 на скамейке</li>
      <li>Игроки на скамейке: максимум по 1 на каждую позицию (из GK, DM, ST)</li>
      <li>
        Общий бюджет команды ограничен, и выражается в миллионах (M). Доступный лимит зависит от лиги:
        <ul style="list-style-type: circle;">
          <li>
            <strong>Высшая лига</strong> — 85 M
          </li>
          <li>
            <strong>Первая лига</strong> — 55 M
          </li>
          <li>
            <strong>Вторая лига</strong> — 40 M
          </li>
        </ul>
      </li>
      <li>
        Стоимость игрока зависит от его рейтинга и рассчитывается пропорционально в рамках диапазона, соответствующего его уровню:
        <ul style="list-style-type: circle;">
          <li>
            <strong>S</strong> — 24-27 M
          </li>
          <li>
            <strong>A</strong> — 18-23 M
          </li>
          <li>
            <strong>B+</strong> — 13-17 M
          </li>
          <li>
            <strong>B</strong> — 9-12 M
          </li>
          <li>
            <strong>C</strong> — 6-8 M
          </li>
          <li>
            <strong>D</strong> — 3-5 M
          </li>
          <li>
            <strong>E / без рейтинга</strong> — 1-2 M
          </li>
        </ul>
      </li>
    </ul>
  </p>
</div>
