<div class="tw:p-3 tw:prose tw:max-w-none">
  <h5>Как это работает:</h5>
  <p>
    <ul>
      <li>Возможность выбрать состав открывается за 3 дня до начала тура</li>
      <li>Вы можете изменять состав сколько угодно раз до 18:00 дня начала тура</li>
      <li>Основной состав приносит полные очки, запасной - 50% очков</li>
      <li>
        Начисление очков:
        <ul>
          <li>Очки за голы: ST - 3, DM - 5, GK - 8</li>
          <li>Очки за передачи: ST - 2, DM - 3, GK - 5</li>
          <li>Очки за сухие таймы: 15 очков за каждый сухой тайм</li>
        </ul>
      </li>
    </ul>
  </p>

  <h5>Ограничения по составу</h5>
  <p>
    <ul>
      <li>Каждый состав (и основной, и запасной) ограничен бюджетом, который выражается в rating points (RP)</li>
      <li>
        Доступный лимит RP зависит от лиги:
        <ul>
          <li>
            <strong>Высшая лига</strong> — 9.5 RP
          </li>
          <li>
            <strong>Первая лига</strong> — 8 RP
          </li>
          <li>
            <strong>Вторая лига</strong> — 5 RP
          </li>
        </ul>
      </li>
      <li>
        Стоимость игрока зависит от его рейтинга:
        <ul>
          <li>
            <strong>S</strong> — 3 RP
          </li>
          <li>
            <strong>A</strong> — 2.5 RP
          </li>
          <li>
            <strong>B+</strong> — 2 RP
          </li>
          <li>
            <strong>B</strong> — 1.5 RP
          </li>
          <li>
            <strong>C</strong> — 1 RP
          </li>
          <li>
            <strong>D-E / без рейтинга</strong> — 0.5 RP
          </li>
        </ul>
      </li>
    </ul>
  </p>
</div>
