.pair {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 64px;
  margin: 12px 0;
}

.pair .pair-top {
  border-radius: 2px 2px 0 0;
  border: 1px solid black;
  background: #617894;
}

.pair .pair-bottom {
  border-radius: 0 0 2px 2px;
  border: 1px solid black;
}

.pair .team {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.2rem 0.25rem;
}

.pair .team:first-child {
  margin-bottom: -2px;
}

.team {
  background: #638ab8;
  color: #bcbcbc;
}

.team.series-winner {
  color: #ffffff;
}

.team-link {
    vertical-align: middle;
    font-weight: 500;
}

.team span {
  padding-left: 6px;
}

.team .image {
  padding-left: 2px;
}

.team .name {
  margin-right: auto;
}

.team .name a {
  color: inherit;
}

.team .score {
  width: 26px;
  font-size: 14px;
  color: #dfdfdf;
}

.team .score.match-winner {
  color: #00f9ff;
}

.team .seed {
  font-size: 12px;
  min-width: 10px;
}

.pair-connector {
  display: block;
  position: absolute;
  top: 50%;
  bottom: 0;
  margin-top: 0;
  right: -4px;
}

.pair-connector .line {
  background: #9199a4;
  position: absolute;
}

.pair-connector .line-one {
  width: 12px;
  height: 2px;
}

.pair-connector .line-two {
  height: var(--line-height);
  width: 2px;
  left: 10px;
}

.pair:nth-child(even) .pair-connector .line-two {
  transform: translate(0, -100%);
}

.pair-connector .line-three {
  width: 12px;
  height: 2px;
  left: 10px;
  top: var(--line-height);
}

.pair:nth-child(even) .pair-connector .line-three {
  top: calc(var(--line-height) * -1);
}
