<div class="tw:card tw:bg-base-100 tw:rounded-lg">
  <div class="tw:card-body tw:rounded-t-lg tw:gap-0 tw:py-4">
    <h3 class="tw:text-center tw:mb-0">
      <i class="fa fa-list-alt tw:text-primary" aria-hidden="true"></i> Последние посты
    </h3>
    <div class="tw:divider tw:my-0!"></div>

    {% for post in posts %}
      {% include "core/include/post_in_list.html" with post=post is_on_homepage=True %}
    {% endfor %}
  </div>

  <div class="tw:card-body tw:rounded-b-lg tw:bg-base-200 tw:border-t tw:border-gray-300 tw:py-2!">
    <a href="{% url 'core:all_posts' %}" class="tw:link">Смотреть все посты</a>
  </div>
</div>
