<div class="tw:card tw:bg-base-100 tw:rounded-lg">
  <section class="tw:card-body tw:space-y-2 tw:p-4">
    <div class="tw:flex tw:items-center tw:justify-between">
      <h3 class="tw:text-lg tw:font-semibold tw:flex tw:items-center tw:gap-2 tw:mb-0!">
        <span class="tw:badge tw:badge-soft tw:badge-primary tw:h-8 tw:px-3">
          <i class="fa fa-list-alt" aria-hidden="true"></i>
          Последние посты
        </span>
      </h3>

      <a href="{% url 'core:all_posts' %}" class="tw:text-sm tw:text-base-content/90 tw:hover:text-primary tw:transition-colors">
        Смотреть всё <i class="fa fa-arrow-right tw:ml-1 tw:text-xs!" aria-hidden="true"></i>
      </a>
    </div>

    <div class="tw:grid tw:grid-cols-1 tw:md:grid-cols-2 tw:gap-3">
      {% for post in posts %}
        {% include "core/include/post_in_list.html" with post=post is_on_homepage=True %}
      {% endfor %}
    </div>
  </section>
</div>
