{% extends "core.html" %}

{% load static %}
{% load widget_tweaks %}
{% load tournament_extras %}

{% block title %}Чемпионат | Трансферы — CIS-HAXBALL{% endblock %}
{% block profile_of_user %}
  <div class="tw:card tw:bg-base-100 tw:rounded-lg">
    <div class="tw:w-full tw:flex tw:justify-center tw:align-center tw:bg-base-300 tw:rounded-t-lg tw:py-2 tw:border-b tw:border-gray-300">
      <h2 class="tw:card-title">
        <i class="fa fa-arrow-circle-right tw:text-info tw:self-end" aria-hidden="true"></i>Трансферы
      </h2>
    </div>

    <div class="tw:flex tw:flex-col tw:gap-y-3 tw:p-2">
      <form id="filter-form"
            class="tw:flex tw:flex-wrap tw:items-center tw:gap-2"
            hx-get="{% url 'tournament:transfers' %}"
            hx-trigger="submit"
            hx-target="#transfers-list-container"
            hx-swap="innerHTML scroll:#transfers-table:top"
            hx-disabled-elt="find button">

        <div class="tw:flex tw:flex-wrap tw:items-center">
          <label class="tw:label tw:text-base-content tw:font-bold">{{ filter.form.season.label }}</label>
          {% render_field filter.form.season|add_class:'tw:select' %}
        </div>

        <div class="tw:flex tw:flex-wrap tw:items-center">
          <label class="tw:label tw:text-base-content tw:font-bold">{{ filter.form.team_from.label }}</label>
          {% render_field filter.form.team_from|add_class:'tw:select' %}
        </div>

        <div class="tw:flex tw:flex-wrap tw:items-center">
          <label class="tw:label tw:text-base-content tw:font-bold">{{ filter.form.team_to.label }}</label>
          {% render_field filter.form.team_to|add_class:'tw:select' %}
        </div>

        <div class="tw:flex tw:flex-wrap tw:items-center">
          <label class="tw:label tw:text-base-content tw:font-bold">{{ filter.form.player.label }}</label>
          {% render_field filter.form.player|add_class:'tw:select' %}
        </div>

        <div class="tw:flex tw:mt-auto">
          <button class="tw:btn tw:btn-primary">Применить фильтр</button>
          <img class="htmx-indicator tw:ml-2 tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
        </div>
      </form>

      <div id="transfers-table" class="tw:max-h-[875px] tw:overflow-y-auto">
        <table class="tw:table tw:table-zebra tw:table-pin-rows">
          <thead class="tw:thead tw:text-left">
            <tr class="tw:bg-base-300!">
              <th scope="col" width="25%">Игрок</th>
              <th scope="col">Из команды</th>
              <th scope="col">В команду</th>
              <th scope="col">Дата</th>
            </tr>
          </thead>
          <tbody id="transfers-list-container" class="tw:text-left">
            {% include 'tournament/transfers/partials/transfers_list.html' %}
          </tbody>
        </table>
        <img id="scroll-indicator"
             class="htmx-indicator tw:ml-2 tw:mb-1 tw:w-6 tw:absolute tw:bottom-0 tw:left-1/2"
             src="{% static 'img/svg-loaders/bars.svg' %}">
      </div>
    </div>
  </div>
{% endblock %}
