{% extends "core.html" %}
{% load static %}
{% load thumbnail %}
{% load tournament_extras %}
{% load user_tags %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/include/comments.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/core.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tournament/postponements/postponements.css' %}">
{% endblock %}

{% block title %}Чемпионат | Переносы — CIS-HAXBALL {% endblock %}

{% block profile_of_user %}
    {% partialdef content-container inline=True %}
        <div id="content-container">
            <div class="tw:card tw:mt-2 tw:mb-2 tw:bg-base-100 tw:rounded-lg">
                <div class="tw:w-full tw:flex tw:justify-center tw:align-center tw:bg-base-300 tw:rounded-t-lg tw:py-2 tw:border-b tw:border-b-neutral-300">
                    <h2 class="tw:card-title">
                        <i class="fa fa-calendar tw:text-primary" aria-hidden="true"></i>
                        Переносы
                    </h2>
                </div>

                {% include 'alerts.html' %}

                <div class="tw:flex tw:flex-col tw:w-full tw:p-0 tw:mx-0">
                    <form class="tw:flex tw:flex-wrap tw:items-center tw:gap-2 tw:mt-1 tw:mb-3 tw:ml-2"
                          hx-get="{% url 'tournament:postponements' %}"
                          hx-trigger="submit"
                          hx-target="#content-container"
                          hx-swap="outerHTML"
                          hx-disabled-elt="find button">

                        <div class="tw:flex tw:flex-col tw:justify-center">
                            <label class="tw:label tw:text-base-content tw:font-bold">{{ filter.form.tournament.label }}</label>
                            {% render_field filter.form.tournament|add_class:'tw:select' %}
                        </div>

                        <div class="tw:flex tw:mt-auto">
                            <button class="tw:btn tw:btn-primary tw:rounded!">Применить фильтр</button>
                            <img class="htmx-indicator tw:ml-2 tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
                        </div>
                    </form>

                    <div id="postponements-table" class="tw:max-h-[850px] tw:overflow-y-auto tw:rounded-b-lg">
                        <table id="postponements-table" class="tw:table tw:table-pin-rows tw:border-t tw:border-neutral-200">
                            <thead class="tw:text-center">
                                <tr class="tw:bg-base-300!">
                                    <th scope="col" class="tw:border-r tw:border-neutral-200">Команда</th>
                                    {% for i in ''|rjust:league.get_postponement_slots.common_count %}
                                        <th scope="col" class="tw:border-r tw:border-neutral-200">Обычн. {{ forloop.counter }}</th>
                                    {% endfor %}
                                    {% for i in ''|rjust:league.get_postponement_slots.emergency_count %}
                                        <th scope="col" class="tw:border-r tw:border-neutral-200">Экстр. {{ forloop.counter }}</th>
                                    {% endfor %}
                                    {% for i in ''|rjust:league.get_postponement_slots.extra_count %}
                                        <th scope="col" class="tw:border-r tw:border-neutral-200">Платн. {{ forloop.counter }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>

                            <tbody>
                                {% for team in teams %}
                                    <tr class="tw:font-bold tw:text-center">
                                        <td class="tw:p-2 tw:border-r tw:border-neutral-200 tw:text-lg">
                                            <img src="{{team.logo.url}}" alt="{{team.title}}" style="margin-right: 5px;" width="25" height="25">{{team.title}}
                                        </td>
                                        {% for postponement in team|postponements_in_league:league %}
                                            <td class="tw:h-20 tw:p-1 tw:border-r tw:border-neutral-200 tw:text-sm">
                                                {% if postponement is not None %}
                                                    {% with match=postponement.match %}
                                                        <div class="{% if postponement.match.is_played %}postponement_played{% endif %}">
                                                            {{match.numb_tour.number}} тур<br>
                                                            <img src="{{match.team_home.logo.url}}" alt="{{match.team_home.short_title}}" width="16" height="16">
                                                            <a href="{{match.get_absolute_url}}">
                                                                {{match.team_home.short_title}} - {{match.team_guest.short_title}}
                                                            </a>
                                                            <img src="{{match.team_guest.logo.url}}" alt="{{match.team_guest.short_title}}" width="16" height="16">
                                                            <br />
                                                            {{postponement.starts_at|date:'d.m'}}-{{postponement.ends_at|date:'d.m'}}
                                                            {% if postponement|can_be_cancelled_by_user:user %}
                                                                <span class="tw:text-error"
                                                                      onclick="document.getElementById('cancel_postponement{{ postponement.id }}').showModal()">
                                                                    <i class="fa fa-times tw:text-xs tw:cursor-pointer" aria-hidden="true"></i>
                                                                </span>
                                                                <dialog class="tw:modal" id="cancel_postponement{{ postponement.id }}">

                                                                    <div class="tw:modal-box">
                                                                        <h4 class="tw:text-left">Отменить перенос?</h4>
                                                                        <div class="tw:modal-action">
                                                                            <form method="POST"
                                                                                  hx-post="{% url 'tournament:cancel_postponement' postponement.id %}"
                                                                                  hx-trigger="submit"
                                                                                  hx-target="#content-container"
                                                                                  hx-swap="outerHTML"
                                                                                  hx-vals='{"tournament": "{{ league.id }}"}'
                                                                            >
                                                                                <img class="htmx-indicator tw:mr-2 tw:w-6"
                                                                                     src="{% static 'img/svg-loaders/bars.svg' %}" height="24">
                                                                                <button type="submit" class="tw:btn tw:btn-primary tw:rounded!">
                                                                                    Да, я уверен
                                                                                </button>
                                                                            </form>

                                                                            <form method="dialog">
                                                                                <button class="tw:btn tw:rounded!">
                                                                                    Нет, подождите
                                                                                </button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </dialog>
                                                            {% endif %}
                                                        </div>
                                                    {% endwith %}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            {% if user|is_executive:league %}
                {% postponements_form user=user league=league %}
            {% endif %}

            {% partialdef postponements-events inline=True %}
                <div id="postponements-events" class="tw:card tw:bg-base-100 tw:rounded-lg">
                    <div class="tw:card-title tw:rounded-t-lg tw:p-4">
                        <h4 class="tw:card-title">Журнал событий ({{ postponements.paginator.count }})</h4>
                    </div>

                    <div class="comment-widgets">
                        {% for postponement in postponements %}

                            <div class="tw:flex tw:p-3 comment-row" id="postponement{{ postponement.id }}">
                                <div class="tw:pl-2">
                                    <a href="{{ postponement.taken_by.user_profile.get_absolute_url }}">
                                        <div class="tw:mr-2 tw:avatar">
                                            <div class="tw:w-[50px] tw:rounded-full">
                                                {% thumbnail postponement.taken_by.user_profile.avatar "50x50" crop="center" as avatar %}
                                                    <img src="{{ avatar.url }}" alt="{{ postponement.taken_by.username }}" width="50" class="tw:rounded-full">
                                                {% endthumbnail %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="comment-text tw:w-full">
                                    <div class="tw:flex tw:justify-between">
                                        <div class="tw:m-0 tw:flex">

                                            {% for icon in postponement.taken_by.user_profile.user_icon.all %}
                                                <div class="tw:mr-1 tw:align-middle">
                                                    <img src="{{ icon.image.url }}" width="16px" height="16px"
                                                         title="{{ icon.description }}">
                                                </div>
                                            {% endfor %}
                                            <a href="{{ postponement.taken_by.user_profile.get_absolute_url }}" class="tw:font-semibold">
                                                {{ postponement.taken_by.username }}
                                            </a>

                                        </div>
                                    </div>

                                    <div class="tw:inline-flex tw:items-center">
                                        <span class="tw:text-base-content/70 tw:text-xs">
                                            <i class="fa fa-calendar tw:text-primary" aria-hidden="true"></i>
                                            {{ postponement.taken_at|date:"d.m.y" }}
                                            <i class="fa fa-clock-o tw:text-primary" aria-hidden="true"></i>
                                            {{ postponement.taken_at|time:"H:i" }}
                                        </span>
                                    </div>
                                    <div class="comment-body">
                                        <p></p>
                                        <div id="postponement-log-entry">
                                            <span>{{ postponement.match.numb_tour.number }} тур</span><br>
                                            <span>{{ postponement.match.team_home }} - {{ postponement.match.team_guest }}</span><br>
                                            <p class="postponements-log-text">
                                                {% if postponement.is_emergency %}
                                                    экстренный
                                                {% endif %}
                                                {% if postponement.teams.count > 1 %}
                                                    обоюдный перенос
                                                {% else %}
                                                    перенос на команду {{ postponement.teams.all.0.title }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if postponement.is_cancelled %}
                                <div class="tw:flex tw:p-3 tw:pl-[7%] comment-row"
                                     id="postponement_c{{ postponement.id }}">
                                    <div class="tw:pl-2">
                                        <a href="{{ postponement.cancelled_by.user_profile.get_absolute_url }}">
                                            <div class="tw:mr-2 tw:avatar">
                                                <div class="tw:w-[50px] tw:rounded-full">
                                                    {% thumbnail postponement.cancelled_by.user_profile.avatar "50x50" crop="center" as avatar %}
                                                        <img src="{{ avatar.url }}" alt="{{ postponement.cancelled_by.username }}" width="50" class="tw:rounded-full">
                                                    {% endthumbnail %}
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="comment-text tw:w-full">
                                        <div class="tw:flex tw:justify-between">
                                            <div class="tw:m-0 tw:flex">

                                                {% for icon in postponement.cancelled_by.user_profile.user_icon.all %}
                                                    <div class="tw:mr-1 tw:align-middle">
                                                        <img src="{{ icon.image.url }}" width="16px" height="16px"
                                                             title="{{ icon.description }}">
                                                    </div>
                                                {% endfor %}
                                                <a href="{{ postponement.cancelled_by.user_profile.get_absolute_url }}" class="tw:font-semibold">
                                                    {{ postponement.cancelled_by.username }}
                                                </a>

                                            </div>
                                        </div>
                                        <div class="tw:inline-flex tw:items-center">
                                            <span class="tw:text-base-content/70 tw:text-xs">
                                                <i class="fa fa-calendar tw:text-primary" aria-hidden="true"></i>
                                                {{ postponement.cancelled_at|date:"d.m.y" }}
                                                <i class="fa fa-clock-o tw:text-primary" aria-hidden="true"></i>
                                                {{ postponement.cancelled_at|time:"H:i" }}
                                            </span>
                                        </div>
                                        <div class="comment-body">
                                            <p></p>
                                            <p>
                                                <span>Отмена переноса</span>
                                            </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}
                    </div>

                    {% if postponements.paginator.num_pages > 1 %}
                        <div class="tw:flex tw:justify-center tw:rounded-b-lg tw:bg-base-200 tw:border-t tw:border-gray-300">
                            <div id="pagination" aria-label="Page navigation" class="tw:join tw:my-3 tw:justify-self-center">
                                {% with page=postponements %}
                                    {% for page_number in page|pages_to_show %}
                                        {% if not page_number %}
                                            <button class="tw:join-item tw:btn tw:btn-disabled">...</button>
                                        {% elif page_number == page.number %}
                                            <button class="tw:join-item tw:btn tw:btn-active">{{ page_number }}</button>
                                        {% else %}
                                            {% with content_type=object|content_type %}
                                                {% if paginated_type == 'comments' %}
                                                    <button class="tw:join-item tw:btn"
                                                            hx-get="{% url 'tournament:postponements_events' %}?tournament={{ league.id }}&page={{ page_number }}"
                                                            hx-push-url="?page={{ page_number }}"
                                                            hx-target="#postponements-events"
                                                            hx-swap="outerHTML show:top"
                                                            hx-indicator="#page-indicator">
                                                        {{ page_number }}
                                                    </button>
                                                {% else %}
                                                    <a href="{{ object.get_absolute_url }}{% querystring page=page_number %}">
                                                        <button class="tw:join-item tw:btn">
                                                            {{ page_number }}
                                                        </button>
                                                    </a>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}

                                <img id="page-indicator" class="htmx-indicator tw:ml-2 tw:my-auto tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endpartialdef postponements-events %}
        </div>
    {% endpartialdef %}

    <script type="text/javascript" src="{% static 'scripts/PostponementScripts.js' %}"></script>
{% endblock %}

