{% load static %}


<div class="card mb-2" style="border-radius: 10px; overflow-y: auto;">
    <div class="container-fluid p-0 mx-0">
        {% if matches %}

            <div class="d-flex px-3 py-2 bg-dark text-light font-weight-bold text-center" style="font-size: 16px">
                <div class="text-center ml-2" style="width: 4%">
                    <label>Тур</label>
                </div>
                <div  style="width: 20%">
                    <label>Хозяева</label>
                </div>
                <div style="width: 20%">
                    <label>Гости</label>
                </div>
                <div class="col-2 ">
                    <label>Чей перенос</label>
                </div>
                <div class="col-2 ml-3 ">
                    <label>Тип переноса</label>
                </div>
                <div class="col-auto mx-auto ">
                    <label>Подтверждение</label>
                </div>
            </div>

            {% for match in matches %}
                <form class="form-inline p-3 border-bottom" style="font-size: 14px; font-weight: 600"
                      hx-post="{% url 'tournament:postponements' %}"
                      hx-trigger="submit"
                      hx-target="#content-container"
                      hx-swap="outerHTML"
                      hx-vals='{"tournament": "{{ tournament }}"}'
                      hx-disabled-elt="find button">

                    <input type="hidden" name="match_id" value="{{ match.id }}"/>

                    <label class="ml-2" style="width: 4%">{{ match.numb_tour.number }}</label>
                    <div class="d-flex justify-content-center" style="width: 20%">
                        <img src="{{match.team_home.logo.url}}" alt="..." width="25" height="25">
                        <span class="d-inline-block text-truncate">&nbsp;{{ match.team_home.title }}</span>
                    </div>

                    <div class="d-flex justify-content-center" style="width: 20%">
                        <img src="{{match.team_guest.logo.url}}" alt="..." width="25" height="25">
                        <span class="d-inline-block text-truncate">&nbsp;{{ match.team_guest.title }}</span>
                    </div>

                    <select class="postponements-select form-control col-2" name="team">
                        <option value="mutual">Обоюдный</option>
                        <option value="{{ match.team_home.id }}">{{ match.team_home }}</option>
                        <option value="{{ match.team_guest.id }}">{{ match.team_guest }}</option>
                    </select>

                    <select class="postponements-select form-control col-2 ml-3" name="type">
                        <option value="common">Обычный</option>
                        <option value="emergency">Экстренный</option>
                    </select>

                    <div class="form-group col-auto ml-auto justify-content-center">
                        <button class="postponements-button ml-auto" type="submit">Перенос</button>
                        <img class="htmx-indicator ml-2" src="{% static 'img/svg-loaders/bars.svg' %}" height="24">
                    </div>
                </form>
            {% endfor %}
        {% else %}
            <div class="d-inline-flex justify-content-center bg-c-lite-unknown p-3 w-100">
                <h6 class="mb-0">На текущий момент у Вас нет несыгранных матчей в данном турнире</h6>
            </div>
        {% endif %}
    </div>

</div>
