{% load static %}
{% load user_tags %}
{% load thumbnail %}

{% partialdef comment-item %}
  <div class="tw:flex tw:p-4 comment-row" id="r{{ comment.id }}">
    <div class="tw:pl-2">
      <a href="{{ comment.author.user_profile.get_absolute_url }}">
        <div class="tw:mr-2 tw:avatar {% if comment.author|is_online:users_online %}tw:avatar-online{% else %}tw:avatar-offline{% endif %}">
          <div class="tw:w-[50px] tw:rounded-full {% if comment.author.is_superuser %}tw:ring tw:ring-warning tw:ring-offset-base-100 tw:ring-offset-1{% endif %}">
            {% thumbnail comment.author.user_profile.avatar "50x50" crop="center" as avatar %}
              <img src="{{ avatar.url }}" alt="{{ comment.author.username }}" width="50" class="tw:rounded-full">
            {% endthumbnail %}
          </div>
        </div>
      </a>
    </div>

    <div class="comment-text tw:w-full">
      <div class="tw:flex tw:justify-between">
        <div class="tw:inline-flex tw:items-center">

          <div class="tw:m-0 tw:flex tw:items-center">

            {% for icon in comment.author.user_profile.user_icon.all %}
              <div class="tw:mr-1 tw:align-middle">
                <img src="{{ icon.image.url }}" width="16px" height="16px" title="{{ icon.description }}">
              </div>
            {% endfor %}
            <a href="{{ comment.author.user_profile.get_absolute_url }}"
               class="tw:link tw:link-hover tw:link-primary tw:font-semibold">{{ comment.author.username }}</a>

            <span class="tw:ml-1 tw:badge tw:badge-sm tw:font-bold {% if comment.author.user_profile.karma >= 0 %}tw:badge-success{% else %}tw:badge-error{% endif %}">
              {{ comment.author.user_profile.karma }}
            </span>
          </div>

          {% if not comment.is_parent %}
            <i class="tw:ml-2 tw:text-sm">
              ответил
            </i>

            <div class="tw:m-0 tw:flex tw:ml-2 tw:font-semibold">
              {% for icon in comment.parent.author.user_profile.user_icon.all %}
                <div class="tw:mr-1 tw:align-middle">
                  <img src="{{ icon.image.url }}" width="16px" height="16px" title="{{ icon.description }}">
                </div>
              {% endfor %}
              <a href="{{ comment.parent.author.user_profile.get_absolute_url }}"
                 class="tw:link tw:link-hover tw:link-primary tw:font-semibold">{{ comment.parent.author.username }}</a>
            </div>
          {% endif %}

          <span class="tw:text-sm tw:ml-2 tw:font-normal tw:truncate">
            {% if comment.content_type.model == 'post' %}
              под постом "{{ comment.content_object.title }}"
            {% elif comment.content_type.model == 'match' %}
              под матчем {{ comment.content_object.team_home.title }} - {{ comment.content_object.team_guest.title }}
            {% elif comment.content_type.model == 'league' %}
              в турнире "{{ comment.content_object }}"
            {% elif comment.content_type.model == 'profile' %}
              в профиле {{ comment.content_object.name.username }}
            {% endif %}
          </span>
        </div>

        <span>
          <a class="tw:link" href="{{ comment.get_absolute_url }}">#{{ comment.id }}</a>
        </span>
      </div>

      <div class="tw:inline-flex tw:items-center">
        <span class="tw:mt-1 tw:text-base-content/70 tw:text-[13px]!">
          <i class="fa fa-calendar tw:text-primary" aria-hidden="true"></i>
          {{ comment.created|date:"d.m.y" }}
          <i class="fa fa-clock-o tw:text-primary" aria-hidden="true"></i>
          {{ comment.created|time:"H:i" }}
          {% if comment.edited %}
            {% if comment.edited.date == comment.created.date %}
              <i class="fa fa-pencil tw:hover:text-warning tw:ml-0.5 "
                 aria-hidden="true"
                 data-comment-edit-title='изм. {{ comment.edited|time:"H:i" }}'></i>
            {% else %}
              <i class="fa fa-pencil tw:hover:text-warning tw:ml-0.5"
                 aria-hidden="true"
                 data-comment-edit-title='изм. {{ comment.edited|date:"d.m.y" }} {{ comment.edited|time:"H:i" }}'></i>
            {% endif %}
          {% endif %}
        </span>

        {% include 'core/include/like_dislike_comment.html' with comment=comment %}
      </div>
      <div class="comment-body tw:mt-3 tw:prose tw:max-w-none tw:text-base-content">
        {{ comment.body|safe }}
      </div>
    </div>
  </div>
{% endpartialdef %}

<div class="tw:flex tw:flex-col tw:gap-2">
  {% if comments|length > 0 %}
    <div class="tw:flex tw:flex-col tw:gap-1">
      <div class="comment-widgets">
        {% for comment in comments %}
          {% with comment=comment %}
            {% partial comment-item %}
          {% endwith %}
        {% endfor %}
      </div>
    </div>

    {% if page.paginator.num_pages > 1 %}
      <div class="tw:flex tw:justify-center">
        <div id="pagination" aria-label="Page navigation" class="tw:join tw:my-3 tw:justify-self-center">
          {% for page_number in page|pages_to_show %}
            {% if not page_number %}
              <button class="tw:join-item tw:btn tw:btn-disabled">
                ...
              </button>
            {% elif page_number == page.number %}
              <button class="tw:join-item tw:btn tw:btn-active">
                {{ page_number }}
              </button>
            {% else %}
              <button class="tw:join-item tw:btn tw:bg-base-100"
                      hx-get="{% url 'core:user_comments' user_id %}?page={{ page_number }}"
                      hx-push-url="false"
                      hx-target="#user-comments-container"
                      hx-swap="innerHTML show:top"
                      hx-indicator="#page-indicator">
                {{ page_number }}
              </button>
            {% endif %}
          {% endfor %}
        </div>
        <img id="page-indicator" class="htmx-indicator tw:ml-2 tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
      </div>
    {% endif %}
  {% else %}
    <div class="tw:text-center">
      <p class="tw:text-xl! tw:p-2 tw:text-base-content/70">
        У пользователя пока нет комментариев
      </p>
    </div>
  {% endif %}
</div>
