{% extends "core/home.html" %}
{% load cache %}
{% load tournament_extras %}

{% block title %}Чемпионат | Зал славы — CIS-HAXBALL {% endblock %}
{% block profile_of_user %}
    {% cache 3600 hall_of_fame_cache %}
        <div class="tw:card tw:bg-base-100 tw:mb-2 tw:mt-2 tw:rounded-lg">
            <div class="tw:w-full tw:flex tw:justify-center tw:align-center tw:bg-base-300 tw:rounded-t-lg tw:py-2 tw:border-b tw:border-gray-300">
                <div class="tw:card-title tw:py-1">
                    <h3 class="tw:text-center tw:flex tw:items-center tw:justify-center">Зал славы</h3>
                </div>
            </div>

            <div class="tw:card-body tw:px-0 tw:pt-0! tw:pb-1">
                <div class="tw:tabs tw:tabs-border tw:px-0! tw:bg-base-200 tw:rounded-b-lg tw:mb-3" role="tablist">
                    <input type="radio" name="hall-of-fame-tabs"
                           class="tw:tab tw:w-1/3 tw:grow tw:font-semibold"
                           aria-label="Игроки"
                           checked
                    />
                    <div class="tw:tab-content tw:bg-base-100 tw:border-base-300" role="tabpanel">
                        {% include 'tournament/hall_of_fame/partials/players_hall_of_fame.html' %}
                    </div>

                    <input type="radio" name="hall-of-fame-tabs"
                           class="tw:tab tw:w-1/3 tw:grow tw:font-semibold"
                           aria-label="Команды"
                    />
                    <div class="tw:tab-content tw:bg-base-100 tw:border-base-300" role="tabpanel">
                        {% include 'tournament/hall_of_fame/partials/teams_hall_of_fame.html' %}
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
{% endblock %}