{% load user_tags %}

<ul class="tw:inline-flex tw:items-center tw:mb-0!">
  <li class="action-like fa fa-thumbs-up tw:pl-2 tw:cursor-pointer tw:text-base-content/40 tw:hover:text-success {% if post.votes.likes.all|user_in:user %}tw:text-success{% endif %}"
    {# djlint:off #}
      {% if user.is_authenticated %}
        {% if user.user_profile.can_vote %}
          data-id="{{ post.id }}" data-type="post" data-action="like" id="lpost{{ post.id }}" title="Нравится"
        {% else %}
          onclick="alert('Вам ограничен доступ к лайкам/дизлайкам!')"
        {% endif %}
      {% else %}
        onclick="login_modal.showModal()"
      {% endif %}
  >
    {# djlint:on #}
    <span data-count="like">{{ post.votes.likes.count }}</span>
  </li>

  <li class="action-dislike fa fa-thumbs-down tw:pl-2 tw:cursor-pointer tw:text-base-content/40 tw:hover:text-error {% if post.votes.dislikes.all|user_in:user %}tw:text-error{% endif %}"
    {# djlint:off #}
      {% if user.is_authenticated %}
        {% if user.user_profile.can_vote %}
          data-id="{{ post.id }}" data-type="post" data-action="dislike" id="dpost{{ post.id }}" title="Не нравится"
        {% else %}
          onclick="alert('Вам ограничен доступ к лайкам/дизлайкам!')"
        {% endif %}
      {% else %}
        onclick="login_modal.showModal()"
      {% endif %}
  >
    {# djlint:on #}
    <span data-count="dislike">{{ post.votes.dislikes.count }}</span>
  </li>
</ul>
