<dialog id="login_modal" class="tw:modal">
    <div class="tw:modal-box">
        <h3 class="tw:text-lg tw:font-bold">Вход на сайт</h3>
        <h6 class="tw:text-base-content tw:mb-2">
            Нет аккаунта? <a class="tw:link tw:link-primary tw:font-semibold" href="{% url 'account_signup' %}">Зарегистрируйтесь!</a>
        </h6>

        <form method="POST" action="{% url 'account_login' %}" class="tw:mt-3">
            {% csrf_token %}

            <div class="tw:flex tw:flex-col tw:gap-y-2! tw:mb-2">
                <fieldset class="tw:fieldset tw:w-full">
                    <legend class="tw:fieldset-legend tw:text-sm!">Имя пользователя</legend>
                    <input type="text" name="login" class="tw:input tw:w-full" />
                </fieldset>

                <fieldset class="tw:fieldset tw:w-full">
                    <legend class="tw:fieldset-legend tw:text-sm!">Пароль</legend>
                    <input type="password" name="password" class="tw:input tw:w-full" />
                </fieldset>
            </div>

            <a class="tw:link tw:text-sm tw:block tw:mb-2" href="{% url 'account_reset_password' %}">Забыли пароль?</a>

            <fieldset class="tw:fieldset">
                <label class="tw:fieldset-label tw:text-sm">
                    <input type="checkbox" name="remember" class="tw:checkbox tw:checkbox-sm" />
                    Запомнить меня
                </label>
            </fieldset>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="tw:modal-action">
                <button type="submit" class="tw:btn tw:btn-primary tw:rounded!">Войти</button>
            </div>
        </form>
    </div>

    <form method="dialog" class="tw:modal-backdrop">
        <button />
    </form>
</dialog>