{% load i18n %}

<dialog id="logout_modal" class="tw:modal">
    <div class="tw:modal-box">
        <h4 class="tw:font-bold">{% trans "Хотите выйти?" %}</h4>
        <div class="tw:modal-action">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit" class="tw:btn tw:btn-primary tw:rounded-sm!">{% trans "Да" %}</button>
            </form>
            <form method="dialog">
                <button class="tw:btn tw:rounded-sm! tw:mb-0! tw:inline-flex!">{% trans "Нет" %}</button>
            </form>
        </div>
    </div>
</dialog>