{% load static %}
{% load user_tags %}

{% with content_type=object|content_type %}
  <form id="addcomment" class="text-center"
        hx-post="{% url 'core:add_comment' content_type.pk object.id %}"
        hx-trigger="submit"
        hx-target="#comments-container"
        hx-swap="outerHTML scroll:top"
        hx-on::config-request="event.detail.parameters['body'] = CKEDITOR.instances['id_body'].getData()"
        hx-on::before-request="document.getElementById('cke_id_body').style.filter = 'blur(1px)';"
        hx-on::after-request="CKEDITOR.instances['id_body'].setData(''); document.getElementById('cke_id_body').style.filter = 'none';"
        hx-disabled-elt="find button[type=submit]">

    {{ comment_form.media }}
    <input type="hidden" name="parent" id="contactparent" value="">

    <div class="form-group mt-2 ml-1">
      {{ comment_form.body }}
    </div>

    <div align="right">
      <img class="htmx-indicator mr-2" height="24" src="{% static 'svg-loaders/bars.svg' %}">
      <button type="submit" class="btn btn-primary mr-2" hx-disabled-elt="this">Отправить</button>
    </div>

  </form>
{% endwith %}