{% load static %}
{% load user_tags %}
{% load thumbnail %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/include/comments.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/core.css" %}">
    <style>
        .django-ckeditor-widget {
            width: 100% !important;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script>
        function ChangeText(Element) {
            if (Element.innerHTML == '<i class="fa fa-chevron-up"></i>Скрыть ответы') Element.innerHTML = '<i class="fa fa-chevron-down"></i>Показать ответы';
            else Element.innerHTML = '<i class="fa fa-chevron-up"></i>Скрыть ответы';
        }
    </script>
{% endblock %}


<div class="row mt-2">
    <div class="col-md-12">

        <div class="card mb-2 py-2 px-1" style="border-radius: 20px">
            {% if object.commentable %}
                {% if user.is_authenticated and user.user_profile.can_comment %}
                    {% include 'core/include/new_form_comment.html' %}
                {% elif user.is_authenticated and not user.user_profile.can_comment %}
                    <h6 class="text-center">
                        Брумасик считает, что вам лучше не писать здесь :(
                    </h6>
                {% else %}
                    <h6 class="text-center">
                        <a class="text-primary" data-toggle="modal" data-target="#loginModal" style="cursor: pointer">
                            Войдите</a>, чтобы оставить комментарий
                    </h6>
                {% endif %}
            {% else %}
                <h5 class="text-center">
                    {% if object|get_class == 'Profile' %}
                        Пользователь закрыл свой профиль
                    {% else %}
                        Комментарии закрыты
                    {% endif %}
                </h5>
            {% endif %}
        </div>

        {% partialdef comments-container inline=True %}
            {% if comments|length > 0 or object.commentable %}
                <div class="card mb-5" style="border-radius: 20px" id="comments-container">
                    <div class="card-body card-body-comment">
                        {% if comments|length > 0 %}
                            <h4 class="card-title">Комментарии ({{ object.comments.count }})</h4>
                        {% elif object.commentable %}
                            <h6 class="card-subtitle">Здесь пока пусто, не хочешь быть первым?</h6>
                        {% endif %}
                    </div>
                    <div class="comment-widgets">
                        {% for comment in comments %}

                            {% if comment.is_parent %}
                                {% include 'core/include/comment/comment-item.html' with comment=comment %}

                                {% if comment.has_childs %}
                                    {% if comment.childs_count > 2 %}
                                        <div class="collapse show" id="commentcollapse{{ comment.id }}">
                                    {% endif %}

                                    {% for child_comment in comment.all_childs %}
                                        {% include 'core/include/comment/comment-item.html' with comment=child_comment %}
                                    {% endfor %}

                                    {% if comment.childs_count > 2 %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                    </div>

                    <div class="card-footer text-muted pb-0 pt-3">
                        {% if object.comments.count > 2 %}
                            {% include "core/include/pagination.html" with page=comments paginated_type="comments" %}
                        {% endif %}
                    </div>

                </div>
            {% endif %}
        {% endpartialdef %}
    </div>
</div>


<script>

    function addComment(name, id) {
        document.getElementById('contactparent').value = id;
    }

    document.body.addEventListener('htmx:afterRequest', (event) => {
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    })


</script>