<style>
    .marquee {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .marquee span {
        display: inline-block;
        padding-left: 100%;
        -webkit-animation: scroll 30s infinite linear;
        -moz-animation: scroll 30s infinite linear;
        animation: scroll 30s infinite linear;
    }

    @keyframes scroll {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-100%, 0)
        }
    }
</style>


<h6 class="marquee" style="background-color: white">
    <span>
        Результаты матчей:
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% for match in latest_matches %}
            {{ match.league.title }}. {{ match.numb_tour.number }} тур.
            <img src="{{match.team_home.logo.url}}" width=20 height=20>
            {{ match.team_home.title }}
            <a href="{{match.get_absolute_url}}">
                 {{ match.score_home }}:{{ match.score_guest }}
            </a>
            {{ match.team_guest.title }}
            <img src="{{match.team_guest.logo.url}}" width=20 height=20>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endfor %}
    </span>
</h6>