{% load static %}

<div class="tw:card tw:border tw:border-gray-100 tw:rounded-lg">
  <div class="tw:card-title tw:rounded-t-lg! tw:justify-center tw:bg-card-header tw:text-card-header tw:lg:rounded-t tw:p-2 tw:border-b tw:border-gray-100">
    <span class="tw:text-xl tw:underline tw:text-center">Медиа</span>
  </div>
  <div class="tw:card-body tw:rounded-b-lg tw:p-1 tw:bg-base-100">
    <div class="tw:w-full tw:flex tw:justify-around">
      <a href="https://discord.gg/h6mgc4bTJh" title="Discord" target="_blank" class="tw:m-1 tw:mt-2">
        <i class="fi fi-brands-discord tw:text-4xl"></i>
      </a>
      <a href="https://www.youtube.com/@cis-haxball" title="YouTube" target="_blank" class="tw:m-1 tw:mt-2">
        <i class="fi fi-brands-youtube tw:text-4xl"></i>
      </a>
      <a href="https://www.twitch.tv/cis_haxball" title="Twitch" target="_blank" class="tw:m-1 tw:mt-2">
        <i class="fi fi-brands-twitch tw:text-4xl"></i>
      </a>
      <a href="https://t.me/+GRxpyqeJKosxODQy" title="Telegram" target="_blank" class="tw:m-1 tw:mt-2">
        <i class="fi fi-brands-telegram tw:text-4xl"></i>
      </a>
    </div>
  </div>
</div>
