{% if livestreams|length > 0 %}
    <div class="tw:card tw:border tw:border-gray-100 tw:rounded-lg tw:mb-2">
        <div class="tw:card-title tw:justify-center tw:rounded-t-lg tw:border-b tw:border-gray-100 tw:p-2 tw:bg-card-header tw:text-card-header">
            <span class="tw:mb-0 tw:text-lg tw:text-center">Трансляции</span>
        </div>

        <div class="tw:flex tw:flex-col tw:w-full tw:mb-0! tw:bg-base-100 tw:p-2 tw:rounded-b-lg tw:gap-3">
            {% for stream in livestreams %}
                <div class="tw:flex tw:flex-col tw:gap-1">
                    <a href="{{ stream.url }}" target="_blank" class="tw:block tw:bg-base-200 tw:hover:bg-base-300 tw:rounded-lg tw:overflow-hidden tw:transition-colors">
                        <div class="tw:flex tw:justify-center tw:relative">
                            <img src="{{ stream.thumbnail_url }}" alt="{{ stream.title }}" class="tw:w-full tw:rounded">
                            {% if stream.is_live %}
                                <div class="tw:absolute tw:top-2 tw:right-2 tw:bg-red-500 tw:text-white tw:px-1 tw:rounded-sm tw:text-base">
                                    LIVE
                                </div>
                            {% else %}
                                <div class="tw:absolute tw:top-2 tw:right-2 tw:bg-black/60 tw:text-white tw:px-1 tw:rounded-sm tw:text-sm">
                                    <i class="fa fa-eye"></i> {{ stream.total_views }}
                                </div>
                                <div class="tw:absolute tw:bottom-2 tw:right-2 tw:bg-black/60 tw:text-white tw:px-1 tw:rounded-sm tw:text-sm">
                                    {{ stream.duration.formatted }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="tw:px-2 tw:pt-1 tw:pb-2 tw:flex tw:flex-col tw:justify-center tw:items-start">
                            <span class="tw:font-semibold tw:line-clamp-2" title="{{ stream.title }}">{{ stream.title }}</span>
                            <span class="tw:text-base-content/70 tw:text-sm tw:text-center tw:line-clamp-1">{{ stream.channel_title }}</span>
                            {% if not stream.is_live %}
                                <span class="tw:text-base-content/70 tw:text-sm tw:text-center tw:self-end">
                                    {{ stream.actual_start_time|date }}
                                </span>
                            {% endif %}
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>
{% endif %}