{% if featured_videos|length > 0 %}
    <div class="tw:card tw:border tw:border-gray-100 tw:rounded-lg tw:mb-2">
        <div class="tw:card-title tw:justify-center tw:rounded-t-lg tw:border-b tw:border-gray-100 tw:p-2 tw:bg-card-header tw:text-card-header">
            <span class="tw:mb-0 tw:text-lg tw:text-center">Видео</span>
        </div>

        <div class="tw:flex tw:flex-col tw:w-full tw:mb-0! tw:bg-base-100 tw:p-2 tw:rounded-b-lg tw:gap-3">
            {% for video in featured_videos %}
                <a href="{{ video.url }}" target="_blank" class="tw:block tw:bg-base-200 tw:hover:bg-base-300 tw:rounded-lg tw:overflow-hidden  tw:transition-colors">
                    <div class="tw:flex tw:justify-center tw:relative">
                        <img src="{{ video.thumbnail_url }}" alt="{{ video.title }}" class="tw:w-full tw:rounded">
                        <div class="tw:absolute tw:bottom-2 tw:right-2 tw:bg-black/60 tw:text-white tw:px-1 tw:rounded-sm tw:text-sm tw:select-none">
                            {{ video.duration.formatted }}
                        </div>
                        {% if video.view_count %}
                            <div class="tw:absolute tw:top-2 tw:right-2 tw:bg-black/60 tw:text-white tw:px-1 tw:rounded-sm tw:text-sm tw:select-none">
                                <i class="fa fa-eye"></i> {{ video.view_count }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="tw:px-2 tw:pt-1 tw:pb-2 tw:flex tw:flex-col tw:justify-center tw:items-start">
                        <span class="tw:font-semibold tw:line-clamp-2" title="{{ video.title }}">{{ video.title }}</span>
                        <span class="tw:text-base-content/70 tw:text-sm tw:line-clamp-1" title="{{ video.channel_title }}">{{ video.channel_title }}</span>
                        <span class="tw:text-base-content/70 tw:text-sm tw:self-end tw:select-none">
                            {{ video.published_at|date }}
                        </span>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}