{% load static %}
{% load cache %}

{% cache 60 last_activity_cache %}

    <div class="tw:card tw:rounded-t-lg tw:rounded-b-none tw:border tw:border-white">
        <div class="tw:card-title tw:justify-center tw:p-2 tw:rounded-t-lg tw:bg-gradient-to-r tw:from-teal-100 tw:to-violet-100">
            <span class="tw:mb-0 tw:text-center">
                <img src="{% static "img/ico/new_1.png" %}" width="30" class="tw:align-top" alt="New Comments">
                Комментарии
            </span>
        </div>

        <div class="tw:w-full">
            {% for comment in last_comments %}
                <a href="{{ comment.get_absolute_url }}" title="от {{ comment.author }}"
                   class="tw:btn-link-block tw:p-2 tw:bg-gray-500! tw:hover:bg-gray-600! tw:text-white!"
                >
                    <div class="tw:w-full tw:flex tw:justify-between tw:overflow-hidden">
                        <span class="tw:text-left tw:truncate tw:mr-2">{{ comment.content_object }}</span>
                        <img src="{% static "img/ico/reply.png" %}" height="30" width="30" alt="Reply">
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endcache %}
