{% load static %}

<div class="tw:card tw:border tw:border-white tw:rounded-lg tw:mb-2">
    <div class="tw:card-title tw:rounded-t-lg! tw:justify-center tw:bg-gradient-to-r tw:from-teal-100 tw:to-violet-100  tw:lg:rounded-t tw:p-2">
        <span class="tw:text-xl tw:underline tw:text-center">Медиа</span>
    </div>
    <div class="tw:card-body tw:rounded-b-lg tw:p-1 tw:bg-base-100">
        <div class="tw:w-full tw:flex tw:justify-around">
            <a href="https://discord.gg/h6mgc4bTJh" target="_blank" class="tw:m-0 tw:p-1">
                <img src="{% static 'img/ico/fi-discord.png' %}" title="discord" class="tw:w-9">
            </a>
            <a href="https://www.youtube.com/@cis-haxball" target="_blank" class="tw:m-0 tw:p-1">
                <img src="{% static 'img/ico/fi-youtube.png' %}" title="youtube" class="tw:w-9">
            </a>
            <a href="https://www.twitch.tv/cis_haxball" target="_blank" class="tw:m-0 tw:p-1">
                <img src="{% static 'img/ico/fi-twitch.png' %}" title="twitch" class="tw:w-9">
            </a>
            <a href="https://t.me/+GRxpyqeJKosxODQy" target="_blank" class="tw:m-0 tw:p-1">
                <img src="{% static 'img/ico/fi-telegram.png' %}" title="tg" class="tw:w-9">
            </a>
        </div>
    </div>
</div>