{% load static %}
{% load thumbnail %}
<div class="tw:card tw:border-t-1 tw:border-white tw:rounded-lg tw:mb-2">
    <div class="tw:card-title tw:justify-center tw:rounded-t-lg tw:border-b tw:border-gray-300 tw:p-2 tw:bg-gradient-to-r tw:from-teal-100 tw:to-violet-100">
        <span class="tw:mb-0 tw:text-lg tw:text-center">Последние трансферы</span>
    </div>

    <div class="tw:flex tw:flex-col tw:w-full tw:mb-0! tw:bg-white">
        {% for transfer in transfers %}
            <div class="tw:px-2 tw:flex tw:flex-wrap tw:justify-center tw:items-center tw:py-2 tw:not-last:border-b tw:not-last:border-gray-300">
                <div class="tw:avatar tw:mr-4">
                    <div class="tw:w-[50px] tw:h-[50px] tw:rounded-full">
                        <a href="{{ transfer.trans_player.name.user_profile.get_absolute_url }}">
                            {% thumbnail transfer.trans_player.name.user_profile.avatar "100x100" crop="center" as avatar %}
                                <img src="{{ avatar.url }}" alt="{{ transfer.trans_player.nickname }}" title="{{ transfer.trans_player }}">
                            {% endthumbnail %}
                        </a>
                    </div>
                </div>

                <div class="tw:flex tw:justify-center tw:items-center">
                    <div class="tw:avatar tw:mr-2">
                        <div class="tw:w-[55px]">
                            {% if transfer.from_team %}
                                <a href="{{ transfer.from_team.get_absolute_url }}">
                                    <img src="{{ transfer.from_team.logo.url }}" class="tw:rounded-lg"
                                         alt="{{ transfer.from_team.title }}" title="{{ transfer.from_team.title }}">
                                </a>
                            {% else %}
                                <img src="{% static 'img/ico/free.png' %}" class="tw:mr-2"
                                     alt="СА" width="55" title="Свободный агент">
                            {% endif %}
                        </div>
                    </div>

                    <i class="fa fa-long-arrow-right"></i>

                    <div class="tw:avatar tw:ml-2">
                        <div class="tw:w-[55px]">
                            {% if transfer.to_team %}
                                <a href="{{ transfer.to_team.get_absolute_url }}">
                                    <img src="{{ transfer.to_team.logo.url }}" class="tw:rounded-lg"
                                         alt="{{ transfer.to_team.title }}" title="{{ transfer.to_team.title }}">
                                </a>
                            {% else %}
                                <img src="{% static 'img/ico/free.png' %}" class="tw:mr-2"
                                     alt="СА" width="55" title="Свободный агент">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="tw:p-0">
        <a class="tw:btn-link-block tw:justify-center tw:font-medium tw:text-gray-800! tw:border! tw:border-white tw:bg-blue-400! tw:hover:bg-blue-500!"
           href="{% url 'tournament:transfers' %}">
            Все трансферы
        </a>
    </div>
</div>