{% load thumbnail %}

{% for league in leagues %}
    <h5 class="text-center">{{ league.title }}</h5>

    <div class="row justify-content-start ml-1 mb-2">

        {% for team in league.teams.all %}
            <div class="col-4 justify-content-center">
                {% thumbnail team.logo "25x25" format="PNG" as im %}
                    <img src="{{ im.url }}" alt="{{ team.title }}" class="ml-1" width="25px" height="25px">
                {% endthumbnail %}

                <a href="{{ team.get_absolute_url }}" class="h6">{{ team.title|truncatechars:18 }}</a>
            </div>
        {% endfor %}
    </div>
{% endfor %}
