{% extends "core.html" %}

{% load i18n %}

{% block title %}
  {% trans "Change Password" %}
{% endblock %}

{% block main_content %}
  <div class="tw:card tw:bg-base-100 tw:rounded-lg">
    <h2 class="tw:text-center tw:py-2">
      {% if token_fail %}
        {% trans "Bad Token" %}
      {% else %}
        {% trans "Change Password" %}
      {% endif %}
    </h2>

    <div class="tw:card-body tw:pt-2">
      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
          {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
            request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
      {% else %}
        {% if form %}
          <form method="POST" action="{{ action_url }}" class="tw:space-y-1">
            {% csrf_token %}

            <div class="tw:flex tw:flex-wrap tw:item tw:gap-1">
              <fieldset class="tw:fieldset tw:w-full">
                <legend class="tw:fieldset-legend">Новый пароль</legend>
                <input type="password" class="tw:input tw:w-full" id="exampleInputPassword1" name="password1" required>
              </fieldset>
              <span class="tw:text-error">{{ form.errors.password1 }}</span>
            </div>

            <div class="tw:flex tw:flex-wrap tw:item tw:gap-1">
              <fieldset class="tw:fieldset tw:w-full">
                <legend class="tw:fieldset-legend">Новый пароль (ещё раз)</legend>
                <input type="password" class="tw:input tw:w-full" id="exampleInputPassword2" name="password2" required>
              </fieldset>
              <span class="tw:text-error">{{ form.errors.password2 }}</span>
            </div>

            <input class="tw:btn tw:btn-sm tw:btn-primary tw:mt-1" type="submit" name="action" value="{% trans 'Изменить пароль' %}" />
          </form>
        {% else %}
          <p>{% trans "Your password is now changed." %}</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
