{% load static %}
{% load fantasy_league_extras %}

<div class="tw:card tw:bg-base-100 tw:rounded-lg">
  <div class="tw:p-4">
    <div class="tw:flex tw:items-center tw:gap-2 tw:font-bold">
      <h5 class="tw:text-lg tw:mb-3!">Активности</h5>
      <span class="tw:badge tw:badge-neutral tw:badge-xs tw:mb-1.5">{{ project_settings.ACTIVITIES_CURRENT_TOUR }} тур</span>
    </div>

    {% time_until_current_tour_deadline as time_until_start %}
    <div class="tw:flex tw:flex-col tw:gap-2">
      <a href="{% url 'fantasy_league:main' %}"
         class="tw:justify-start tw:items-center tw:btn tw:btn-primary tw:btn-ghost tw:btn-sm tw:flex-nowrap tw:pr-0!">
        <img src="{% static 'img/ico/fantasy_alt.png' %}" title="fantasy" class="tw:size-5">
        <span class="tw:ml-1 tw:truncate">Fantasy League</span>
        {% if time_until_start %}
          <div class="tw:badge tw:badge-warning tw:badge-soft tw:badge-xs tw:gap-1 tw:text-nowrap">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {{ time_until_start }}
          </div>
        {% endif %}
      </a>

      <a href="{% url 'predictions:main' %}"
         class="tw:justify-start tw:items-center tw:btn tw:btn-primary tw:btn-ghost tw:btn-sm tw:flex-nowrap tw:pr-0!">
        <img src="{% static 'img/ico/forecasting.png' %}" class="tw:size-8 tw:-ml-[7px]">
        <span class="tw:-ml-[1px] tw:truncate">Прогнозы</span>
        {% if time_until_start %}
          <div class="tw:badge tw:badge-warning tw:badge-soft tw:badge-xs tw:gap-1 tw:text-nowrap">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {{ time_until_start }}
          </div>
        {% endif %}
      </a>
    </div>
  </div>
</div>
