{% load static %}

<div class="tw:card tw:bg-base-100 tw:rounded-lg">
  <div class="tw:p-4">
    <div class="tw:flex tw:items-center tw:gap-2 tw:font-bold">
      <h5 class="tw:text-lg tw:mb-3!">Активности</h5>
      <span class="tw:badge tw:badge-neutral tw:badge-xs tw:mb-1.5">3 тур</span>
    </div>

    <div class="tw:flex tw:flex-col tw:gap-2">
      <a href="{% url 'fantasy_league:main' %}"
         class="tw:justify-start tw:items-center tw:btn tw:btn-primary tw:btn-ghost tw:btn-sm">
        <img src="{% static 'img/ico/fantasy_alt.png' %}" title="fantasy" class="tw:size-5">
        <span class="tw:ml-1">Fantasy League</span>
      </a>

      <a href="{% url 'predictions:main' %}"
         class="tw:justify-start tw:items-center tw:btn tw:btn-primary tw:btn-ghost tw:btn-sm">
        <img src="{% static 'img/ico/forecasting.png' %}" class="tw:size-8 tw:-ml-[7px]">
        <span class="tw:-ml-[1px]">Прогнозы</span>
      </a>
    </div>
  </div>
</div>
