{% extends "core.html" %}

{% load static %}
{% load mathfilters %}
{% load user_tags %}

{% block title %}Баланс — CIS-HAXBALL{% endblock %}

{% block main_content %}
  <div class="tw:card tw:bg-base-100 tw:rounded-lg">
    <div class="tw:w-full tw:flex tw:justify-center tw:align-center tw:bg-base-300 tw:rounded-t-lg tw:py-2 tw:border-b tw:border-gray-300">
      <div class="tw:card-title tw:py-1">
        <h3 class="tw:text-center">Мой баланс</h3>
      </div>
    </div>

    <div class="tw:card-body tw:p-4">
      <div class="tw:flex tw:items-center tw:justify-center tw:mb-3 tw:p-4 tw:bg-gradient-to-r tw:from-primary tw:to-secondary tw:rounded-lg tw:text-white">
        <div class="tw:text-center">
          <div class="tw:text-base tw:opacity-80 tw:mb-2">
            Текущий баланс
            <span class="tw:tooltip tw:tooltip-bottom">
              <div class="tw:tooltip-content tw:max-w-72 tw:whitespace-normal tw:text-left">
                <span class="tw:font-semibold">CIS Coins (CC)</span> — внутренняя валюта сайта для покупок в магазине.
                <br>
                Получить монеты можно за игровые и околоигровые активности, такие как elo, турнир прогнозистов, фэнтези-лига и другие.
              </div>
              <i class="fa fa-info-circle tw:text-sm! tw:ml-0.5" aria-hidden="true"></i>
            </span>
          </div>
          <div class="tw:flex tw:items-center tw:justify-center tw:gap-1 tw:mb-2">
            <img src="{% static 'img/cis-coin.png' %}" class="tw:size-8 tw:mt-0.5" alt="CIS Coin" />
            <span class="tw:text-3xl tw:font-bold">{{ current_balance }} CC</span>
          </div>
        </div>
      </div>

      <div class="tw:space-y-3">
        <div class="tw:flex tw:items-center tw:justify-between">
          <h4 class="tw:text-lg tw:font-semibold tw:mb-0!">История операций</h4>
          <a href="{% url 'balance:shop' %}" class="tw:btn tw:btn-secondary tw:btn-sm tw:justify-center tw:gap-2">
            Перейти в магазин
            <i class="fa fa-shopping-bag"></i>
          </a>
        </div>

        <div id="transactions-container" class="tw:flex tw:flex-col tw:gap-y-2">
          {% if transactions|length > 0 %}
            {% include 'balance/partials/transaction_list.html' with transactions=transactions %}
          {% else %}
            <div class="tw:text-center tw:py-8 tw:text-base-content/60">
              <i class="fa fa-history tw:text-lg tw:mb-2"></i>
              <p>История операций пока пуста</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
