{% extends "core.html" %}

{% load mathfilters %}
{% load static %}

{% block title %}Магазин — CIS-HAXBALL{% endblock %}

{% block main_content %}
  <div class="tw:card tw:bg-base-100 tw:rounded-lg tw:shadow-sm tw:overflow-hidden">
    <div class="tw:flex tw:flex-wrap tw:items-center tw:justify-between tw:bg-base-300 tw:rounded-t-lg tw:px-4 tw:py-3 tw:gap-3">
      <div>
        <h3 class="tw:text-xl tw:font-semibold">Магазин</h3>
        <div class="tw:text-sm tw:text-base-content/70 tw:mb-1">
          Здесь можно потратить ваши честно нажитые
          <span class="tw:tooltip tw:tooltip-bottom tw:underline tw:decoration-dotted tw:cursor-help">
            <div class="tw:tooltip-content tw:max-w-72 tw:whitespace-normal tw:text-left">
              <span class="tw:font-semibold">CIS Coins (CC)</span> — внутренняя валюта сайта для покупок в магазине.
              <br>
              Получить монеты можно за игровые и околоигровые активности, такие как elo, турнир прогнозистов, фэнтези-лига и другие.
            </div>
            монеты
          </span>
        </div>
      </div>
      <div id="shop-balance-display"
           class="tw:flex tw:flex-col tw:items-end tw:justify-center tw:gap-1 tw:bg-base-100 tw:rounded-xl tw:py-1 tw:px-3 tw:shadow-inner">
        <div class="tw:text-base-content/70">Баланс</div>
        <div class="tw:flex tw:items-center tw:gap-1">
          <img src="{% static 'img/cis-coin.png' %}" class="tw:size-5" alt="CIS Coin">
          <div class="tw:font-semibold">{{ current_balance|intdiv:1 }}</div>
        </div>
      </div>
    </div>

    <div class="tw:p-4 tw:bg-base-100">
      <div id="shop-messages-container">{% include 'balance/partials/shop_messages.html' %}</div>
      <div id="shop-items-container" class="tw:grid tw:grid-cols-2 tw:sm:grid-cols-3 tw:lg:grid-cols-4 tw:gap-3">
        {% include 'balance/partials/shop_item_list.html' with items=items current_balance=current_balance is_htmx=is_htmx %}
      </div>
    </div>
  </div>
{% endblock %}
