<span
  class="tw:badge tw:font-semibold tw:text-gray-700
  {# djlint:off #}
         {% if size == 'sm' %}tw:badge-sm{% else %}tw:badge-md{% endif %}
         {% if grade == 'S' %}
           tw:bg-blue-300
         {% elif grade == 'A' %}
           tw:bg-green-300
         {% elif grade == 'B+' %}
           tw:bg-yellow-200
         {% elif grade == 'B' %}
           tw:bg-yellow-100
         {% elif grade == 'C' %}
           tw:bg-red-200
         {% elif grade == 'D' %}
           tw:bg-red-400
         {% elif grade == 'E' %}
           tw:bg-gray-300
         {% else %}
           tw:bg-gray-300
         {% endif %}
        "
  {# djlint:on #}
>
  {% if grade %}
    {{ grade }}: {{ rating_points }}
  {% else %}
    N/A
  {% endif %}
</span>
