{% extends "core.html" %}
{% load static %}
{% load tournament_extras %}
{% load widget_tweaks %}

{% block title %}Чемпионат | Дисквалификации — CIS-HAXBALL{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'tournament/disqualification/disqualifications_list.css' %}">

{% block profile_of_user %}
    <div class="tw:card tw:bg-base-100 tw:mt-2 tw:rounded-lg">
        <div class="tw:w-full tw:flex tw:justify-center tw:align-center tw:bg-base-300 tw:rounded-t-lg tw:py-2 tw:border-b tw:border-gray-300">
            <h2 class="tw:card-title">
                <img src="{% static 'img/ico/statistic/disqualified.png' %}" class="tw:w-8 tw:mt-auto tw:-mr-1">Дисквалификации
            </h2>
        </div>

        <div class="tw:w-full tw:p-0 tw:mx-0">
            <form id="filter-form" class="tw:flex tw:flex-wrap tw:items-center tw:mt-2 tw:mb-1 tw:mx-2"
                  hx-get="{% url 'tournament:disqualifications' %}"
                  hx-trigger="submit"
                  hx-target="#disqualifications-list-container"
                  hx-swap="innerHTML show:top"
                  hx-disabled-elt="find button">

                <div class="tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                    <label class="tw:label tw:text-base-content tw:font-bold">{{ filter.form.season.label }}</label>
                    {% render_field filter.form.season|add_class:'tw:select' %}
                </div>

                <div class="tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                    <label class="tw:label tw:text-base-content tw:font-bold">{{ filter.form.team.label }}</label>
                    {% render_field filter.form.team|add_class:'tw:select' %}
                </div>

                <div class="tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                    <label class="tw:label tw:text-base-content tw:font-bold">{{ filter.form.player.label }}</label>
                    {% render_field filter.form.player|add_class:'tw:select' %}
                </div>

                <div class="tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                    <label class="tw:label tw:text-base-content tw:font-bold">{{ filter.form.inspector.label }}</label>
                    {% render_field filter.form.inspector|add_class:'tw:select' %}
                </div>

                <div class="tw:flex tw:mt-auto tw:mb-2">
                    <button class="tw:btn tw:btn-primary">Применить фильтр</button>
                    <img class="htmx-indicator tw:ml-2 tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
                </div>
            </form>

            <div class="tw:max-h-[880px] tw:overflow-auto tw:rounded-b-lg">
                <table class="tw:table tw:table-zebra tw:table-pin-rows">
                    <thead class="tw:thead tw:text-left">
                        <tr class="tw:bg-base-300!">
                            <th scope="col">Сезон</th>
                            <th scope="col">Команда</th>
                            <th scope="col">Игрок</th>
                            <th scope="col">Матч</th>
                            <th scope="col">Причина дисквалификации</th>
                            <th scope="col">Распостраняется на</th>
                            <th scope="col">Снята</th>
                            <th scope="col">Инспектор</th>
                        </tr>
                    </thead>
                    <tbody id="disqualifications-list-container">
                        {% include 'tournament/disqualification/partials/disqualifications_list.html' %}
                    </tbody>
                </table>
                <img id="scroll-indicator" class="htmx-indicator tw:ml-2 tw:mb-1 tw:w-6 tw:absolute tw:bottom-0 tw:left-1/2"
                     src="{% static 'img/svg-loaders/bars.svg' %}">
            </div>
        </div>
    </div>
{% endblock %}
