{% extends "core/home.html" %}
{% load static %}
{% load tournament_extras %}
{% load widget_tweaks %}
{% load utils %}

{% partialdef stat-row %}
    <div class="tw:flex tw:w-full tw:flex-col tw:justify-center tw:mb-1">
        {% stats_percentage team1_stat team2_stat as percentages %}
        <div class="tw:flex tw:mx-5">
            <div class="tw:w-1/4 tw:px-1 tw:flex tw:flex-col tw:text-lg tw:font-semibold">
                <div>{% if team1_player %}{{ team1_player }}{% endif %}</div>
                <div>{% if team1_stat == 0 %}0{% else %}{{ team1_stat }}{% endif %}</div>
            </div>
            <div class="tw:w-1/2 tw:flex tw:flex-col tw:justify-center">
                <span class="tw:text-center tw:text-xl tw:font-semibold">{{ stat_name }}</span>
            </div>
            <div class="tw:w-1/4 tw:flex tw:flex-col tw:justify-end tw:px-0 tw:text-lg tw:font-semibold">
                <div class="tw:text-right">{% if team2_player %}{{ team2_player }}{% endif %}</div>
                <div class="tw:text-right">{% if team2_stat == 0 %}0{% else %}{{ team2_stat }}{% endif %}</div>
            </div>
        </div>

        <div class="tw:flex tw:mx-5 tw:h-2 {% if percentages.0 == 0 and percentages.1 == 0 %}tw:bg-secondary{% endif %}">
            <div class="tw:bg-red-500"
                 style="width: {{ percentages.0 }}%; height: 10px; {% if percentages.1 > 0 %}clip-path: polygon(0 0, 100% 0, calc(100% - 5px) 100%, 0% 100%);{% endif %}"></div>
            <div class="tw:bg-primary"
                 style="width: {{ percentages.1 }}%; height: 10px; {% if percentages.0 > 0 %}clip-path: polygon(5px 0, 100% 0, 100% 100%, 0% 100%);{% endif %}"></div>
        </div>
    </div>
{% endpartialdef %}

{% block title %}Чемпионат | Сравнить команды — CIS-HAXBALL{% endblock %}

{% block post %}
    <div class="tw:mt-2 tw:px-0">
        <div class="tw:card tw:bg-base-100 tw:mt-2 tw:rounded-lg">
            <div class="tw:w-full tw:flex tw:justify-center tw:align-center tw:bg-base-300 tw:rounded-t-lg tw:py-2 tw:border-b tw:border-gray-300">
                <h3 class="tw:text-center">
                    Сравнить команды
                </h3>
            </div>

            <div class="tw:card-body tw:px-2 tw:pb-2">
                <form id="teams-comparison-form" class="form-inline tw:mt-1 tw:mb-2 tw:ml-2 tw:px-3"
                      hx-get="{% url 'tournament:compare_teams' %}"
                      hx-trigger="submit"
                      hx-target="#teams-comparison-container"
                      hx-swap="innerHtml"
                      hx-disabled-elt="find button">

                    <div class="tw:flex tw:items-center tw:w-full tw:mb-2">
                        <div class="tw:w-2/5">
                            <div class="tw:flex tw:flex-col tw:items-start tw:mr-2 tw:mb-2">
                                <label class="tw:label tw:text-left tw:text-base-content tw:font-bold">{{ compare_form.team1.label }}</label>
                                {% render_field compare_form.team1|add_class:'tw:select' %}
                            </div>
                        </div>

                        <div class="tw:w-1/5 tw:self-end">
                            <div class="tw:flex tw:justify-center tw:ml-3 tw:mb-2">
                                <button class="tw:btn tw:btn-primary tw:rounded!">Сравнить</button>
                                <img class="htmx-indicator tw:ml-2 tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
                            </div>
                        </div>

                        <div class="tw:w-2/5">
                            <div class="tw:flex tw:flex-col tw:items-end tw:mr-2 tw:mb-2">
                                <label class="tw:label tw:text-left tw:text-base-content tw:font-bold">{{ compare_form.team2.label }}</label>
                                {% render_field compare_form.team2|add_class:'tw:select' %}
                            </div>
                        </div>
                    </div>

                    <div class="tw:text-sm tw:w-full tw:font-bold tw:text-base-content/85">
                        Фильтры <i class="fa fa-filter"></i>
                    </div>

                    <div class="tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                        <label class="tw:label tw:text-base-content tw:font-bold">{{ compare_form.season.label }}</label>
                        {% render_field compare_form.season|add_class:'tw:select' %}
                    </div>

                    <div class="tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                        <label class="tw:label tw:text-base-content tw:font-bold">{{ compare_form.tournament.label }}</label>
                        {% render_field compare_form.tournament|add_class:'tw:select' %}
                    </div>

                    <div class="tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                        <label class="tw:label tw:text-base-content tw:font-bold">{{ compare_form.matches_selection.label }}</label>
                        {% render_field compare_form.matches_selection|add_class:'tw:select' %}
                    </div>
                </form>

                <div class="tw:divider tw:mt-0!"></div>

                <div id="teams-comparison-container">
                    {% partialdef teams-comparison inline=True %}
                        <div class="tw:flex tw:w-full tw:mb-3">
                            <div class="tw:w-3/7 tw:grow-1 tw:flex tw:flex-col tw:gap-1 tw:justify-center">
                                {% with team=team1.team %}
                                    <div class="tw:flex tw:justify-center tw:mb-1">
                                        {% if team %}
                                            <div class="tw:mb-2">
                                                <img src="{{ team.logo.url }}" width="150" height="150">
                                            </div>
                                        {% else %}
                                            <div class="tw:mb-2">
                                                <img src="{% static 'img/default_team_logo.png' %}" width="150" height="150">
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="tw:text-center tw:text-black/90 tw:text-3xl tw:font-semibold">
                                        {% if team %}
                                            <a class="tw:text-black/80! tw:text-3xl tw:font-semibold" href="{{ team.get_absolute_url }}">
                                                {{ team.title }}
                                            </a>
                                        {% else %}
                                            <span>Выберите команду</span>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            </div>

                            <div class="tw:w-1/7 tw:divider tw:divider-horizontal tw:text-4xl">VS</div>

                            <div class="tw:w-3/7 tw:grow-1 tw:flex tw:flex-col tw:gap-1 tw:justify-center">
                                {% with team=team2.team %}
                                    <div class="tw:flex tw:justify-center tw:mb-1">
                                        {% if team %}
                                            <div class="tw:mb-2">
                                                <img src="{{ team.logo.url }}" width="150" height="150">
                                            </div>
                                        {% else %}
                                            <div class="tw:mb-2">
                                                <img src="{% static 'img/default_team_logo.png' %}" width="150" height="150">
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="tw:text-center tw:text-black/90 tw:text-3xl tw:font-semibold">
                                        {% if team %}
                                            <a class="tw:text-black/80! tw:text-3xl tw:font-semibold" href="{{ team.get_absolute_url }}">
                                                {{ team.title }}
                                            </a>
                                        {% else %}
                                            <span>Выберите команду</span>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            </div>
                        </div>

                        {% if team1.stats and team2.stats %}
                            <div class="tw:flex tw:flex-col tw:gap-1">
                                {% with stat_name='Матчи' team1_stat=team1.stats.matches team2_stat=team2.stats.matches %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Победы' team1_stat=team1.stats.wins team2_stat=team2.stats.wins %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Процент побед' team1_stat=team1.stats.winrate team2_stat=team2.stats.winrate %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Голы' team1_stat=team1.stats.goals team2_stat=team2.stats.goals %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Голы (ср. за матч)' team1_stat=team1.stats.goals_per_match team2_stat=team2.stats.goals_per_match %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Пропущенные голы' team1_stat=team1.stats.conceded_goals team2_stat=team2.stats.conceded_goals %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Пропущенные голы (ср. за матч)' team1_stat=team1.stats.conceded_goals_per_match team2_stat=team2.stats.conceded_goals_per_match %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Голевые передачи' team1_stat=team1.stats.assists team2_stat=team2.stats.assists %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Голевые передачи (ср. за матч)' team1_stat=team1.stats.assists_per_match team2_stat=team2.stats.assists_per_match %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Сухие таймы' team1_stat=team1.stats.cs team2_stat=team2.stats.cs %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Сухие таймы (ср. за матч)' team1_stat=team1.stats.cs_per_match team2_stat=team2.stats.cs_per_match %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Желтые карточки' team1_stat=team1.stats.yellow_cards team2_stat=team2.stats.yellow_cards %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Красные карточки' team1_stat=team1.stats.red_cards team2_stat=team2.stats.red_cards %}
                                    {% partial stat-row %}
                                {% endwith %}
                            </div>
                        {% endif %}

                        {% if team1.player_stats and team2.player_stats %}
                            <div class="tw:flex tw:flex-col tw:gap-1">
                                <div class="tw:w-full">
                                    <div class="tw:text-center tw:text-black/90 tw:text-2xl tw:font-semibold tw:mt-1">Игроки</div>
                                </div>
                                {% with stat_name='Наибольшее кол-во матчей' team1_player=team1.player_stats.matches.pl team2_player=team2.player_stats.matches.pl team1_stat=team1.player_stats.matches.count team2_stat=team2.player_stats.matches.count %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Наибольшее кол-во побед' team1_player=team1.player_stats.wins.pl team2_player=team2.player_stats.wins.pl team1_stat=team1.player_stats.wins.count team2_stat=team2.player_stats.wins.count %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Лучший бомбардир' team1_player=team1.player_stats.goals.pl team2_player=team2.player_stats.goals.pl team1_stat=team1.player_stats.goals.count team2_stat=team2.player_stats.goals.count %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Лучший ассистент' team1_player=team1.player_stats.assists.pl team2_player=team2.player_stats.assists.pl team1_stat=team1.player_stats.assists.count team2_stat=team2.player_stats.assists.count %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Лучший по результативным действиям' team1_player=team1.player_stats.goals_assists.pl team2_player=team2.player_stats.goals_assists.pl team1_stat=team1.player_stats.goals_assists.count team2_stat=team2.player_stats.goals_assists.count %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Лучший по сухим таймам' team1_player=team1.player_stats.cs.pl team2_player=team2.player_stats.cs.pl team1_stat=team1.player_stats.cs.count team2_stat=team2.player_stats.cs.count %}
                                    {% partial stat-row %}
                                {% endwith %}
                            </div>
                        {% endif %}
                    {% endpartialdef %}
                </div>
            </div>
        </div>
    </div>
{% endblock post %}