{% extends "core/home.html" %}
{% load static %}
{% load tournament_extras %}
{% load widget_tweaks %}
{% load utils %}

{% partialdef stat-row %}
    <div class="tw:flex tw:w-full tw:flex-col tw:justify-center tw:mb-1">
        {% stats_percentage player1_stat player2_stat as percentages %}
        <div class="tw:flex tw:mx-5">
            <div class="tw:w-1/4 tw:px-1">
                <div class="tw:text-left tw:text-lg tw:font-semibold">
                    {% if player1_stat == 0 %}0{% else %}{{ player1_stat }}{% endif %}
                </div>
            </div>
            <div class="tw:w-1/2 tw:flex tw:justify-center">
                <span class="tw:text-center tw:text-xl tw:font-semibold">{{ stat_name }}</span>
            </div>
            <div class="tw:w-1/4 tw:px-0">
                <div class="tw:text-right tw:text-lg tw:font-semibold">
                    {% if player2_stat == 0 %}0{% else %}{{ player2_stat }}{% endif %}
                </div>
            </div>
        </div>

        <div class="tw:flex tw:mx-5 tw:h-2 {% if percentages.0 == 0 and percentages.1 == 0 %}tw:bg-secondary{% endif %}">
            <div class="tw:bg-red-500"
                 style="width: {{ percentages.0 }}%; height: 10px; {% if percentages.1 > 0 %}clip-path: polygon(0 0, 100% 0, calc(100% - 5px) 100%, 0% 100%);{% endif %}"></div>
            <div class="tw:bg-primary"
                 style="width: {{ percentages.1 }}%; height: 10px; {% if percentages.0 > 0 %}clip-path: polygon(5px 0, 100% 0, 100% 100%, 0% 100%);{% endif %}"></div>
        </div>
    </div>
{% endpartialdef %}

{% block title %}Чемпионат | Сравнить игроков — CIS-HAXBALL {%endblock%}

{% block post %}
    <div class="tw:mt-2 tw:px-0">
        <div class="tw:card tw:bg-base-100 tw:mt-2 tw:rounded-2xl">
            <div class="tw:w-full tw:flex tw:justify-center tw:align-center tw:bg-base-300 tw:rounded-t-2xl tw:py-2 tw:border-b tw:border-gray-300">
                <div class="tw:card-title tw:py-1">
                    <h3 class="tw:text-center">
                        Сравнить игроков
                    </h3>
                </div>
            </div>

            <div class="tw:card-body tw:px-2 tw:pb-2">
                <form id="players-comparison-form" class="form-inline tw:mt-1 tw:mb-2 tw:ml-2 tw:px-3"
                      hx-get="{% url 'tournament:compare_players' %}"
                      hx-trigger="submit"
                      hx-target="#players-comparison-container"
                      hx-swap="innerHtml"
                      hx-disabled-elt="find button">

                    <div class="tw:flex tw:items-center tw:w-full tw:mb-2">
                        <div class="tw:w-2/5">
                            <div class="tw:flex tw:flex-col tw:items-start tw:mr-2 tw:mb-2">
                                <label class="tw:label tw:text-left tw:text-base-content tw:font-bold">{{ compare_form.player1.label }}</label>
                                {% render_field compare_form.player1|add_class:'tw:select' %}
                            </div>
                        </div>

                        <div class="tw:w-1/5 tw:self-end">
                            <div class="tw:flex tw:justify-center tw:ml-3 tw:mb-2">
                                <button class="tw:btn tw:btn-primary tw:rounded!">Сравнить</button>
                                <img class="htmx-indicator tw:ml-2 tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
                            </div>
                        </div>

                        <div class="tw:w-2/5">
                            <div class="tw:flex tw:flex-col tw:items-end tw:mr-2 tw:mb-2">
                                <label class="tw:label tw:text-left tw:text-base-content tw:font-bold">{{ compare_form.player2.label }}</label>
                                {% render_field compare_form.player2|add_class:'tw:select' %}
                            </div>
                        </div>
                    </div>

                    <div class="tw:text-sm tw:w-full tw:font-bold tw:text-base-content/85">
                        Фильтры <i class="fa fa-filter"></i>
                    </div>

                    <div class="tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                        <label class="tw:label tw:text-base-content tw:font-bold">{{ compare_form.season.label }}</label>
                        {% render_field compare_form.season|add_class:'tw:select' %}
                    </div>

                    <div class="tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                        <label class="tw:label tw:text-base-content tw:font-bold">{{ compare_form.tournament.label }}</label>
                        {% render_field compare_form.tournament|add_class:'tw:select' %}
                    </div>

                    <div class="tw:flex tw:flex-wrap tw:items-center tw:mr-2 tw:mb-2">
                        <label class="tw:label tw:text-base-content tw:font-bold">{{ compare_form.matches_selection.label }}</label>
                        {% render_field compare_form.matches_selection|add_class:'tw:select' %}
                    </div>
                </form>

                <div class="tw:divider tw:mt-0!"></div>

                <div id="players-comparison-container" class="tw:mb-2">
                    {% partialdef players-comparison inline=True %}
                        <div class="tw:flex tw:w-full tw:mb-3">
                            <div class="tw:w-3/7 tw:grow-1 tw:flex tw:flex-col tw:gap-1 tw:justify-center">
                                {% with player=player1.player %}
                                    <div class="tw:flex tw:justify-center tw:mb-1">
                                        {% if player %}
                                            <div class="tw:mb-2" style="background-image: url({{ player.name.user_profile.avatar.url }}); width: 150px; height: 150px; border-radius: 10px; margin: 0 auto; background-position: 50%; background-size: cover; border-radius: 100%;">
                                                {% if player.team %}
                                                    <img src="{{ player.team.logo.url }}" width="80" height="80" style="position: relative; top: 80px; left: 90px;">
                                                {% else %}
                                                    <img src="{% static 'img/ico/free_player.png' %}" width="70" height="70" style="position: relative; top: 95px; left: 105px;">
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div class="tw:mb-2" style="background-image: url({% media 'users_avatars/default/default.png' %}); width: 150px; height: 150px; border-radius: 10px; margin: 0 auto; background-position: 50%; background-size: cover; border-radius: 100%;">
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="tw:text-center tw:text-black/90 tw:text-3xl tw:font-semibold">
                                        {% if player %}
                                            <a class="tw:text-black/80! tw:text-3xl tw:font-semibold" href="{{ player.name.user_profile.get_absolute_url }}">
                                                {{ player.nickname }}
                                            </a>
                                        {% else %}
                                            <span>Выберите игрока</span>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            </div>

                            <div class="tw:w-1/7 tw:divider tw:divider-horizontal tw:text-4xl">VS</div>

                            <div class="tw:w-3/7 tw:grow-1 tw:flex tw:flex-col tw:gap-1 tw:justify-center">
                                {% with player=player2.player %}
                                    <div class="tw:flex tw:justify-center tw:mb-1">
                                        {% if player %}
                                            <div class="tw:mb-2" style="background-image: url({{ player.name.user_profile.avatar.url }}); width: 150px; height: 150px; border-radius: 10px; margin: 0 auto; background-position: 50%; background-size: cover; border-radius: 100%;">
                                                {% if player.team %}
                                                    <img src="{{ player.team.logo.url }}" width="80" height="80" style="position: relative; top: 80px; left: 90px;">
                                                {% else %}
                                                    <img src="{% static 'img/ico/free_player.png' %}" width="70" height="70" style="position: relative; top: 95px; left: 105px;">
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div class="tw:mb-2" style="background-image: url({% media 'users_avatars/default/default.png' %}); width: 150px; height: 150px; border-radius: 10px; margin: 0 auto; background-position: 50%; background-size: cover; border-radius: 100%;">
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="tw:text-center tw:text-black/90 tw:text-3xl tw:font-semibold">
                                        {% if player %}
                                            <a class="tw:text-black/80! tw:text-3xl tw:font-semibold" href="{{ player.name.user_profile.get_absolute_url }}">
                                                {{ player.nickname }}
                                            </a>
                                        {% else %}
                                            <span>Выберите игрока</span>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            </div>
                        </div>

                        {% if player1.stats and player2.stats %}
                            <div class="tw:flex tw:flex-col tw:gap-1">
                                {% with stat_name='Матчи' player1_stat=player1.stats.matches player2_stat=player2.stats.matches %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Победы' player1_stat=player1.stats.wins player2_stat=player2.stats.wins %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Процент побед' player1_stat=player1.stats.winrate player2_stat=player2.stats.winrate %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Голы' player1_stat=player1.stats.goals player2_stat=player2.stats.goals %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Голы (ср. за матч)' player1_stat=player1.stats.goals_per_match player2_stat=player2.stats.goals_per_match %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Голевые передачи' player1_stat=player1.stats.assists player2_stat=player2.stats.assists %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Голевые передачи (ср. за матч)' player1_stat=player1.stats.assists_per_match player2_stat=player2.stats.assists_per_match %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Результативные действия' player1_stat=player1.stats.goals_assists player2_stat=player2.stats.goals_assists %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Результативные действия (ср. за матч)' player1_stat=player1.stats.goals_assists_per_match player2_stat=player2.stats.goals_assists_per_match %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Сухие таймы' player1_stat=player1.stats.cs player2_stat=player2.stats.cs %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Сухие таймы (ср. за матч)' player1_stat=player1.stats.cs_per_match player2_stat=player2.stats.cs_per_match %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Желтые карточки' player1_stat=player1.stats.yellow_cards player2_stat=player2.stats.yellow_cards %}
                                    {% partial stat-row %}
                                {% endwith %}

                                {% with stat_name='Красные карточки' player1_stat=player1.stats.red_cards player2_stat=player2.stats.red_cards %}
                                    {% partial stat-row %}
                                {% endwith %}
                            </div>
                        {% endif %}
                    {% endpartialdef %}

                </div>
            </div>
        </div>
    </div>

{% endblock post %}