{% extends "core/home.html" %}
{% load static %}
{% load mathfilters %}
{% load tournament_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'tournament/disqualification/disqualifications_list.css' %}">

{% block title %}Чемпионат | Рейтинг команд — CIS-HAXBALL{% endblock %}

{% block profile_of_user %}
    <div class="card mb-2 mt-2" style="border-radius: 10px">
        <h2 class="text-center my-2">
            <i class="fa fa-star" aria-hidden="true"></i> Рейтинг команд
        </h2>
        <div class="container-fluid p-0 mx-0">
            <form method="get">
                {{ filter.form }}
                <button style="visibility: none;">Применить фильтр</button>
            </form>
            <div class="table-fix table-responsive">
                <table class="table table-hover" style="max-width: 100%">
                    <thead class="thead-dark py-2 text-left">
                    <tr>
                        <th scope="col" width="10%">Место</th>
                        <th scope="col" width="40%">Команда</th>
                        <th scope="col">Кол-во очков</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rating_entry in filter.qs %}
                        <tr>
                            <td>
                                <div>
                                    <span>
                                        {{rating_entry.rank}}
                                        {% if previous_rating %}
                                            {% with previous_rank=rating_entry.team|previous_rating_rank:previous_rating %}
                                            {% with rank_diff=previous_rank|sub:rating_entry.rank %}
                                            {% if previous_rank %}
                                                {% if rank_diff > 0 %}
                                                    (+{{rank_diff}})
                                                {% elif rank_diff < 0 %}
                                                    ({{rank_diff}})
                                                {% else %}
                                                    (—)
                                                {% endif %}
                                            {% else %}
                                                (NEW)
                                            {% endif %}
                                            {% endwith %}
                                            {% endwith %}
                                        {% endif %}
                                    </span>
                                </div>
                            </td>

                            <td class="team-rating-row pl-2 pr-1">
                                <div class="media">
                                    <img src="{{ rating_entry.team.logo.url }}" class="align-self-start mr-1"
                                         alt="{{ rating_entry.team.title }}" width="20" style="border-radius: 100%">
                                    <div class="media-body">
                                        <h6 class="mt-0" style="font-size: 16px">
                                            <a href="{{ rating_entry.team.get_absolute_url }}">{{ rating_entry.team.title }}</a>
                                        </h6>
                                    </div>
                                </div>
                            </td>

                            <td class="team-rating-row pl-2 pr-1">
                                <div>
                                    <span>{{rating_entry.total_points|floatformat:2}}</span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}