{% load static %}
{% load user_tags %}

{% if user == profile.name %}

  <div id="edit-profile-form-container" class="tw:card tw:bg-base-100 tw:rounded-lg">
    <h4 class="tw:text-center tw:mb-0! tw:pl-2 tw:pt-1 tw:pb-2 tw:border-b tw:border-neutral-300">Редактирование профиля</h4>

    <form method="post"
          enctype="multipart/form-data"
          hx-post="{% url 'core:edit_profile' profile.slug profile.id %}"
          hx-trigger="submit"
          hx-target="#edit-profile-form-container"
          hx-swap="outerHTML"
          hx-push-url="true"
          hx-disabled-elt="find button">

      <div class="tw:card user-card-full">
        <div class="tw:flex">
          <div class="tw:w-1/3 tw:rounded-bl-md bg-c-lite-green user-profile">
            <div class="tw:flex tw:flex-col tw:p-4 tw:text-white">
              <div class="tw:mb-2.5 tw:flex tw:flex-col tw:gap-2">
                <img src="{{ profile.avatar.url }}" width="100%" height="100%" class="tw:rounded" alt="User-Profile-Image">

                <h4 class="tw:font-semibold tw:text-center">{{ profile.name }}</h4>

                {# disable tag input if user has no permissions to edit it instead of not rendering it at all #}
                {% if user.is_superuser %}
                  <div class="tw:mt-2">
                    <fieldset class="tw:fieldset">
                      <legend class="tw:fieldset-legend tw:gap-0 tw:text-base">
                        Тег
                        <div class="tw:tooltip tw:tooltip-right tw:inline-block tw:ml-1"
                             data-tip="Тег - это набор символов, который отображается рядом с именем пользователя в профиле и комментариях в формате: username [tag]">
                          <i class="fa fa-info-circle tw:text-sm!" aria-hidden="true"></i>
                        </div>
                      </legend>
                      <input type="text"
                             name="tag"
                             value="{{ profile.tag }}"
                             maxlength="7"
                             class="tw:input tw:input-bordered tw:w-full tw:text-base-content"
                             placeholder="Максимум 7 символов">
                    </fieldset>
                  </div>
                {% endif %}

                <fieldset class="tw:fieldset">
                  <legend class="tw:fieldset-legend tw:text-base">Аватар</legend>
                  <input id="avatar-file" type="file" name="avatar" accept="image/*" class="tw:file-input tw:text-base-content" />
                </fieldset>

                {% if profile.name|can_edit_profile_bg %}
                  <div>
                    <fieldset class="tw:fieldset">
                      <legend class="tw:fieldset-legend tw:text-base">Фон</legend>
                      <input id="bg-file" type="file" name="background" accept="image/*" class="tw:file-input tw:text-base-content" />
                    </fieldset>

                    <fieldset class="tw:fieldset tw:my-1!">
                      <label class="tw:fieldset-label tw:text-base tw:text-white!">
                        <input id="remove_bg" type="checkbox" name="remove_bg" class="tw:checkbox tw:checkbox-sm" />
                        <span class="tw:align-middle">Удалить фон</span>
                      </label>
                    </fieldset>
                  </div>
                {% endif %}
              </div>

              <div class="tw:inline-flex tw:gap-3 tw:mt-3">
                Комментарии к профилю
                <label class="tw:toggle tw:text-base-content tw:inline-grid!">
                  <input type="checkbox" id="commentableCheck" name="commentable" {% if profile.commentable %}checked{% endif %} />
                  <svg aria-label="disabled"
                       xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 24 24"
                       fill="none"
                       stroke="currentColor"
                       stroke-width="4"
                       stroke-linecap="round"
                       stroke-linejoin="round">
                    <path d="M18 6 6 18" />
                    <path d="m6 6 12 12" />
                  </svg>
                  <svg aria-label="enabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g stroke-linejoin="round" stroke-linecap="round" stroke-width="4" fill="none" stroke="currentColor">
                      <path d="M20 6 9 17l-5-5"></path>
                    </g>
                  </svg>
                </label>
              </div>
            </div>
          </div>

          <div class="tw:w-2/3">
            <div class="tw:flex tw:flex-col tw:px-4 tw:py-2 tw:gap-2">
              <div class="tw:flex tw:justify-between tw:pb-2 tw:border-b tw:border-neutral-300">
                <h5 class="tw:font-semibold tw:self-end tw:mb-0!">Основная информация</h5>
                <div class="tw:flex tw:mt-auto tw:gap-2 tw:justify-end">
                  <img class="htmx-indicator tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
                  <button class="tw:btn tw:btn-primary">Сохранить</button>
                </div>
              </div>

              <div class="tw:flex tw:flex-wrap tw:gap-y-2">
                <div class="tw:sm:w-1/2 tw:w-full">
                  <div class="tw:font-semibold">Дата регистрации</div>
                  <div class="tw:text-neutral-500 tw:text-sm tw:font-semibold">{{ profile.name.date_joined|date }}</div>
                </div>
                <div class="tw:sm:w-1/2 tw:w-full">
                  <div class="tw:font-semibold">Последний визит</div>
                  <div class="tw:text-neutral-500 tw:text-sm tw:font-semibold">{{ profile.name.last_login }}</div>
                </div>
                <div class="tw:sm:w-1/2 tw:w-full">
                  <div class="tw:font-semibold tw:mb-1">Дата рождения</div>
                  <div class="tw:text-neutral-500 tw:text-sm tw:font-semibold">
                    <input type="date" id="start" name="born_date" value="{{ profile.born_date|date:"Y-m-d" }}" min="1966-01-01" max="2020-07-17">
                  </div>
                </div>
                <div class="tw:sm:w-1/2 tw:w-full">
                  <div class="tw:font-semibold tw:mb-1">Город</div>
                  <div class="tw:text-neutral-500 tw:text-sm tw:font-semibold">
                    <input type="text" class="tw:input tw:input-bordered" name="city" value="{{ profile.city }}">
                  </div>
                </div>
              </div>

              <div class="tw:my-3">
                <h5 class="tw:pb-1 tw:border-b tw:border-neutral-300">Контакты</h5>
                <div class="tw:flex tw:flex-wrap tw:gap-2">
                  <div class="tw:w-full tw:md:flex-1">
                    <div class="tw:flex tw:flex-col">
                      <div class="tw:font-semibold" style="margin-bottom: 0">Вк</div>
                      <div class="tw:text-neutral-500 tw:text-sm tw:font-semibold" style="margin-bottom: 0">id/никнейм (id12345)</div>

                      <input type="text" class="tw:input tw:input-bordered" name="vk" value="{{ profile.vk }}">
                    </div>
                  </div>

                  <div class="tw:w-full tw:md:flex-1">
                    <div class="tw:flex tw:flex-col">
                      <div class="tw:font-semibold" style="margin-bottom: 0">Telegram</div>
                      <div class="tw:text-neutral-500 tw:text-sm tw:font-semibold" style="margin-bottom: 0">Никнейм (без @)</div>

                      <input type="text" class="tw:input tw:input-bordered" name="telegram" value="{{ profile.telegram }}">
                    </div>
                  </div>

                  <div class="tw:w-full tw:md:flex-1">
                    <div class="tw:flex tw:flex-col">
                      <div class="tw:font-semibold" style="margin-bottom: 0">Discord</div>
                      <div class="tw:text-neutral-500 tw:text-sm tw:font-semibold" style="margin-bottom: 0">Имя#1234</div>

                      <input type="text" class="tw:input tw:input-bordered" name="discord" value="{{ profile.discord }}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="tw:mt-3">
                <h5 class="tw:pb-1 tw:border-b tw:border-neutral-300">Доп. информация</h5>
                <div class="tw:my-2">
                  <fieldset class="tw:fieldset">
                    <legend class="tw:fieldset-legend tw:text-lg!">О себе</legend>
                    <textarea class="tw:textarea tw:w-full tw:text-base!" rows="3" name="about">{{ profile.about }}</textarea>
                  </fieldset>
                </div>

                <div class="tw:my-2">
                  <fieldset class="tw:fieldset">
                    <legend class="tw:fieldset-legend tw:text-lg!">Любимые команды</legend>
                    <textarea class="tw:textarea tw:w-full tw:text-base!" rows="2" name="favourite_teams">{{ profile.favourite_teams }}</textarea>
                  </fieldset>
                </div>

                <div class="tw:my-2">
                  <fieldset class="tw:fieldset">
                    <legend class="tw:fieldset-legend tw:text-lg!">Любимые игроки</legend>
                    <textarea class="tw:textarea tw:w-full tw:text-base!" rows="2" name="favourite_players">{{ profile.favourite_players }}</textarea>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endif %}
