{% load static %}
{% load user_tags %}

{% if user == profile.name %}

  <div id="edit-profile-form-container" class="tw:card tw:bg-base-100 tw:rounded-lg">
    <h4 class="tw:text-center tw:mb-0! tw:pl-2 tw:pt-1 tw:pb-2 tw:border-b tw:border-neutral-300">Редактирование профиля</h4>

    {% if error_message %}
      <div class="tw:alert tw:alert-error tw:m-2">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <span>{{ error_message }}</span>
      </div>
    {% endif %}

    <form x-data="{ tag: {{ profile.tag|default_if_none:'' }} }"
          method="post"
          enctype="multipart/form-data"
          hx-post="{% url 'core:edit_profile' profile.slug profile.id %}"
          hx-trigger="submit"
          hx-target="#edit-profile-form-container"
          hx-swap="outerHTML"
          hx-push-url="true"
          hx-disabled-elt="find button"
          :hx-vals="JSON.stringify({tag: tag})">

      <div class="tw:card user-card-full">
        <div class="tw:flex">
          <div class="tw:w-1/3 tw:rounded-bl-md tw:bg-base-200 tw:border-r tw:border-neutral-300">
            <div class="tw:flex tw:flex-col tw:p-4">
              <div class="tw:mb-2.5 tw:flex tw:flex-col tw:gap-2">
                <img src="{{ profile.avatar.url }}" width="100%" height="100%" class="tw:rounded" alt="User-Profile-Image">

                <h4 class="tw:font-semibold tw:text-center tw:mb-0!">{{ profile.name }}</h4>

                <fieldset class="tw:fieldset">
                  <legend class="tw:fieldset-legend tw:text-base">Аватар</legend>
                  <input id="avatar-file" type="file" name="avatar" accept="image/*" class="tw:file-input tw:text-base-content" />
                </fieldset>

                <fieldset class="tw:fieldset tw:mt-2">
                  <legend class="tw:fieldset-legend tw:gap-1 tw:text-base tw:flex tw:items-center">
                    <span>Тег</span>
                    <div class="tw:tooltip tw:tooltip-right tw:inline-block">
                      <div class="tw:tooltip-content">
                        Тег отображается рядом с именем пользователя в профиле и комментариях в виде бэйджика с содержимым тега.
                        Разрешенные символы: A-Z, a-z, 0-9
                      </div>
                      <i class="fa fa-info-circle tw:text-sm!" aria-hidden="true"></i>
                    </div>
                    {% if not user|can_edit_user_tag %}
                      <div class="tw:tooltip tw:tooltip-right tw:ml-1" data-tip="Доступно с премиум подпиской">
                        <span class="tw:badge tw:badge-warning tw:badge-sm tw:cursor-default">Premium</span>
                      </div>
                    {% endif %}
                  </legend>
                  <input type="text"
                         name="tag"
                         value="{{ profile.tag|default_if_none:'' }}"
                         pattern="[A-Za-z0-9]{0,5}"
                         maxlength="5"
                         class="tw:input tw:w-full tw:disabled:border-base-300 tw:disabled:bg-base-300"
                         placeholder="Максимум 5 символов (A-Z, a-z, 0-9)"
                         x-model="tag"
                         {% if not user|can_edit_user_tag %}disabled{% endif %}>
                </fieldset>

                <div>
                  <fieldset class="tw:fieldset">
                    <legend class="tw:fieldset-legend tw:gap-1 tw:text-base tw:flex tw:items-center">
                      <span>Фон профиля</span>
                      {% if not user|can_edit_profile_bg %}
                        <div class="tw:tooltip tw:tooltip-right tw:ml-1" data-tip="Доступно с премиум подпиской">
                          <span class="tw:badge tw:badge-warning tw:badge-sm tw:cursor-default">Premium</span>
                        </div>
                      {% endif %}
                    </legend>
                    <input id="bg-file"
                           type="file"
                           name="background"
                           accept="image/*"
                           class="tw:file-input tw:disabled:border-base-300 tw:disabled:bg-base-300"
                           {% if not profile.name|can_edit_profile_bg %}disabled{% endif %} />
                  </fieldset>

                  <fieldset class="tw:fieldset tw:my-1!">
                    <label class="tw:fieldset-label">
                      <input id="remove_bg" type="checkbox" name="remove_bg" class="tw:checkbox tw:checkbox-sm" />
                      <span>Удалить фон</span>
                    </label>
                  </fieldset>
                </div>
              </div>

              <div class="tw:inline-flex tw:gap-3 tw:mt-3 tw:text-base-content/80 tw:font-semibold">
                Комментарии к профилю
                <label class="tw:toggle tw:inline-grid!">
                  <input type="checkbox" id="commentableCheck" name="commentable" {% if profile.commentable %}checked{% endif %} />
                  <svg aria-label="disabled"
                       xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 24 24"
                       fill="none"
                       stroke="currentColor"
                       stroke-width="4"
                       stroke-linecap="round"
                       stroke-linejoin="round">
                    <path d="M18 6 6 18" />
                    <path d="m6 6 12 12" />
                  </svg>
                  <svg aria-label="enabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g stroke-linejoin="round" stroke-linecap="round" stroke-width="4" fill="none" stroke="currentColor">
                      <path d="M20 6 9 17l-5-5"></path>
                    </g>
                  </svg>
                </label>
              </div>
            </div>
          </div>

          <div class="tw:w-2/3">
            <div class="tw:flex tw:flex-col tw:px-4 tw:py-2 tw:gap-2">
              <div class="tw:flex tw:justify-between tw:pb-2 tw:border-b tw:border-neutral-300">
                <h5 class="tw:font-semibold tw:self-end tw:mb-0!">Основная информация</h5>
                <div class="tw:flex tw:mt-auto tw:gap-2 tw:justify-end">
                  <img class="htmx-indicator tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
                  <button class="tw:btn tw:btn-primary">Сохранить</button>
                </div>
              </div>

              <div class="tw:grid tw:grid-cols-1 tw:md:grid-cols-2 tw:gap-2">
                <div class="tw:flex tw:flex-col">
                  <div class="tw:font-semibold">Дата регистрации</div>
                  <div class="tw:text-base-content/60 tw:text-sm tw:font-semibold">{{ profile.name.date_joined|date }}</div>
                </div>
                <div class="tw:flex tw:flex-col">
                  <div class="tw:font-semibold">Последний визит</div>
                  <div class="tw:text-base-content/60 tw:text-sm tw:font-semibold">{{ profile.name.last_login }}</div>
                </div>
                <div class="tw:flex tw:flex-col tw:gap-y-1">
                  <div class="tw:font-semibold">Дата рождения</div>
                  <div class="tw:text-base-content/60 tw:text-sm tw:font-semibold">
                    <input type="date"
                           class="tw:input"
                           name="born_date"
                           value="{{ profile.born_date|date:"Y-m-d" }}"
                           min="1966-01-01"
                           max="2020-07-17">
                  </div>
                </div>
                <div class="tw:flex tw:flex-col tw:gap-y-1">
                  <div class="tw:font-semibold">Город</div>
                  <div class="tw:text-base-content/60 tw:text-sm tw:font-semibold">
                    <input type="text" class="tw:input" name="city" value="{{ profile.city }}">
                  </div>
                </div>
              </div>

              <div class="tw:my-3">
                <h5 class="tw:pb-1 tw:border-b tw:border-neutral-300">Контакты</h5>
                <div class="tw:grid tw:grid-cols-1 tw:md:grid-cols-3 tw:gap-2">
                  <div class="tw:flex tw:flex-col">
                    <div class="tw:font-semibold" style="margin-bottom: 0">Вк</div>
                    <div class="tw:text-base-content/60 tw:text-sm tw:font-semibold" style="margin-bottom: 0">id/никнейм (id12345)</div>

                    <input type="text" class="tw:input" name="vk" value="{{ profile.vk }}">
                  </div>

                  <div class="tw:flex tw:flex-col">
                    <div class="tw:font-semibold" style="margin-bottom: 0">Telegram</div>
                    <div class="tw:text-base-content/60 tw:text-sm tw:font-semibold" style="margin-bottom: 0">Никнейм (без @)</div>

                    <input type="text" class="tw:input" name="telegram" value="{{ profile.telegram }}">
                  </div>

                  <div class="tw:flex tw:flex-col">
                    <div class="tw:font-semibold" style="margin-bottom: 0">Discord</div>
                    <div class="tw:text-base-content/60 tw:text-sm tw:font-semibold" style="margin-bottom: 0">username</div>

                    <input type="text" class="tw:input" name="discord" value="{{ profile.discord }}">
                  </div>
                </div>
              </div>

              <div class="tw:mt-3">
                <h5 class="tw:pb-1 tw:border-b tw:border-neutral-300">Доп. информация</h5>
                <div class="tw:my-2">
                  <fieldset class="tw:fieldset">
                    <legend class="tw:fieldset-legend tw:text-lg!">О себе</legend>
                    <textarea class="tw:textarea tw:w-full tw:text-base!" rows="3" name="about">{{ profile.about }}</textarea>
                  </fieldset>
                </div>

                <div class="tw:my-2">
                  <fieldset class="tw:fieldset">
                    <legend class="tw:fieldset-legend tw:text-lg!">Любимые команды</legend>
                    <textarea class="tw:textarea tw:w-full tw:text-base!" rows="2" name="favourite_teams">{{ profile.favourite_teams }}</textarea>
                  </fieldset>
                </div>

                <div class="tw:my-2">
                  <fieldset class="tw:fieldset">
                    <legend class="tw:fieldset-legend tw:text-lg!">Любимые игроки</legend>
                    <textarea class="tw:textarea tw:w-full tw:text-base!" rows="2" name="favourite_players">{{ profile.favourite_players }}</textarea>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endif %}
