{% load static %}
{% load user_tags %}
{% load thumbnail %}


<div class="tw:flex tw:p-4 comment-row {% if not comment.is_parent %} tw:pl-[7%]! {% endif %}" id="r{{ comment.id }}">

    <div class="tw:pl-2">
        <a href="{{ comment.author.user_profile.get_absolute_url }}">
            <div class="tw:mr-2 tw:avatar {% if comment.author|is_online:users_online %}tw:avatar-online{% else %}tw:avatar-offline{% endif %}">
                <div class="tw:w-[50px] tw:rounded-full {% if comment.author.is_superuser %}tw:ring tw:ring-warning tw:ring-offset-base-100 tw:ring-offset-1{% endif %}">
                    {% thumbnail comment.author.user_profile.avatar "50x50" crop="center" as avatar %}
                        <img src="{{ avatar.url }}" alt="{{ comment.author.username }}" width="50" class="tw:rounded-full">
                    {% endthumbnail %}
                </div>
            </div>
        </a>
    </div>
    <div class="comment-text tw:w-full">
        <div class="tw:flex tw:justify-between">
            <div class="tw:inline-flex tw:items-center">

                <div class="tw:m-0 tw:flex tw:items-center">

                    {% for icon in comment.author.user_profile.user_icon.all %}
                        <div class="tw:mr-1 tw:align-middle">
                            <img src="{{ icon.image.url }}" width="16px" height="16px" title="{{ icon.description }}">
                        </div>
                    {% endfor %}
                    <a href="{{ comment.author.user_profile.get_absolute_url }}" class="tw:font-semibold">
                        {{ comment.author.username }}
                    </a>

                    <span class="tw:ml-1 tw:badge tw:badge-sm {% if comment.author.user_profile.karma >= 0 %}tw:badge-success{% else %}tw:badge-error{% endif %}">
                        {{ comment.author.user_profile.karma }}
                    </span>
                </div>

                {% if not comment.is_parent %}
                    <i class="tw:ml-2 tw:text-sm">
                        ответил
                    </i>

                    <div class="tw:m-0 tw:flex tw:ml-2 tw:font-semibold">
                        {% for icon in child_comment.parent.author.user_profile.user_icon.all %}
                            <div class="tw:mr-1 tw:align-middle">
                                <img src="{{ icon.image.url }}" width="16px" height="16px"
                                     title="{{ icon.description }}">
                            </div>
                        {% endfor %}
                        <a href="{{ child_comment.parent.author.user_profile.get_absolute_url }}">
                            {{ child_comment.parent.author.username }}
                        </a>
                    </div>
                {% endif %}

            </div>
            <span>
                {% comment %}
                    {% for achievement in comment.author.user_player.achievements.all %}
                        <img src="{{ achievement.mini_image.url }}" width="20px" height="20px"
                             title="{{ achievement.description }}">
                    {% endfor %}
                {% endcomment %}

                <a href="{{ object.get_absolute_url }}?page={{ comments.number }}#r{{ comment.id }}">#{{ comment.id }}</a>
                {% if user.is_superuser or comment.author == user and comment|can_edit and not comment|exceeds_edit_limit %}
                    <a :style="editingComment && {'pointer-events': 'none'}" @click="editingComment = true" class="tw:ml-1" title="Редактировать"
                       hx-trigger="click"
                       hx-get="{% url 'core:edit_comment' comment.id %}"
                       hx-target="#r{{ comment.id }}"
                       hx-swap="outerHTML">
                        <i class="fa fa-pencil tw:text-warning" aria-hidden="true">
                        </i>
                    </a>
                {% endif %}

                {% if user.is_superuser or comment.author == user and comment|can_delete or comment.content_object.name == user %}
                    <a :style="editingComment && {'pointer-events': 'none'}" class="tw:text-error" data-toggle="modal"
                       data-target="#deleter{{ comment.id }}">
                        <i class="fa fa-times tw:text-error" aria-hidden="true" style="font-size: 20px"></i>
                    </a>

                    <div class="modal fade" id="deleter{{ comment.id }}" tabindex="-1"
                         role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <h4 class="modal-title">Удалить комментарий?</h4>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-danger"
                                            data-dismiss="modal">Нет, подождите</button>
                                    <form method="POST"
                                          hx-post="{% url 'core:delete_comment' comment.id %}"
                                          hx-trigger="submit"
                                          hx-target="#comments-container"
                                          hx-swap="outerHTML"
                                          hx-indicator="#delete-comment-indicator">
                                        <button type="submit" class="btn btn-primary">Да, я уверен</button>
                                    </form>

                                    <img id="delete-comment-indicator" class="htmx-indicator tw:ml-2 tw:w-6"
                                         src="{% static 'img/svg-loaders/bars.svg' %}" height="24">
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}

            </span>
        </div>

        <div class="tw:inline-flex tw:items-center">
            <span class="tw:text-base-content/70 tw:text-xs">
                <i class="fa fa-calendar text-primary" aria-hidden="true"></i>
                {{ comment.created|date:"d.m.y" }}
                <i class="fa fa-clock-o text-primary" aria-hidden="true"></i>
                {{ comment.created|time:"H:i" }}
                {% if comment.edited %}
                    {% if comment.edited.date == comment.created.date %}
                        <i class="fa fa-pencil comment-edit" aria-hidden="true"
                           data-comment-edit-title='изм. {{comment.edited|time:"H:i"}}'></i>
                    {% else %}
                        <i class="fa fa-pencil comment-edit" aria-hidden="true"
                           data-comment-edit-title='изм. {{comment.edited|date:"d.m.y"}} {{comment.edited|time:"H:i"}}'></i>
                    {% endif %}
                {% endif %}
            </span>

            {% include 'core/include/like_dislike_comment.html' with comment=comment %}

            <span class="action-icons">
                <a href="#addcomment" class="tw:hover:text-[#1976d2]!"
                   {% if user.is_authenticated %}
                       onclick="addComment('{{ comment.author.username }}','{{ comment.id }}')"
                   {% else %}
                       onclick="login_modal.showModal()"
                   {% endif %}
                >
                    <i class="fa fa-reply tw:ml-2 tw:mt-2"></i>
                </a>
            </span>
        </div>
        <div class="comment-body tw:mt-3">
            {{ comment.body|safe }}
        </div>

        <div class="comment-footer" x-data="{showReplies: true}">
            {% if comment.is_parent and comment.childs_count > 2 %}
                <a href="#commentcollapse{{ comment.id }}" data-toggle="collapse"
                   @click="showReplies = !showReplies"
                   aria-expanded="true"
                   aria-controls="commentcollapse{{ comment.id }}" class="small">
                    <i class="fa" :class="showReplies ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    <span x-text="showReplies ? 'Скрыть ответы' : 'Показать ответы'"></span>
                </a>
                <small>({{ comment.childs_count }})</small>
            {% endif %}
        </div>
    </div>
</div>