{% load static %}
{% load user_tags %}

{% with content_type=object|content_type %}
  <form id="addcomment"
        class="tw:text-center"
        hx-post="{% url 'core:add_comment' content_type.pk object.id %}"
        hx-trigger="submit"
        hx-target="#comments-container"
        hx-swap="outerHTML"
        hx-on::config-request="event.detail.parameters['body'] = CKEDITOR.instances['id_body'].getData()"
        hx-on::before-request="document.getElementById('cke_id_body').style.filter = 'blur(1px)';"
        hx-on::after-request="CKEDITOR.instances['id_body'].setData(''); document.getElementById('cke_id_body').style.filter = 'none';"
        hx-disabled-elt="find button[type=submit]">

    {{ comment_form.media }}
    <input type="hidden" name="parent" id="parent-id" :value="parentComment?.id">

    <template x-if="parentComment !== null">
      <div class="tw:text-left tw:px-1 tw:font-semibold">
        Ответить на
        <a :href="`#r${parentComment.id}`" class="tw:link">комментарий</a>
        <span x-text="parentComment.author"></span>

        <i class="fa fa-times tw:text-base-content/70 tw:text-[13px]! tw:cursor-pointer" @click="detachComment()"></i>
      </div>
    </template>

    <div class="tw:mt-2 tw:mb-1 tw:ml-1">{{ comment_form.body }}</div>

    <div class="tw:flex tw:justify-end tw:mt-auto tw:mb-1 tw:mr-2">
      <img class="htmx-indicator tw:mr-2 tw:w-6" src="{% static 'img/svg-loaders/bars.svg' %}">
      <button type="submit" class="tw:btn tw:btn-primary">Отправить</button>
    </div>

  </form>
{% endwith %}
