{% load static %}
{% load tournament_extras %}

<div class="tw:flex tw:flex-col tw:gap-1">
    {% if events|length == 0 %}
        <div class="tw:flex tw:w-full">
            <div class="tw:w-5/12"></div>

            <div class="tw:w-2/12 tw:flex tw:justify-center">
                <h6 class="event-time">—</h6>
            </div>

            <div class="tw:w-5/12"> </div>
        </div>
    {% endif %}

    {% for event in events %}
        <div class="tw:flex tw:w-full">
            <div class="tw:w-5/12 tw:flex tw:justify-center">
                {% include 'tournament/include/match_team_events.html' with team=match.team_home %}
            </div>
            <div class="tw:w-2/12 tw:flex tw:justify-center">
                <h6 class="event-time">{{ event|event_time }}</h6>
            </div>
            <div class="tw:w-5/12 tw:flex tw:justify-center">
                {% include 'tournament/include/match_team_events.html' with team=match.team_guest %}
            </div>
        </div>
    {% endfor %}
</div>


